In [20]:
import numpy as np
import pandas as pd
from time import time
from sklearn.cluster import AffinityPropagation
from pandas.computation import expressions as expr
import random

In [2]:
# set configure
path = "./CDR_CONCAT/"
filename = "CDR_CONCAT_TABLE_4"
relative_filename = path + filename + ".csv"
# out_filename = "mds_mly_minus20160901"
# after the numeric_st_idx's number will be tranform to int64
numeric_st_idx = 1
n_clusters = 5

In [7]:
# read revise csv file and print cost time
# just load 5 data 
t0 = time()
df = pd.read_csv(relative_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

time for read csv: 4.09

In [9]:
df.head()

,mo_workday_cnt,mo_workday_time,mo_holiday_cnt,mo_holiday_time,mt_workday_cnt,mt_workday_time,mt_holiday_cnt,mt_holiday_time
0,21,1989,11,453,23,1421,3,154
1,32,2537,23,1700,76,10633,25,1839
2,2,146,7,1805,18,628,18,544
3,61,2291,37,1404,32,1172,26,769
4,40,5366,23,842,45,2731,18,490

In [5]:
len(df)

469623

In [16]:
# select columns
df = df[['mo_workday_cnt','mo_holiday_cnt']]
# df = df[['mo_workday_cnt','mo_holiday_cnt','mt_workday_cnt','mt_holiday_cnt']]
# df = df[['mo_workday_cnt','mo_workday_time','mo_holiday_cnt','mo_holiday_time', 'mt_workday_cnt','mt_workday_time','mt_holiday_cnt','mt_holiday_time']]

In [22]:
# sample rows
df = df.sample(frac = 0.1, replace = True)
df

        mo_workday_cnt  mo_holiday_cnt
4722               116              60
409607              41               8
15542               76              19
315862             113              35
351571               4              10
344682               1               0
46252               34               9
185850               2               5
349871             128              37
415174               4               5
456975              70              35
219658              52              12
374596              94              63
448736               1               1
428405              26               8
427057              11               2
345313              51              23
124769              91              12
256026              27               4
267538               1               0
251403              12               6
318470              25               0
64561                2               2
189878               8               6
767                 19               9
376407               3               1
185463              64              37
66389                5               0
178704              10              23
127255              41               4
...                ...             ...
96373               11              10
377                  4               3
362936               4               7
310580               5               0
101516              12               3
194655              29              10
385756             103               3
233061              55              20
304225              16               5
286173               6               4
247842               2               0
100795              14              19
468764              37              15
245887               0               1
64774              122              63
87889               37              15
49858                3               1
77527              111              49
18091                3               1
343098              70              41
135585               1               0
85734               19               2
318949              76              21
443338             268              72
244952               6               0
382867              11               4
34853                2               0
358251              12              11
273115               0               1
250022              16              12

[46962 rows x 2 columns]

In [17]:
df.values

array([[21, 11],
       [32, 23],
       [ 2,  7],
       ...,
       [12, 16],
       [51, 22],
       [ 7,  6]], dtype=int64)

In [23]:
t0 = time()
af = AffinityPropagation().fit(df.values)
print("time for k mean csv: %.2f " % (time()-t0))

MemoryError:

In [30]:
df.iloc[1][numeric_st_idx:]

VOICE_MO_HOUR_0_CNT           0
VOICE_MO_HOUR_1_CNT           0
VOICE_MO_HOUR_2_CNT           0
VOICE_MO_HOUR_3_CNT           0
VOICE_MO_HOUR_4_CNT           0
VOICE_MO_HOUR_5_CNT           0
VOICE_MO_HOUR_6_CNT           0
VOICE_MO_HOUR_7_CNT           0
VOICE_MO_HOUR_8_CNT           2
VOICE_MO_HOUR_9_CNT           0
VOICE_MO_HOUR_10_CNT          1
VOICE_MO_HOUR_11_CNT          1
VOICE_MO_HOUR_12_CNT          2
VOICE_MO_HOUR_13_CNT          0
VOICE_MO_HOUR_14_CNT          0
VOICE_MO_HOUR_15_CNT          0
VOICE_MO_HOUR_16_CNT          1
VOICE_MO_HOUR_17_CNT          0
VOICE_MO_HOUR_18_CNT          1
VOICE_MO_HOUR_19_CNT          1
VOICE_MO_HOUR_20_CNT          0
VOICE_MO_HOUR_21_CNT          0
VOICE_MO_HOUR_22_CNT          0
VOICE_MO_HOUR_23_CNT          0
VOICE_MO_HOUR_0_TIME          0
VOICE_MO_HOUR_1_TIME          0
VOICE_MO_HOUR_2_TIME          0
VOICE_MO_HOUR_3_TIME          0
VOICE_MO_HOUR_4_TIME          0
VOICE_MO_HOUR_5_TIME          0
                          ...
VOICE_MO_HOUR_MON_TIME      534
VOICE_MO_HOUR_TUE_TIME      109
VOICE_MO_HOUR_WED_TIME      110
VOICE_MO_HOUR_THU_TIME      178
VOICE_MO_HOUR_FRI_TIME     1606
VOICE_MO_HOUR_SAT_TIME      906
workday_cnt                  32
workday_time               2537
holiday_cnt                  23
holiday_time               1700
Unnamed: 0.1                  1
MINING_DW_SUBSCR_NO.3      1179
VOICE_MT_SUN_CNT             10
VOICE_MT_MON_CNT             20
VOICE_MT_TUE_CNT             10
VOICE_MT_WED_CNT             13
VOICE_MT_THU_CNT             16
VOICE_MT_FRI_CNT             17
VOICE_MT_SAT_CNT             15
VOICE_MT_SUN_TIME           406
VOICE_MT_MON_TIME          1869
VOICE_MT_TUE_TIME           427
VOICE_MT_WED_TIME           595
VOICE_MT_THU_TIME          1711
VOICE_MT_FRI_TIME          6031
VOICE_MT_SAT_TIME          1433
workday_cnt.1                76
workday_time.1            10633
holiday_cnt.1                25
holiday_time.1             1839
Name: 1, Length: 137, dtype: int64

In [31]:
print(kmeans.predict(df.iloc[1][numeric_st_idx:]))

[2]

C:\Users\VIPLAB\AppData\Local\conda\conda\envs\py36\lib\site-packages\sklearn\utils\validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

In [9]:
del dask_df

In [8]:
del df