In [1]:
import os.path
import numpy as np
import pandas as pd
from time import time

In [24]:
# set configure
path = "../DATA_FULL/"
filename = "CDR_MO_WEEK_COMPLETED"
# relative_filename = path + filename + ".csv"
relative_filename = path + filename + ".txt"
out_filename = filename + "_revise.csv"
# after the numeric_st_idx's number will be tranform to int64
numeric_st_idx = 2
# pick the columns of u wants
# wants_cols = ['DATA_MONTH', 'MINING_DW_SUBSCR_NO', 'AGE', "MO_TTL_DURATION","MO_ONNET_DUR","MO_OFFNET_DUR","PSTN_DUR","MO_TTL_COUNT","MO_ONNET_CNT","MO_OFFNET_CNT","PSTN_CNT","MT_TTL_DURATION","MT_ONNET_DUR","MT_OFFNET_DUR","MT_PSTN_DUR","MT_TTL_COUNT","MT_ONNET_CNT","MT_OFFNET_CNT","MT_PSTN_CNT","MOC_FET_DUR","MOC_TWM_DUR","MOC_CHM_DUR","MOC_OTH_DUR","MOC_PSTN_DUR","MOST_MO_DUR","MTC_FET_DUR","MTC_TWM_DUR","MTC_CHM_DUR","MTC_PSTN_DUR","MOST_MT_DUR"]

In [25]:
# read csv file and print cost time
t0 = time()
# df = pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False)
# df = pd.read_csv(relative_filename, error_bad_lines=False)
df = pd.read_csv(relative_filename, error_bad_lines=False, nrows = 50)
print("time for read csv: %.2f" % (time()-t0))

time for read csv: 0.01

In [22]:
len(df)

50

In [23]:
df.head()

,MINING_DW_SUBSCR_NO,VOICE_MONTH,VOICE_MO_HOUR_SUN_CNT,VOICE_MO_HOUR_MON_CNT,VOICE_MO_HOUR_TUE_CNT,VOICE_MO_HOUR_WED_CNT,VOICE_MO_HOUR_THU_CNT,VOICE_MO_HOUR_FRI_CNT,VOICE_MO_HOUR_SAT_CNT,VOICE_MO_HOUR_SUN_TIME,VOICE_MO_HOUR_MON_TIME,VOICE_MO_HOUR_TUE_TIME,VOICE_MO_HOUR_WED_TIME,VOICE_MO_HOUR_THU_TIME,VOICE_MO_HOUR_FRI_TIME,VOICE_MO_HOUR_SAT_TIME
0,10001264549,2017/2/1,0,0,0,0,0,0,1,0,0,0,0,0,0,317
1,10000766476,2017/1/1,8,7,7,6,3,4,4,5929,5451,4597,4515,4164,3625,1316
2,3125192737,2017/1/1,0,2,1,0,1,0,0,0,119,132,0,15,0,0
3,3116849377,2017/1/1,0,3,8,3,0,0,1,0,343,648,601,0,0,30
4,10001140668,2017/2/1,1,3,0,1,0,1,1,42,49,0,51,0,17,25

In [6]:
df['VOICE_DATE'] = pd.to_datetime(df['VOICE_DATE'])

In [8]:
for month_idx in range(1,13):
    divide_month = df[df['VOICE_DATE'].dt.month == month_idx]
    print("month = %d data = %d" % (month_idx, len(divide_month)))

month = 1 data = 8570104
month = 2 data = 252822
month = 3 data = 8333266
month = 4 data = 7902643
month = 5 data = 0
month = 6 data = 0
month = 7 data = 0
month = 8 data = 0
month = 9 data = 0
month = 10 data = 0
month = 11 data = 0
month = 12 data = 0

In [19]:
# remove row which the value is null in column age
if("AGE" in df.columns):
    df = df.dropna(axis=0, subset =['AGE'])
    print("remove Age = null")
# remove row which the value is ? in column MINING_DW_SUBSCR_NO
if("MINING_DW_SUBSCR_NO" in df.columns):
    df = df[df["MINING_DW_SUBSCR_NO"] != "?"]
    print("remove MINING_DW_SUBSCR_NO == ?")

remove MINING_DW_SUBSCR_NO == ?

In [20]:
df.head()

,MINING_DW_SUBSCR_NO,VOICE_MONTH,VOICE_MO_HOUR_SUN_CNT,VOICE_MO_HOUR_MON_CNT,VOICE_MO_HOUR_TUE_CNT,VOICE_MO_HOUR_WED_CNT,VOICE_MO_HOUR_THU_CNT,VOICE_MO_HOUR_FRI_CNT,VOICE_MO_HOUR_SAT_CNT,VOICE_MO_HOUR_SUN_TIME,VOICE_MO_HOUR_MON_TIME,VOICE_MO_HOUR_TUE_TIME,VOICE_MO_HOUR_WED_TIME,VOICE_MO_HOUR_THU_TIME,VOICE_MO_HOUR_FRI_TIME,VOICE_MO_HOUR_SAT_TIME
0,10001264549,2017/2/1,0,0,0,0,0,0,1,0,0,0,0,0,0,317
1,10000766476,2017/1/1,8,7,7,6,3,4,4,5929,5451,4597,4515,4164,3625,1316
2,3125192737,2017/1/1,0,2,1,0,1,0,0,0,119,132,0,15,0,0
3,3116849377,2017/1/1,0,3,8,3,0,0,1,0,343,648,601,0,0,30
4,10001140668,2017/2/1,1,3,0,1,0,1,1,42,49,0,51,0,17,25

In [21]:
# clean non numeric data
# iteration avoid memory leak
for col in df.columns[numeric_st_idx:]:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    # let nan == 0
#     print(col)
    df[col] = df[col].fillna(0)
    df[col] = df[col].astype(np.int64)
# df = df.fillna(0)
# # df[df.columns[numeric_st_idx:]] = df[df.columns[numeric_st_idx:]].apply(np.int64)
# for col in df.columns[numeric_st_idx:]:
#     df[col] = df[col].apply(np.int32)

In [22]:
df.dtypes

MINING_DW_SUBSCR_NO       object
VOICE_MONTH               object
VOICE_MO_HOUR_SUN_CNT      int64
VOICE_MO_HOUR_MON_CNT      int64
VOICE_MO_HOUR_TUE_CNT      int64
VOICE_MO_HOUR_WED_CNT      int64
VOICE_MO_HOUR_THU_CNT      int64
VOICE_MO_HOUR_FRI_CNT      int64
VOICE_MO_HOUR_SAT_CNT      int64
VOICE_MO_HOUR_SUN_TIME     int64
VOICE_MO_HOUR_MON_TIME     int64
VOICE_MO_HOUR_TUE_TIME     int64
VOICE_MO_HOUR_WED_TIME     int64
VOICE_MO_HOUR_THU_TIME     int64
VOICE_MO_HOUR_FRI_TIME     int64
VOICE_MO_HOUR_SAT_TIME     int64
dtype: object

In [23]:
# write to csv and no index
t0 = time()
df.to_csv(out_filename, index=False)
print("time for output csv file: %.2f" % (time()-t0))

time for output csv file: 143.23

In [9]:
del df

In [ ]:
# read revise csv file and print cost time
t0 = time()
df = pd.read_csv(out_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

In [ ]:
# show each columns type
df.dtypes