In [2]:
import os.path
import numpy as np
import pandas as pd
from time import time

In [3]:
# set configure
path = "./"

# path = "./marketing_analyze/"
# path = "D:/0730data_backup/"
# path = "C:/Users/VIPLAB/Downloads/Spark_data/"
# filename = "april_marketing_anylze_full_table_group12_max_min"
# filename = "april_marketing_anylze_numeric"
# filename = "CHNL_NSP_CATG_MT_COMPLETED"
# filename = "0729_marketing_with_picked_group11_numeric_max_min"

# filename = "0729_marketing_with_picked_group11_numeric_max_min"

# path = "D:/NEW_DATA_FULL_2017_6_16/"
filename = "Groups_ID_10_catg_0728"
relative_filename = path + filename + ".csv"
# relative_filename = path + filename + ".txt"
# wants_cols = ['MINING_DW_SUBSCR_NO', 'CUST_TYPE']

In [4]:
# read csv file and print cost time
t0 = time()
# df = pd.read_csv(relative_filename, error_bad_lines=False)
# df = pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False)
# df = pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False, nrows = 100000)
# df = pd.read_csv(relative_filename, error_bad_lines=False)
# df = pd.read_csv(relative_filename, error_bad_lines=False)

# df = pd.read_csv(relative_filename, error_bad_lines=False)
# df = pd.read_csv(relative_filename, usecols = wants_cols, sep  = '\t', error_bad_lines=False)

# df = pd.read_csv(relative_filename, error_bad_lines=False, nrows = 10)
df = pd.read_csv(relative_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

time for read csv: 0.67

In [5]:
len(df)

1811684

In [4]:
df_cols = list(df.columns)

In [5]:
df_cols

['Unnamed: 0', 'MINING_DW_SUBSCR_NO', 'Groups']

In [13]:
for col in df_cols:
    if "dor" in col:
        print(col)

In [6]:
df.groupby("Groups").count()

                                           Unnamed: 0  MINING_DW_SUBSCR_NO
Groups
Adult                                           52278                52278
Game                                            84430                84430
HomeLife                                        70059                70059
Infrequent_User                                137920               137920
InstantMessage-High                            349041               349041
InstantMessage-SuperHigh                       329517               329517
Map                                             97811                97811
No_ignificant_preference                       212000               212000
No_ignificant_preference(instant_message)      256804               256804
Portal                                          95650                95650
Social-media                                   126174               126174

In [12]:
len(df)

1811684

In [14]:
len(df_cols)

171

In [15]:
df.head()

,Groups,DATA_MONTH,RENEW_IND,GA_IND,ACTV_TYPE,SRV_TYPE_DESC,GENDER_CODE,ORIG_OPR_ID,AGE,TENURE_SCV,...,CWC_CATG4_CNT,CWC_CATG5_CNT,CWC_CATG6_CNT,CWC_CATG7_CNT,CWC_CATG8_CNT,CWC_CATG9_CNT,CWC_CATG10_CNT,CWC_CATG11_CNT,CWC_CATG12_CNT,CWC_CATG13_CNT
0,No_ignificant_preference,2017/4/1,N,N,MNP,F-POSTPAID-4G,M,CH3,49,8.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,No_ignificant_preference(instant_message),2017/4/1,N,N,MNP,F-POSTPAID-4G,F,CH3,48,8.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,No_ignificant_preference,2017/4/1,N,N,MNP,F-POSTPAID-3G,M,TW3,52,8.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Portal,2017/4/1,N,N,MNP,F-POSTPAID-4G,F,TW3,43,8.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,InstantMessage-High,2017/4/1,N,N,MNP,F-POSTPAID-4G,F,TW3,47,8.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# set configure
# path = "../DATA_FULL/"
# path = "./"
# filename = "DNA_KMEANS_RESULT_ID_NEW"
path = "./"
filename = "Groups_ID_0712"
relative_filename = path + filename + ".csv"
# relative_filename = path + filename + ".txt"

In [ ]:
group_df =  pd.read_csv(relative_filename, error_bad_lines=False)
group_df.head()

In [ ]:
for col in L1M_PROM_COMMIT_MONTHS:
    if(col not in df_cols):
        print("col not found =>", col)

In [ ]:
df.groupby("Groups").count()

In [ ]:
group_df.groupby("Groups").count()

In [ ]:
len(df)

In [ ]:
df.head()

In [ ]:
for col in df.columns:
    print()
    print()
    print()
    print(col)
    print("==========================")
    print(df[col].unique())

In [ ]:
df[(df["FLAT_RATE_4G_IND"] == "N") & (df["FLAT_RATE_3G_IND"] == "N")]

In [ ]:
df.head()

In [ ]:
df.groupby("Groups").count()

In [ ]:
temp_df = df[df.columns[1:]]

In [ ]:
temp_df

In [ ]:
# write to csv and no index
t0 = time()
temp_df.to_csv("DATA_FOR_KMEANS_revise.csv", index=False)
print("time for output csv file: %.2f" % (time()-t0))

In [ ]:
path = "./marketing_analyze/"
filename = "group_id_with_none_20170709_12.csv"
# TAG K MEAN RESULT
GROUP_ID_FILE = path + filename
group_df = pd.read_csv(GROUP_ID_FILE, error_bad_lines=False, usecols = ["MINING_DW_SUBSCR_NO", "Groups"])
df_combine_group = pd.merge(group_df, df, on='MINING_DW_SUBSCR_NO', how='inner')

In [ ]:
len(df_combine_group)

In [ ]:
df_combine_group.groupby("Groups").count()

In [ ]:
df_combine_group[df_combine_group["Groups"] == "Infrequent Internet User"].groupby("CUST_TYPE").count()

In [ ]:
df_combine_group[df_combine_group["Groups"] == "None"].groupby("CUST_TYPE").count()

In [ ]:
50183 + 283147 + 127009

In [ ]:
len(df)

In [ ]:
path = "D:/NEW_DATA_FULL_2017_7_4/"
filename = "MDS_SINGLESIM_APRIL_DORMANT_AGE_TENURE_COMPLETED"
# relative_filename = path + filename + ".csv"
relative_filename = path + filename + ".txt"
user_df = pd.read_csv(relative_filename, error_bad_lines=False)

In [ ]:
len(user_df)

In [ ]:
user_df = pd.merge(user_df, df, on='MINING_DW_SUBSCR_NO', how='left')

In [ ]:
len(user_df)

In [ ]:
user_df.groupby("CURR_BILL_PLAN_NAME").count()

In [ ]:
user_df.groupby("CURR_DATA_BILL_PLAN_NAME").count()

In [ ]:
user_df['CURR_BILL_PLAN_NAME'] = user_df['CURR_BILL_PLAN_NAME'].fillna("?")

In [ ]:
user_df['CURR_DATA_BILL_PLAN_NAME'] = user_df['CURR_DATA_BILL_PLAN_NAME'].fillna("?")

In [ ]:
user_df.groupby("CURR_BILL_PLAN_NAME").count()

In [ ]:
user_df.groupby("CURR_DATA_BILL_PLAN_NAME").count()

In [ ]:
user_df[(user_df['CURR_BILL_PLAN_NAME'] == "?") & (user_df['CURR_DATA_BILL_PLAN_NAME'] == "?")]

In [ ]:
len(user_df[(user_df['CURR_BILL_PLAN_NAME'] != "?") & (user_df['CURR_DATA_BILL_PLAN_NAME'] == "?")])

In [ ]:
460339 - 340739

In [ ]:
for i in df.columns:
    print(df[i])

In [ ]:
df.groupby('Groups').count()

In [ ]:
len(df)

In [ ]:
len(df)

In [ ]:
len(df)

In [ ]:
df.head()

In [ ]:
list(df.columns)

In [ ]:
len(df)

In [ ]:
df[df["MINING_DW_SUBSCR_NO"] == 8134330931]

In [ ]:
# set configure
path = "./CDR_MONTHLY_AGGR/"
path = "./dna_Data/"
# path = "C:/Users/VIPLAB/Downloads/Spark_data/"
filename = "DNA_daily_april"
# filename = "weekday_end_april_div_week"

# path = "./"
# filename = "dm_subscr_mtc_mly_COMPLETED_revise"
relative_filename = path + filename + ".csv"
# relative_filename = path + filename + ".txt"

In [ ]:
len(df)

In [ ]:
list(df.columns)

In [ ]:
df[df["MINING_DW_SUBSCR_NO"] == 10001495017]

In [ ]:
df.info()

In [ ]:
df = df.replace(np.inf, 0)

In [ ]:
df = df.fillna(0)

In [ ]:
list(df.columns)

In [ ]:
len(list(df.columns))

In [ ]:
len(df[df["Groups"] == "seldom"])

In [ ]:
len(df[df["Groups"] == "None"])

In [ ]:
# clean non numeric data
# iteration avoid memory leak
for col in df.columns[numeric_st_idx:]:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    # let nan == 0
#     print(col)
    df[col] = df[col].fillna(0)
    df[col] = df[col].astype(np.int64)
# df = df.fillna(0)
# # df[df.columns[numeric_st_idx:]] = df[df.columns[numeric_st_idx:]].apply(np.int64)
# for col in df.columns[numeric_st_idx:]:
#     df[col] = df[col].apply(np.int32)

In [ ]:
df.dtypes

In [ ]:
# write to csv and no index
out_filename = "0713_april_marketing_anylze_full_table_group12_select_max_min.csv"
t0 = time()
df.to_csv(path + out_filename, index=False)
print("time for output csv file: %.2f" % (time()-t0))

In [ ]:
feather.write_dataframe(df, path + out_filename + ".feather")

In [ ]:
del df

In [ ]:
# read revise csv file and print cost time
t0 = time()
df = pd.read_csv(out_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

In [ ]:
# show each columns type
df.dtypes