In [42]:
import os.path
import numpy as np
import pandas as pd
from time import time

In [51]:
# set configure
path = "./"

path = "./marketing_analyze/"
# path = "D:/NEW_DATA_FULL_2017_6_30/"
# path = "C:/Users/VIPLAB/Downloads/Spark_data/"
filename = "april_marketing_anylze_numeric_and_bool"
# filename = "weekday_end_april_div_week"

# path = "./"
# filename = "dm_subscr_mtc_mly_COMPLETED_revise"
relative_filename = path + filename + ".csv"
# relative_filename = path + filename + ".txt"
wants_cols = ['DATA_MONTH', 'MINING_DW_SUBSCR_NO', 'AGE']

In [52]:
# read csv file and print cost time
t0 = time()
# df = pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False, sep  = '\t', nrows = 10)
# df = pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False, nrows = 100000)
# df = pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False, sep  = '\t')

df = pd.read_csv(relative_filename, error_bad_lines=False, nrows = 10)
# df = pd.read_csv(relative_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

time for read csv: 0.01

In [53]:
df.head()

,RENEW_IND,GA_IND,CHURN_IND,SUSPEND_IND,P6M_AVG_NET_INV_AMT,TENURE_SCV,CHURN_INDEX,FETNET_IND,DORMANT_MONTH_CNT_MKT,HAPPYGO_IND,...,EVER_PSTN_MONTH_APPLY_CANCEL_FLAG,VIP_REDEEM_IND,VIP_MSISDN_CHG_IND,PAY_PENALTY_FLAG,DATA_RATING_USAGE_MB,SELFCARE_IND,RETAIL_STORE_CHURN_FLAG,RETAIL_STORE_CHURN_DEPUTY_FALG,SPAUTH_IND,Groups
0,0,0,0,0,1088.04,188.2,0,0,0,0,...,0,0,0,0,2993,1,0,0,0,seldom
1,0,0,0,0,515.67,188.2,0,0,0,0,...,0,0,0,0,2427,0,0,0,0,2
2,0,0,0,0,1718.87,188.2,0,1,0,1,...,0,0,0,0,2192,1,0,0,0,3
3,0,0,0,0,1300.15,188.2,0,0,0,1,...,0,0,0,0,2152,1,0,0,0,seldom
4,0,0,0,0,656.37,188.2,0,0,0,0,...,0,0,0,0,1653,1,0,0,0,2

In [41]:
len(df)

2596797

In [35]:
len(df)

10

In [36]:
len(df)

10

In [ ]:
df.head()

In [ ]:
list(df.columns)

In [ ]:
len(df)

In [ ]:
df[df["MINING_DW_SUBSCR_NO"] == 8134330931]

In [ ]:
# set configure
path = "./CDR_MONTHLY_AGGR/"
path = "./dna_Data/"
# path = "C:/Users/VIPLAB/Downloads/Spark_data/"
filename = "DNA_daily_april"
# filename = "weekday_end_april_div_week"

# path = "./"
# filename = "dm_subscr_mtc_mly_COMPLETED_revise"
relative_filename = path + filename + ".csv"
# relative_filename = path + filename + ".txt"

In [ ]:
len(df)

In [ ]:
list(df.columns)

In [ ]:
df[df["MINING_DW_SUBSCR_NO"] == 10001495017]

In [ ]:
df.info()

In [ ]:
df = df.replace(np.inf, 0)

In [ ]:
df = df.fillna(0)

In [ ]:
list(df.columns)

In [ ]:
len(list(df.columns))

In [ ]:
len(df[df["Groups"] == "seldom"])

In [ ]:
len(df[df["Groups"] == "None"])

In [ ]:
# clean non numeric data
# iteration avoid memory leak
for col in df.columns[numeric_st_idx:]:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    # let nan == 0
#     print(col)
    df[col] = df[col].fillna(0)
    df[col] = df[col].astype(np.int64)
# df = df.fillna(0)
# # df[df.columns[numeric_st_idx:]] = df[df.columns[numeric_st_idx:]].apply(np.int64)
# for col in df.columns[numeric_st_idx:]:
#     df[col] = df[col].apply(np.int32)

In [ ]:
df.dtypes

In [ ]:
# write to csv and no index
t0 = time()
df.to_csv(out_filename, index=False)
print("time for output csv file: %.2f" % (time()-t0))

In [ ]:
del df

In [ ]:
# read revise csv file and print cost time
t0 = time()
df = pd.read_csv(out_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

In [ ]:
# show each columns type
df.dtypes