In [54]:
import os.path
import numpy as np
import pandas as pd
from time import time

In [60]:
# set configure
path = "./"

# path = "./marketing_analyze/"
# path = "D:/NEW_DATA_FULL_2017_6_30/"
# path = "C:/Users/VIPLAB/Downloads/Spark_data/"
# filename = "april_marketing_anylze_numeric_and_bool"
filename = "april_marketing_anylze_numeric"
filename = "DNA_KMEANS_RESULT_ID_NEW"

# filename = "weekday_end_april_div_week"

# path = "./"
# filename = "dm_subscr_mtc_mly_COMPLETED_revise"
relative_filename = path + filename + ".csv"
# relative_filename = path + filename + ".txt"
# wants_cols = ['DATA_MONTH', 'MINING_DW_SUBSCR_NO', 'AGE']

In [61]:
# read csv file and print cost time
t0 = time()
# df = pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False, sep  = '\t', nrows = 10)
# df = pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False, nrows = 100000)
# df = pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False, sep  = '\t')

# df = pd.read_csv(relative_filename, error_bad_lines=False, nrows = 10)
df = pd.read_csv(relative_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

time for read csv: 0.74

In [62]:
df.head()

   MINING_DW_SUBSCR_NO  DW_PARTY_ID  Groups
0          10000000005     15025460    None
1          10000000006      5174406  seldom
2          10000000008      3178075       8
3          10000000013     15027320       8
4          10000000020     14832095       4

In [63]:
df.groupby('Groups').count()

        MINING_DW_SUBSCR_NO  DW_PARTY_ID
Groups
1                    407597       407597
2                    184644       184644
3                    105809       105809
4                    116958       116958
5                    110474       110474
6                    146047       146047
7                    164149       164149
8                    490166       490166
None                 531990       531990
seldom               338963       338963

In [41]:
len(df)

2596797

In [35]:
len(df)

10

In [36]:
len(df)

10

In [ ]:
df.head()

In [ ]:
list(df.columns)

In [ ]:
len(df)

In [ ]:
df[df["MINING_DW_SUBSCR_NO"] == 8134330931]

In [ ]:
# set configure
path = "./CDR_MONTHLY_AGGR/"
path = "./dna_Data/"
# path = "C:/Users/VIPLAB/Downloads/Spark_data/"
filename = "DNA_daily_april"
# filename = "weekday_end_april_div_week"

# path = "./"
# filename = "dm_subscr_mtc_mly_COMPLETED_revise"
relative_filename = path + filename + ".csv"
# relative_filename = path + filename + ".txt"

In [ ]:
len(df)

In [ ]:
list(df.columns)

In [ ]:
df[df["MINING_DW_SUBSCR_NO"] == 10001495017]

In [ ]:
df.info()

In [ ]:
df = df.replace(np.inf, 0)

In [ ]:
df = df.fillna(0)

In [ ]:
list(df.columns)

In [ ]:
len(list(df.columns))

In [ ]:
len(df[df["Groups"] == "seldom"])

In [ ]:
len(df[df["Groups"] == "None"])

In [ ]:
# clean non numeric data
# iteration avoid memory leak
for col in df.columns[numeric_st_idx:]:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    # let nan == 0
#     print(col)
    df[col] = df[col].fillna(0)
    df[col] = df[col].astype(np.int64)
# df = df.fillna(0)
# # df[df.columns[numeric_st_idx:]] = df[df.columns[numeric_st_idx:]].apply(np.int64)
# for col in df.columns[numeric_st_idx:]:
#     df[col] = df[col].apply(np.int32)

In [ ]:
df.dtypes

In [ ]:
# write to csv and no index
t0 = time()
df.to_csv(out_filename, index=False)
print("time for output csv file: %.2f" % (time()-t0))

In [ ]:
del df

In [ ]:
# read revise csv file and print cost time
t0 = time()
df = pd.read_csv(out_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

In [ ]:
# show each columns type
df.dtypes