In [1]:
import os.path
import numpy as np
import pandas as pd
from time import time
import feather

In [2]:
# 讀取資料夾內檔案
from os import listdir
from os.path import isfile, join
def file_csv_list(target_path):
    return [f for f in listdir(target_path) if isfile(join(target_path, f))]

In [3]:
def read_csv(filename):
    # read revise csv file and print cost time
    t0 = time()
    df = pd.read_csv(filename, error_bad_lines=False)
    print("time for read csv: %.2f" % (time()-t0))
    return df

In [4]:
# path = "./marketing_analyze/"
# filename = "april_marketing_anylze_numeric_and_bool_group11_max_min.csv"
# path = "./"

path = "./marketing_analyze/"
# path = "D:/"
# path = "C:/Users/VIPLAB/Downloads/Spark_data/"
filename = "0713_april_marketing_anylze_full_table_group12_max_min.csv"
# df = read_csv(path + file)
# feather.write_dataframe(df, path + file[:-4] + ".feather") 
# del df

In [14]:
df = pd.read_csv(path + filename, error_bad_lines=False, nrows = 10)

In [6]:
df.head()

,DATA_MONTH,MINING_DW_SUBSCR_NO,HTTPDR_START_DATE,DNA_CATG_ID,DNA_CATG_DESC,HTTPDR_DATA_H00_CNT,HTTPDR_DATA_H01_CNT,HTTPDR_DATA_H02_CNT,HTTPDR_DATA_H03_CNT,HTTPDR_DATA_H04_CNT,...,HTTPDR_DATA_H14_CNT,HTTPDR_DATA_H15_CNT,HTTPDR_DATA_H16_CNT,HTTPDR_DATA_H17_CNT,HTTPDR_DATA_H18_CNT,HTTPDR_DATA_H19_CNT,HTTPDR_DATA_H20_CNT,HTTPDR_DATA_H21_CNT,HTTPDR_DATA_H22_CNT,HTTPDR_DATA_H23_CNT
0,2017-04-01,3130159315,2017/4/7,369612,社群媒體,26,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2017-04-01,3130159315,2017/4/7,458969,生活資訊,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2017-04-01,3130159315,2017/4/22,133429,入口網站,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
3,2017-04-01,3130159315,2017/4/7,920652,遊戲,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2017-04-01,3130159315,2017/4/21,920652,遊戲,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0

In [7]:
wants_cols = list(df.columns[1:])

In [6]:
df = pd.read_csv(path + filename, error_bad_lines=False)

In [7]:
feather.write_dataframe(df, path + filename[:-4] + ".feather")

In [7]:
for file in file_csv_list(path):
    if("csv" in file ):
        if("train" in file or "test" in file):
            df = read_csv(path + file)
            
            t0 = time()
#             feather.write_dataframe(df, path + file[:-4] + ".feather")
#             print("time for transform csv to feather: %.2f" % (time()-t0))

#             del df

time for read csv: 17.29
time for read csv: 1.70
time for read csv: 69.01
time for read csv: 6.81
time for read csv: 5.14
time for read csv: 0.58
time for read csv: 21.19
time for read csv: 2.08

In [9]:
df.head()

,SRV_TYPE_DESC,GENDER_CODE,AGE,TENURE_SCV,BILL_CITY_NAME,DORMANT_MONTH_CNT_MKT,IMEI_MFG_NAME,IMEI_BAND,CHURN_CLM_IND,PTY_NP_IN_IND,...,CUST_TYPE,FLAT_RATE_4G_IND,FLAT_RATE_3G_IND,VOICE_MONTHLY_FEE,DATA_MONTHLY_FEE,TOTAL_MONTHLY_FEE,DATA_RATING_USAGE_MB,HS_CHG_CNT,AVG_HS_USE_MONTH,Groups
0,0.0,0.0,0.065934,0.483530,0.545455,0.0,0.003509,0.0,0.5,1.0,...,0.0,0.0,0.0,0.0,0.444239,0.441621,0.006626,0.066667,0.107784,InstantMessage-High
1,0.0,0.0,0.148352,0.282939,0.000000,0.0,0.010526,0.0,0.5,1.0,...,0.0,0.0,0.0,0.0,0.370137,0.367956,0.011193,0.200000,0.251497,InstantMessage-High
2,0.0,0.0,0.170330,0.270693,0.454545,0.0,0.003509,0.0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.518340,0.515285,0.007650,0.266667,0.107784,InstantMessage-Low
3,0.0,0.5,0.164835,0.036318,0.090909,0.0,0.001170,0.0,0.5,1.0,...,0.0,0.0,0.0,0.0,0.296036,0.294291,0.001412,0.133333,0.011976,InstantMessage-Low
4,0.0,0.0,0.148352,0.097551,0.090909,0.0,0.003509,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.296036,0.294291,0.002109,0.000000,0.137725,Social-media

In [12]:
df["Groups"].unique()

array(['InstantMessage-High', 'InstantMessage-Low', 'Social-media', 'News',
       'No_ignificant_preference', 'Infrequent_User', 'Portal', 'Game',
       'Map', 'HomeLife', 'Adult'], dtype=object)

In [10]:
df.dtypes

SRV_TYPE_DESC              float64
GENDER_CODE                float64
AGE                        float64
TENURE_SCV                 float64
BILL_CITY_NAME             float64
DORMANT_MONTH_CNT_MKT      float64
IMEI_MFG_NAME              float64
IMEI_BAND                  float64
CHURN_CLM_IND              float64
PTY_NP_IN_IND              float64
PTY_NP_OUT_IND             float64
MDS_CURR_RENEW_CNT         float64
PROM_CURR_EXP_MONTH_CNT    float64
CURR_PROM_COMMIT_MONTHS    float64
L1M_PROM_COMMIT_MONTHS     float64
NET_INV_AMT                float64
L1M_NET_INV_AMT            float64
L2M_NET_INV_AMT            float64
L3M_NET_INV_AMT            float64
AGENCY_AMT                 float64
L3M_AVG_NET_INV_AMT        float64
MT_STM_AMT                 float64
VOICE_RC_AMT               float64
DATA_RC_AMT                float64
ONNET_AMT                  float64
OFFNETM_AMT                float64
PSTN_AMT                   float64
INT_ROAM_AMT               float64
IDD_AMT                    float64
DATA_INV_AMT               float64
                            ...
MT_ONNET_DUR               float64
MT_OFFNET_DUR              float64
MT_PSTN_DUR                float64
MT_TTL_COUNT               float64
MT_ONNET_CNT               float64
MT_OFFNET_CNT              float64
MT_PSTN_CNT                float64
MOST_MO_OPERATOR           float64
MOST_MT_OPERATOR           float64
MOC_FET_DUR                float64
MOC_TWM_DUR                float64
MOC_CHM_DUR                float64
MOC_OTH_DUR                float64
MOC_PSTN_DUR               float64
MOST_MO_DUR                float64
MTC_FET_DUR                float64
MTC_TWM_DUR                float64
MTC_CHM_DUR                float64
MTC_PSTN_DUR               float64
MOST_MT_DUR                float64
CUST_TYPE                  float64
FLAT_RATE_4G_IND           float64
FLAT_RATE_3G_IND           float64
VOICE_MONTHLY_FEE          float64
DATA_MONTHLY_FEE           float64
TOTAL_MONTHLY_FEE          float64
DATA_RATING_USAGE_MB       float64
HS_CHG_CNT                 float64
AVG_HS_USE_MONTH           float64
Groups                      object
Length: 71, dtype: object

In [ ]:
feather.write_dataframe(df, path + filename[:-4] + ".feather")

In [ ]:
import dask.dataframe as dd

In [ ]:
# Create the dataframe
# http://jcrist.github.io/dask-sklearn-part-3.html
# cols = df.columns[2:]
t0 = time()
# dask_df no columns slice, so u should do it in here, use usecols argument.
dask_df = dd.read_csv(path + filename,
                 usecols=wants_cols,
                 blocksize=int(128e6),
                 storage_options=dict(anon=True))
print("time for read csv: %.2f" % (time()-t0))

In [6]:
# path = "D:/NEW_DATA_FULL_2017_6_30/"
# filename = "MDS_April_All_SINGLE_SIM_COMPLETED.txt"
# # df = read_csv(path + filename)
# df = pd.read_csv(path + filename, error_bad_lines=False, sep = '\t')
# path = "./marketing_analyze/"
# feather.write_dataframe(df, path + filename[:-4] + ".feather")

C:\Users\VIPLAB\AppData\Local\conda\conda\envs\py36\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (24,28,76,97,259,260,261,264,267,270,273,276) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

ValueError: cannot serialize column 24 named AGE with dtype mixed-integer

In [6]:
df = feather.read_dataframe(filename)

In [7]:
df.head()

,MINING_DW_SUBSCR_NO,HTTPDR_START_DATE,DNA_CATG_ID,DNA_CATG_DESC,HTTPDR_DATA_H00_CNT,HTTPDR_DATA_H01_CNT,HTTPDR_DATA_H02_CNT,HTTPDR_DATA_H03_CNT,HTTPDR_DATA_H04_CNT,HTTPDR_DATA_H05_CNT,...,HTTPDR_DATA_H14_CNT,HTTPDR_DATA_H15_CNT,HTTPDR_DATA_H16_CNT,HTTPDR_DATA_H17_CNT,HTTPDR_DATA_H18_CNT,HTTPDR_DATA_H19_CNT,HTTPDR_DATA_H20_CNT,HTTPDR_DATA_H21_CNT,HTTPDR_DATA_H22_CNT,HTTPDR_DATA_H23_CNT
0,8130132790,2017/4/26,744426,網路服務,0,0,0,0,0,0,...,2,0,2,0,0,0,0,189,1,3
1,3128471263,2017/4/22,744426,網路服務,0,0,3,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3128430601,2017/4/21,526995,未知-無法分類,0,2,0,0,1,1,...,0,0,0,0,0,0,1,0,0,0
3,3128018399,2017/4/23,744426,網路服務,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
4,3119606950,2017/4/5,136981,健康,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
dask_df.info()


dd.to_parquet(path + filename[:-4] + ".parquet" , dask_df, compression=None, write_index=None, has_nulls=True, fixed_text=None, object_encoding=None, storage_options=None, append=False, ignore_divisions=False)

In [ ]:
feather.write_dataframe(dask_df.compute(), path + filename[:-4] + ".feather") 
del df