In [57]:
import os.path
import numpy as np
import pandas as pd
from time import time

In [43]:
# set configure
# path = "./"

# path = "./marketing_analyze/"
path = "D:/NEW_DATA_FULL_2017_7_4/"
# path = "C:/Users/VIPLAB/Downloads/Spark_data/"
filename = "april_marketing_anylze_numeric_and_bool"
# filename = "weekday_end_april_div_week"
path = "./CDR_FINAL/"
filename = "voice_24_7_total_filter"

path = "C:/Users/VIPLAB/Desktop/XIAO SEAN/"
filename = "DNA_VOICE"
# path = "./"
# filename = "dm_subscr_mtc_mly_COMPLETED_revise"
# relative_filename = path + filename + ".csv"
relative_filename = path + filename + ".csv"
wants_cols = ['DATA_MONTH', 'MINING_DW_SUBSCR_NO', ]

In [53]:
# read csv file and print cost time
t0 = time()
# df = pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False, sep  = '\t', nrows = 10)
# df = pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False, nrows = 100000)
# df = pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False, sep  = '\t')

df = pd.read_csv(relative_filename, error_bad_lines=False)
# df = pd.read_csv("C:/Users/VIPLAB/Desktop/XIAO SEAN/dna_normal.csv", error_bad_lines=False, nrows = 10)

# df = pd.read_csv(relative_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

time for read csv: 20.36

In [59]:
df.head()

,VOICE_HOUR_0_TIME,VOICE_HOUR_1_TIME,VOICE_HOUR_2_TIME,VOICE_HOUR_3_TIME,VOICE_HOUR_4_TIME,VOICE_HOUR_5_TIME,VOICE_HOUR_6_TIME,VOICE_HOUR_7_TIME,VOICE_HOUR_8_TIME,VOICE_HOUR_9_TIME,...,V17,V18,V19,V20,V21,V22,V23,V24,V25,groups
0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.005,0.001,0.030,...,0.028,0.100,0.062,0.035,0.039,0.035,0.037,0.053,0.037,3
1,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.605,0.026,0.000,0.000,0.000,0.000,0.000,15
2,0.0,0.0,0.0,0.0,0.0,0.003,0.007,0.001,0.018,0.111,...,0.033,0.069,0.049,0.101,0.056,0.102,0.094,0.128,0.084,3
3,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000,...,0.054,0.030,0.004,0.010,0.012,0.048,0.074,0.000,0.036,13
4,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2

In [71]:
df.groupby("groups").index[0]

AttributeError: Cannot access attribute 'index' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [ ]:
df[df["grou"]]

In [56]:
df.dtypes

VOICE_HOUR_0_TIME     float64
VOICE_HOUR_1_TIME     float64
VOICE_HOUR_2_TIME     float64
VOICE_HOUR_3_TIME     float64
VOICE_HOUR_4_TIME     float64
VOICE_HOUR_5_TIME     float64
VOICE_HOUR_6_TIME     float64
VOICE_HOUR_7_TIME     float64
VOICE_HOUR_8_TIME     float64
VOICE_HOUR_9_TIME     float64
VOICE_HOUR_10_TIME    float64
VOICE_HOUR_11_TIME    float64
VOICE_HOUR_12_TIME    float64
VOICE_HOUR_13_TIME    float64
VOICE_HOUR_14_TIME    float64
VOICE_HOUR_15_TIME    float64
VOICE_HOUR_16_TIME    float64
VOICE_HOUR_17_TIME    float64
VOICE_HOUR_18_TIME    float64
VOICE_HOUR_19_TIME    float64
VOICE_HOUR_20_TIME    float64
VOICE_HOUR_21_TIME    float64
VOICE_HOUR_22_TIME    float64
VOICE_HOUR_23_TIME    float64
V2                    float64
V3                    float64
V4                    float64
V5                    float64
V6                    float64
V7                    float64
V8                    float64
V9                    float64
V10                   float64
V11                   float64
V12                   float64
V13                   float64
V14                   float64
V15                   float64
V16                   float64
V17                   float64
V18                   float64
V19                   float64
V20                   float64
V21                   float64
V22                   float64
V23                   float64
V24                   float64
V25                   float64
groups                  int64
dtype: object

In [34]:
df = df.drop(df.columns[0])

ValueError: labels ['Unnamed: 0'] not contained in axis

In [38]:
df.drop(df.columns[0])

ValueError: labels ['Unnamed: 0'] not contained in axis

In [36]:
df = df[].drop(:,0)

SyntaxError: invalid syntax (<ipython-input-36-8eb9506db054>, line 1)

In [31]:
df.columns

Index(['Unnamed: 0', 'MINING_DW_SUBSCR_NO', 'B2B', '下載', '主機代管', '交流平台',
       '企業首頁', '促銷', '健康保健', '優惠卷相關購物網', '入口網站', '其他', '分類廣告資訊', '博弈', '即時通訊',
       '地區性', '地圖', '娛樂消遣', '家庭生活', '居家生活', '成人', '房產', '搜尋引擎', '政府', '教育',
       '文教與閱讀', '新聞與社會新鮮事', '旅遊散心', '汽車', '生活資訊查詢平台', '相片', '社群媒體', '社群關係',
       '科技領航', '綜合資訊查詢平台', '網路服務供應商', '網路服務平台 - 其他', '網路知識查詢平台', '聊天', '職涯發展',
       '財經資訊', '遊戲', '運動與休閒', '運輸', '零售', '電信/通訊', '電子賀卡', '電子郵件', '餐廳美食',
       '點數收集對換'],
      dtype='object')

In [24]:
df.head()

,Unnamed: 0,MINING_DW_SUBSCR_NO,B2B,下載,主機代管,交流平台,企業首頁,促銷,健康保健,優惠卷相關購物網,...,財經資訊,遊戲,運動與休閒,運輸,零售,電信/通訊,電子賀卡,電子郵件,餐廳美食,點數收集對換
0,1,10000000823,0,0.0,0,0,0.000,0,0.000,0,...,0.133,0.000,0.000,0,0.000,0.167,0,0,0,0
1,2,10000004215,0,0.0,0,0,0.033,0,0.033,0,...,0.000,0.000,0.267,0,0.067,0.000,0,0,0,0
2,3,10000008238,0,0.0,0,0,0.000,0,0.000,0,...,0.000,0.067,0.000,0,0.000,0.000,0,0,0,0
3,4,10000012539,0,0.0,0,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0,0.000,0.000,0,0,0,0
4,5,10000015467,0,0.0,0,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0,0.033,0.000,0,0,0,0

In [32]:
df.head()

,Unnamed: 0,MINING_DW_SUBSCR_NO,B2B,下載,主機代管,交流平台,企業首頁,促銷,健康保健,優惠卷相關購物網,...,財經資訊,遊戲,運動與休閒,運輸,零售,電信/通訊,電子賀卡,電子郵件,餐廳美食,點數收集對換
1,2,10000004215,0,0.0,0,0,0.033,0,0.033,0,...,0.0,0.000,0.267,0,0.067,0.0,0,0,0,0
2,3,10000008238,0,0.0,0,0,0.000,0,0.000,0,...,0.0,0.067,0.000,0,0.000,0.0,0,0,0,0
3,4,10000012539,0,0.0,0,0,0.000,0,0.000,0,...,0.0,0.000,0.000,0,0.000,0.0,0,0,0,0
4,5,10000015467,0,0.0,0,0,0.000,0,0.000,0,...,0.0,0.000,0.000,0,0.033,0.0,0,0,0,0
5,6,10000023807,0,0.0,0,0,0.000,0,0.067,0,...,0.0,0.000,0.000,0,0.000,0.0,0,0,0,0

In [20]:
len(df[df["TENURE_SCV"] < 3])

130482

In [10]:
filename = "voice_24_7_total_filter_log10"
relative_filename = path + filename + ".csv"
df = pd.read_csv(relative_filename, usecols = ["VOICE_MONTHLY_SUM"], error_bad_lines=False, nrows = 10)

In [11]:
df["VOICE_MONTHLY_SUM"].max()

4.493847556235866

In [15]:
filename = "voice_24_7_total_filter_max_min"
relative_filename = path + filename + ".csv"
df = pd.read_csv(relative_filename, usecols = ["VOICE_MONTHLY_SUM"], error_bad_lines=False,)

In [16]:
df["VOICE_MONTHLY_SUM"].max()

1.0

In [5]:
list(df.columns)

['MINING_DW_SUBSCR_NO',
 'VOICE_MO_HOUR_0_CNT',
 'VOICE_MO_HOUR_1_CNT',
 'VOICE_MO_HOUR_2_CNT',
 'VOICE_MO_HOUR_3_CNT',
 'VOICE_MO_HOUR_4_CNT',
 'VOICE_MO_HOUR_5_CNT',
 'VOICE_MO_HOUR_6_CNT',
 'VOICE_MO_HOUR_7_CNT',
 'VOICE_MO_HOUR_8_CNT',
 'VOICE_MO_HOUR_9_CNT',
 'VOICE_MO_HOUR_10_CNT',
 'VOICE_MO_HOUR_11_CNT',
 'VOICE_MO_HOUR_12_CNT',
 'VOICE_MO_HOUR_13_CNT',
 'VOICE_MO_HOUR_14_CNT',
 'VOICE_MO_HOUR_15_CNT',
 'VOICE_MO_HOUR_16_CNT',
 'VOICE_MO_HOUR_17_CNT',
 'VOICE_MO_HOUR_18_CNT',
 'VOICE_MO_HOUR_19_CNT',
 'VOICE_MO_HOUR_20_CNT',
 'VOICE_MO_HOUR_21_CNT',
 'VOICE_MO_HOUR_22_CNT',
 'VOICE_MO_HOUR_23_CNT',
 'VOICE_MO_HOUR_0_TIME',
 'VOICE_MO_HOUR_1_TIME',
 'VOICE_MO_HOUR_2_TIME',
 'VOICE_MO_HOUR_3_TIME',
 'VOICE_MO_HOUR_4_TIME',
 'VOICE_MO_HOUR_5_TIME',
 'VOICE_MO_HOUR_6_TIME',
 'VOICE_MO_HOUR_7_TIME',
 'VOICE_MO_HOUR_8_TIME',
 'VOICE_MO_HOUR_9_TIME',
 'VOICE_MO_HOUR_10_TIME',
 'VOICE_MO_HOUR_11_TIME',
 'VOICE_MO_HOUR_12_TIME',
 'VOICE_MO_HOUR_13_TIME',
 'VOICE_MO_HOUR_14_TIME',
 'VOICE_MO_HOUR_15_TIME',
 'VOICE_MO_HOUR_16_TIME',
 'VOICE_MO_HOUR_17_TIME',
 'VOICE_MO_HOUR_18_TIME',
 'VOICE_MO_HOUR_19_TIME',
 'VOICE_MO_HOUR_20_TIME',
 'VOICE_MO_HOUR_21_TIME',
 'VOICE_MO_HOUR_22_TIME',
 'VOICE_MO_HOUR_23_TIME',
 'VOICE_MT_HOUR_0_CNT',
 'VOICE_MT_HOUR_1_CNT',
 'VOICE_MT_HOUR_2_CNT',
 'VOICE_MT_HOUR_3_CNT',
 'VOICE_MT_HOUR_4_CNT',
 'VOICE_MT_HOUR_5_CNT',
 'VOICE_MT_HOUR_6_CNT',
 'VOICE_MT_HOUR_7_CNT',
 'VOICE_MT_HOUR_8_CNT',
 'VOICE_MT_HOUR_9_CNT',
 'VOICE_MT_HOUR_10_CNT',
 'VOICE_MT_HOUR_11_CNT',
 'VOICE_MT_HOUR_12_CNT',
 'VOICE_MT_HOUR_13_CNT',
 'VOICE_MT_HOUR_14_CNT',
 'VOICE_MT_HOUR_15_CNT',
 'VOICE_MT_HOUR_16_CNT',
 'VOICE_MT_HOUR_17_CNT',
 'VOICE_MT_HOUR_18_CNT',
 'VOICE_MT_HOUR_19_CNT',
 'VOICE_MT_HOUR_20_CNT',
 'VOICE_MT_HOUR_21_CNT',
 'VOICE_MT_HOUR_22_CNT',
 'VOICE_MT_HOUR_23_CNT',
 'VOICE_MT_HOUR_0_TIME',
 'VOICE_MT_HOUR_1_TIME',
 'VOICE_MT_HOUR_2_TIME',
 'VOICE_MT_HOUR_3_TIME',
 'VOICE_MT_HOUR_4_TIME',
 'VOICE_MT_HOUR_5_TIME',
 'VOICE_MT_HOUR_6_TIME',
 'VOICE_MT_HOUR_7_TIME',
 'VOICE_MT_HOUR_8_TIME',
 'VOICE_MT_HOUR_9_TIME',
 'VOICE_MT_HOUR_10_TIME',
 'VOICE_MT_HOUR_11_TIME',
 'VOICE_MT_HOUR_12_TIME',
 'VOICE_MT_HOUR_13_TIME',
 'VOICE_MT_HOUR_14_TIME',
 'VOICE_MT_HOUR_15_TIME',
 'VOICE_MT_HOUR_16_TIME',
 'VOICE_MT_HOUR_17_TIME',
 'VOICE_MT_HOUR_18_TIME',
 'VOICE_MT_HOUR_19_TIME',
 'VOICE_MT_HOUR_20_TIME',
 'VOICE_MT_HOUR_21_TIME',
 'VOICE_MT_HOUR_22_TIME',
 'VOICE_MT_HOUR_23_TIME',
 'VOICE_MO_MON_CNT',
 'VOICE_MO_TUE_CNT',
 'VOICE_MO_WED_CNT',
 'VOICE_MO_THU_CNT',
 'VOICE_MO_FRI_CNT',
 'VOICE_MO_SAT_CNT',
 'VOICE_MO_SUN_CNT',
 'VOICE_MO_MON_TIME',
 'VOICE_MO_TUE_TIME',
 'VOICE_MO_WED_TIME',
 'VOICE_MO_THU_TIME',
 'VOICE_MO_FRI_TIME',
 'VOICE_MO_SAT_TIME',
 'VOICE_MO_SUN_TIME',
 'VOICE_MO_workday_cnt',
 'VOICE_MO_workday_cnt_avg',
 'VOICE_MO_workday_time',
 'VOICE_MO_workday_time_avg',
 'VOICE_MO_holiday_cnt',
 'VOICE_MO_holiday_cnt_avg',
 'VOICE_MO_holiday_time',
 'VOICE_MO_holiday_time_avg',
 'VOICE_MT_MON_CNT',
 'VOICE_MT_TUE_CNT',
 'VOICE_MT_WED_CNT',
 'VOICE_MT_THU_CNT',
 'VOICE_MT_FRI_CNT',
 'VOICE_MT_SAT_CNT',
 'VOICE_MT_SUN_CNT',
 'VOICE_MT_MON_TIME',
 'VOICE_MT_TUE_TIME',
 'VOICE_MT_WED_TIME',
 'VOICE_MT_THU_TIME',
 'VOICE_MT_FRI_TIME',
 'VOICE_MT_SAT_TIME',
 'VOICE_MT_SUN_TIME',
 'VOICE_MT_workday_cnt',
 'VOICE_MT_workday_cnt_avg',
 'VOICE_MT_workday_time',
 'VOICE_MT_workday_time_avg',
 'VOICE_MT_holiday_cnt',
 'VOICE_MT_holiday_cnt_avg',
 'VOICE_MT_holiday_time',
 'VOICE_MT_holiday_time_avg',
 'MTC_CNT',
 'MTC_DUR',
 'MTC_FET_CNT',
 'MTC_FET_DUR',
 'MTC_TWM_CNT',
 'MTC_TWM_DUR',
 'MTC_CHM_CNT',
 'MTC_CHM_DUR',
 'MTC_APT_CNT',
 'MTC_APT_DUR',
 'MTC_TSC_CNT',
 'MTC_TSC_DUR',
 'MTC_PSTN_CNT',
 'MTC_PSTN_DUR',
 'MOC_CNT',
 'MOC_DUR',
 'MOC_FET_CNT',
 'MOC_FET_DUR',
 'MOC_TWM_CNT',
 'MOC_TWM_DUR',
 'MOC_CHM_CNT',
 'MOC_CHM_DUR',
 'MOC_APT_CNT',
 'MOC_APT_DUR',
 'MOC_TSC_CNT',
 'MOC_TSC_DUR',
 'MOC_PSTN_CNT',
 'MOC_PSTN_DUR',
 'DNA_HOUR_0_CNT',
 'DNA_HOUR_1_CNT',
 'DNA_HOUR_2_CNT',
 'DNA_HOUR_3_CNT',
 'DNA_HOUR_4_CNT',
 'DNA_HOUR_5_CNT',
 'DNA_HOUR_6_CNT',
 'DNA_HOUR_7_CNT',
 'DNA_HOUR_8_CNT',
 'DNA_HOUR_9_CNT',
 'DNA_HOUR_10_CNT',
 'DNA_HOUR_11_CNT',
 'DNA_HOUR_12_CNT',
 'DNA_HOUR_13_CNT',
 'DNA_HOUR_14_CNT',
 'DNA_HOUR_15_CNT',
 'DNA_HOUR_16_CNT',
 'DNA_HOUR_17_CNT',
 'DNA_HOUR_18_CNT',
 'DNA_HOUR_19_CNT',
 'DNA_HOUR_20_CNT',
 'DNA_HOUR_21_CNT',
 'DNA_HOUR_22_CNT',
 'DNA_HOUR_23_CNT ',
 'DNA_Monday',
 'DNA_Tuesday',
 'DNA_Wednesday',
 'DNA_Thursday',
 'DNA_Friday',
 'DNA_Saturday',
 'DNA_Sunday']

In [4]:
df.head()

,MINING_DW_SUBSCR_NO,VOICE_MO_HOUR_0_CNT,VOICE_MO_HOUR_1_CNT,VOICE_MO_HOUR_2_CNT,VOICE_MO_HOUR_3_CNT,VOICE_MO_HOUR_4_CNT,VOICE_MO_HOUR_5_CNT,VOICE_MO_HOUR_6_CNT,VOICE_MO_HOUR_7_CNT,VOICE_MO_HOUR_8_CNT,...,DNA_HOUR_21_CNT,DNA_HOUR_22_CNT,DNA_HOUR_23_CNT,DNA_Monday,DNA_Tuesday,DNA_Wednesday,DNA_Thursday,DNA_Friday,DNA_Saturday,DNA_Sunday
0,8134330931,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,...,1.866667,2.7,1.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2118544651,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10000337216,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,3.0,...,4.566667,6.2,4.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3133428916,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.233333,0.0,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3119268553,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
len(df)

2596797

In [35]:
len(df)

10

In [36]:
len(df)

10

In [ ]:
df.head()

In [ ]:
list(df.columns)

In [ ]:
len(df)

In [ ]:
df[df["MINING_DW_SUBSCR_NO"] == 8134330931]

In [ ]:
# set configure
path = "./CDR_MONTHLY_AGGR/"
path = "./dna_Data/"
# path = "C:/Users/VIPLAB/Downloads/Spark_data/"
filename = "DNA_daily_april"
# filename = "weekday_end_april_div_week"

# path = "./"
# filename = "dm_subscr_mtc_mly_COMPLETED_revise"
relative_filename = path + filename + ".csv"
# relative_filename = path + filename + ".txt"

In [ ]:
len(df)

In [ ]:
list(df.columns)

In [ ]:
df[df["MINING_DW_SUBSCR_NO"] == 10001495017]

In [ ]:
df.info()

In [ ]:
df = df.replace(np.inf, 0)

In [ ]:
df = df.fillna(0)

In [ ]:
list(df.columns)

In [ ]:
len(list(df.columns))

In [ ]:
len(df[df["Groups"] == "seldom"])

In [ ]:
len(df[df["Groups"] == "None"])

In [ ]:
# clean non numeric data
# iteration avoid memory leak
for col in df.columns[numeric_st_idx:]:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    # let nan == 0
#     print(col)
    df[col] = df[col].fillna(0)
    df[col] = df[col].astype(np.int64)
# df = df.fillna(0)
# # df[df.columns[numeric_st_idx:]] = df[df.columns[numeric_st_idx:]].apply(np.int64)
# for col in df.columns[numeric_st_idx:]:
#     df[col] = df[col].apply(np.int32)

In [ ]:
df.dtypes

In [ ]:
# write to csv and no index
t0 = time()
df.to_csv(out_filename, index=False)
print("time for output csv file: %.2f" % (time()-t0))

In [ ]:
del df

In [ ]:
# read revise csv file and print cost time
t0 = time()
df = pd.read_csv(out_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

In [ ]:
# show each columns type
df.dtypes