In [5]:
import os.path
import numpy as np
import pandas as pd
from time import time

In [12]:
# set configure
# path = "./"

# path = "./marketing_analyze/"
# path = "./"
# path = "C:/Users/VIPLAB/Downloads/Spark_data/"
# filename = "april_marketing_anylze_full_table_group12_max_min"
# filename = "april_marketing_anylze_numeric"
# filename = "CHNL_NSP_CATG_MT_COMPLETED"
# filename = "0729_marketing_with_picked_group11_numeric_max_min"

# filename = "0729_marketing_with_picked_group11_numeric_max_min"

path = "D:/DATA_FULL_old/"
filename = "CDR_MT_WEEK_COMPLETED"
# relative_filename = path + filename + ".csv"
relative_filename = path + filename + ".txt"
# wants_cols = ['MINING_DW_SUBSCR_NO', 'CUST_TYPE']

In [13]:
# read csv file and print cost time
t0 = time()
# df = pd.read_csv(relative_filename, error_bad_lines=False)
# df = pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False)
# df = pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False, nrows = 100000)
# df = pd.read_csv(relative_filename, error_bad_lines=False)
# df = pd.read_csv(relative_filename, error_bad_lines=False)

# df = pd.read_csv(relative_filename, error_bad_lines=False)
# df = pd.read_csv(relative_filename, usecols = wants_cols, sep  = '\t', error_bad_lines=False)

df = pd.read_csv(relative_filename, error_bad_lines=False, nrows = 100)
# df = pd.read_csv(relative_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

time for read csv: 0.05

In [14]:
len(df)

100

In [15]:
df_cols = list(df.columns)

In [16]:
df_cols

['MINING_DW_SUBSCR_NO',
 'VOICE_MONTH',
 'VOICE_MT_SUN_CNT',
 'VOICE_MT_MON_CNT',
 'VOICE_MT_TUE_CNT',
 'VOICE_MT_WED_CNT',
 'VOICE_MT_THU_CNT',
 'VOICE_MT_FRI_CNT',
 'VOICE_MT_SAT_CNT',
 'VOICE_MT_SUN_TIME',
 'VOICE_MT_MON_TIME',
 'VOICE_MT_TUE_TIME',
 'VOICE_MT_WED_TIME',
 'VOICE_MT_THU_TIME',
 'VOICE_MT_FRI_TIME',
 'VOICE_MT_SAT_TIME']

In [11]:
def comma_format(numeric_str):
    list_numeric_str = list(str(numeric_str))
    list_numeric_str.reverse()
    out_str = ""
    for idx, i in enumerate(list_numeric_str):
        if idx > 0 and (idx % 3 == 0):
            out_str += ","
        out_str += i    
    return(out_str[::-1])

In [47]:
comma_format(revenue_total)

124,275,641

In [347]:
groups_list = list(df["Groups"].unique())

In [362]:
target_group = groups_list[3]
target_df = df[df["Groups"] == target_group]

In [363]:
target_group

'InstantMessage-High'

In [364]:
def col_ratio(df_col, num = 1):
    out_string = ""
    unique_list = df_col.value_counts().index.tolist()
#     print(len(df_col == 'Smart Phone'))
#     print(df_col.value_counts())
    for idx, value in enumerate(df_col.value_counts()):
        if idx >= num:
            break
        if unique_list[idx] == "?":
#             print("equal ?")
            num += 1
            continue
#         print(unique_list[idx], value)  
        out_string += str(int(value/len(df_col)*100)) + "% " + unique_list[idx] + " "
#     for idx, col in enumerate(unique_list):
#         print(len(df_col))
#         print(len(df_col))
#         print(len(df_col == col) / len(df_col))
    return out_string

In [365]:
size_info = len(target_df)
# revenue = int(target_df["L3M_AVG_NET_INV_AMT"].mean())
all_revenue_total = int(df["L3M_AVG_NET_INV_AMT"].sum())
revenue_total = int(target_df["L3M_AVG_NET_INV_AMT"].sum())
age = int(target_df["AGE"].mean())
sex_male = len(target_df[target_df['GENDER_CODE'] == "M"])
sex_count = len(target_df['GENDER_CODE'])
sex_ratio = "%d%% Male %d%% Female" % (int(sex_male / sex_count  * 100), 100 - int(sex_male / sex_count * 100) )
tenure = int(df['TENURE_SCV'].mean())
max_origin_opr = col_ratio(target_df['ORIG_OPR_ID'], 3)
data_usage_mb = col_ratio(target_df['DATA_USAGE_MB'], 3)
last_channel_type = col_ratio(target_df['LAST_CHANNEL_TYPE'], 1)
hs_chg_cnt = target_df['HS_CHG_CNT'].mean()
active_store = col_ratio(target_df['ACTV_STORE_ID'], 3)
# max_origin_opr = col_ratio(target_df[target_df['ORIG_OPR_ID'] != "?"].loc[:, 'ORIG_OPR_ID'], )
# max_origin_opr = target_df[target_df['ORIG_OPR_ID'] != "?"].groupby("ORIG_OPR_ID").count().index[0]
phone_type = col_ratio(target_df['IMEI_MFG_NAME'], 3)
# phone_os = col_ratio(target_df["PROM_DEVICE_OS"], 2)

In [366]:
# target_df[target_df]

In [367]:
# 吃到飽
flat_3g, n_flat_3g = len(target_df[target_df["FLAT_RATE_3G_IND"] == "Y"]), len(target_df[target_df["FLAT_RATE_3G_IND"] == "N"])
flat_4g, n_flat_4g = len(target_df[target_df["FLAT_RATE_4G_IND"] == "Y"]), len(target_df[target_df["FLAT_RATE_4G_IND"] == "N"])
# print(flat_3g, n_flat_3g, flat_4g, n_flat_4g)
flat_ratio = (flat_3g + flat_4g) / (flat_4g + n_flat_4g)
flat_ratio = str((int((flat_3g / (flat_4g + n_flat_4g)) * 1000 )) / 10) + "% 3G, " + str((int((flat_4g / (flat_4g + n_flat_4g)) * 1000 )) / 10) + "% 4G"

In [368]:
print(target_group)
print("Size = %s%% " % (int((size_info / len(df)) * 1000) / 10))
print("Revenue Share = %s%%" % (int(revenue_total / all_revenue_total * 1000)/10))
print("Total Revenue = NT$ %s" % comma_format(revenue_total))
print("=========================")
print("Average Age = %s" % comma_format(age))
print("Average Tenure = %s" % comma_format(tenure))
print("Sex Ratio = %s" % (sex_ratio))
# print("Flat 3/4G Ratio = %s%%" % (int(flat_ratio * 100)))
print("Flat Ratio = %s" % flat_ratio )
print("Origin Operator = %s" % max_origin_opr)
# print("PHONE OS = ")
print("=========================")
print("Preference Channel = %s" % last_channel_type)
# print("active_store = %s" % active_store)
print("=========================")
print("Preference Phone Type= %s" % phone_type)
print("Average Change Phone Count = %.2f" % hs_chg_cnt)
print("=========================")
print("Average DATA_USAGE_MB = %s" % (data_usage_mb))

InstantMessage-High
Size = 19.2%
Revenue Share = 21.0%
Total Revenue = NT$ 391,282,995
=========================
Average Age = 36
Average Tenure = 57
Sex Ratio = 46% Male 54% Female
Flat Ratio = 4.8% 3G, 78.7% 4G
Origin Operator = 24% 台灣大哥大 20% 中華電信 4% 亞太電信
=========================
Preference Channel = 46% Retail
=========================
Preference Phone Type= 48% Apple                                                                                                                                                  20% SAMSUNG                                                                                                                                                9% HTC
Average Change Phone Count = 1.75
=========================
Average DATA_USAGE_MB = 48% H 44% M 7% L

In [7]:
df.groupby("DNA_CATG_DESC").count()

,DATA_MONTH,MINING_DW_SUBSCR_NO,HTTPDR_START_DATE,HTTPDR_START_HOUR,DNA_CATG_ID,SERVICE_NAME,HTTPDR_DATA_CNT
DNA_CATG_DESC,,,,,,,
B2B,623415,623415,623415,623415,623415,623415,623415
交流平台,1,1,1,1,1,1,1
企業首頁,1187135,1187135,1187135,1187135,1187135,1187135,1187135
促銷,8,8,8,8,8,8,8
健康,192642,192642,192642,192642,192642,192642,192642
入口網站,2711184,2711184,2711184,2711184,2711184,2711184,2711184
其他,97,97,97,97,97,97,97
博弈,84280,84280,84280,84280,84280,84280,84280
地區性,10714,10714,10714,10714,10714,10714,10714
娛樂,2588620,2588620,2588620,2588620,2588620,2588620,2588620
家庭與青少年,82366,82366,82366,82366,82366,82366,82366
成人,498534,498534,498534,498534,498534,498534,498534
房產,31374,31374,31374,31374,31374,31374,31374
技術資訊,621003,621003,621003,621003,621003,621003,621003
政府,250404,250404,250404,250404,250404,250404,250404
教育,120659,120659,120659,120659,120659,120659,120659
文教與閱讀,80416,80416,80416,80416,80416,80416,80416
新聞與訊息,3030845,3030845,3030845,3030845,3030845,3030845,3030845
旅遊,325400,325400,325400,325400,325400,325400,325400
未知-未分類,56937,56937,56937,56937,56937,56937,56937
未知-無法分類,6574192,6574192,6574192,6574192,6574192,6574192,6574192
汽車,100727,100727,100727,100727,100727,100727,100727
生活資訊,1557396,1557396,1557396,1557396,1557396,1557396,1557396
社群媒體,4036596,4036596,4036596,4036596,4036596,4036596,4036596
社群關係,9625,9625,9625,9625,9625,9625,9625
綜合資訊查詢,270386,270386,270386,270386,270386,270386,270386
網路服務,20947070,20947070,20947070,20947070,20947070,20947070,20947070
網路服務供應商,27911,27911,27911,27911,27911,27911,27911
職涯發展,85693,85693,85693,85693,85693,85693,85693
財務/理財/貸款,302170,302170,302170,302170,302170,302170,302170
遊戲,1647821,1647821,1647821,1647821,1647821,1647821,1647821
運動,213746,213746,213746,213746,213746,213746,213746
零售,1519115,1519115,1519115,1519115,1519115,1519115,1519115
電信/通訊,82727,82727,82727,82727,82727,82727,82727
餐廳美食,128791,128791,128791,128791,128791,128791,128791

In [8]:
for col in df_cols:
    if "dor" in col:
        print(col)

In [ ]:
df.groupby("Groups").count()

In [ ]:
len(df)

In [ ]:
len(df_cols)

In [ ]:
df.head()

In [ ]:
# set configure
# path = "../DATA_FULL/"
# path = "./"
# filename = "DNA_KMEANS_RESULT_ID_NEW"
path = "./"
filename = "Groups_ID_0712"
relative_filename = path + filename + ".csv"
# relative_filename = path + filename + ".txt"

In [ ]:
group_df =  pd.read_csv(relative_filename, error_bad_lines=False)
group_df.head()

In [ ]:
for col in L1M_PROM_COMMIT_MONTHS:
    if(col not in df_cols):
        print("col not found =>", col)

In [ ]:
df.groupby("Groups").count()

In [ ]:
group_df.groupby("Groups").count()

In [ ]:
len(df)

In [ ]:
df.head()

In [ ]:
for col in df.columns:
    print()
    print()
    print()
    print(col)
    print("==========================")
    print(df[col].unique())

In [ ]:
df[(df["FLAT_RATE_4G_IND"] == "N") & (df["FLAT_RATE_3G_IND"] == "N")]

In [ ]:
df.head()

In [ ]:
df.groupby("Groups").count()

In [ ]:
temp_df = df[df.columns[1:]]

In [ ]:
temp_df

In [ ]:
# write to csv and no index
t0 = time()
temp_df.to_csv("DATA_FOR_KMEANS_revise.csv", index=False)
print("time for output csv file: %.2f" % (time()-t0))

In [ ]:
path = "./marketing_analyze/"
filename = "group_id_with_none_20170709_12.csv"
# TAG K MEAN RESULT
GROUP_ID_FILE = path + filename
group_df = pd.read_csv(GROUP_ID_FILE, error_bad_lines=False, usecols = ["MINING_DW_SUBSCR_NO", "Groups"])
df_combine_group = pd.merge(group_df, df, on='MINING_DW_SUBSCR_NO', how='inner')

In [ ]:
len(df_combine_group)

In [ ]:
df_combine_group.groupby("Groups").count()

In [ ]:
df_combine_group[df_combine_group["Groups"] == "Infrequent Internet User"].groupby("CUST_TYPE").count()

In [ ]:
df_combine_group[df_combine_group["Groups"] == "None"].groupby("CUST_TYPE").count()

In [ ]:
50183 + 283147 + 127009

In [ ]:
len(df)

In [ ]:
path = "D:/NEW_DATA_FULL_2017_7_4/"
filename = "MDS_SINGLESIM_APRIL_DORMANT_AGE_TENURE_COMPLETED"
# relative_filename = path + filename + ".csv"
relative_filename = path + filename + ".txt"
user_df = pd.read_csv(relative_filename, error_bad_lines=False)

In [ ]:
len(user_df)

In [ ]:
user_df = pd.merge(user_df, df, on='MINING_DW_SUBSCR_NO', how='left')

In [ ]:
len(user_df)

In [ ]:
user_df.groupby("CURR_BILL_PLAN_NAME").count()

In [ ]:
user_df.groupby("CURR_DATA_BILL_PLAN_NAME").count()

In [ ]:
user_df['CURR_BILL_PLAN_NAME'] = user_df['CURR_BILL_PLAN_NAME'].fillna("?")

In [ ]:
user_df['CURR_DATA_BILL_PLAN_NAME'] = user_df['CURR_DATA_BILL_PLAN_NAME'].fillna("?")

In [ ]:
user_df.groupby("CURR_BILL_PLAN_NAME").count()

In [ ]:
user_df.groupby("CURR_DATA_BILL_PLAN_NAME").count()

In [ ]:
user_df[(user_df['CURR_BILL_PLAN_NAME'] == "?") & (user_df['CURR_DATA_BILL_PLAN_NAME'] == "?")]

In [ ]:
len(user_df[(user_df['CURR_BILL_PLAN_NAME'] != "?") & (user_df['CURR_DATA_BILL_PLAN_NAME'] == "?")])

In [ ]:
460339 - 340739

In [ ]:
for i in df.columns:
    print(df[i])

In [ ]:
df.groupby('Groups').count()

In [ ]:
len(df)

In [ ]:
len(df)

In [ ]:
len(df)

In [ ]:
df.head()

In [ ]:
list(df.columns)

In [ ]:
len(df)

In [ ]:
df[df["MINING_DW_SUBSCR_NO"] == 8134330931]

In [ ]:
# set configure
path = "./CDR_MONTHLY_AGGR/"
path = "./dna_Data/"
# path = "C:/Users/VIPLAB/Downloads/Spark_data/"
filename = "DNA_daily_april"
# filename = "weekday_end_april_div_week"

# path = "./"
# filename = "dm_subscr_mtc_mly_COMPLETED_revise"
relative_filename = path + filename + ".csv"
# relative_filename = path + filename + ".txt"

In [ ]:
len(df)

In [ ]:
list(df.columns)

In [ ]:
df[df["MINING_DW_SUBSCR_NO"] == 10001495017]

In [ ]:
df.info()

In [ ]:
df = df.replace(np.inf, 0)

In [ ]:
df = df.fillna(0)

In [ ]:
list(df.columns)

In [ ]:
len(list(df.columns))

In [ ]:
len(df[df["Groups"] == "seldom"])

In [ ]:
len(df[df["Groups"] == "None"])

In [ ]:
# clean non numeric data
# iteration avoid memory leak
for col in df.columns[numeric_st_idx:]:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    # let nan == 0
#     print(col)
    df[col] = df[col].fillna(0)
    df[col] = df[col].astype(np.int64)
# df = df.fillna(0)
# # df[df.columns[numeric_st_idx:]] = df[df.columns[numeric_st_idx:]].apply(np.int64)
# for col in df.columns[numeric_st_idx:]:
#     df[col] = df[col].apply(np.int32)

In [ ]:
df.dtypes

In [ ]:
# write to csv and no index
out_filename = "0713_april_marketing_anylze_full_table_group12_select_max_min.csv"
t0 = time()
df.to_csv(path + out_filename, index=False)
print("time for output csv file: %.2f" % (time()-t0))

In [ ]:
feather.write_dataframe(df, path + out_filename + ".feather")

In [ ]:
del df

In [ ]:
# read revise csv file and print cost time
t0 = time()
df = pd.read_csv(out_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

In [ ]:
# show each columns type
df.dtypes