In [9]:
import os.path
import numpy as np
import pandas as pd
from time import time

In [10]:
# set configure
# path = "../DATA_FULL/"
path = "./"

filename = "CDR_MO_WEEK_COMPLETED_revise"
relative_filename = path + filename + ".csv"
out_filename = "./CDR_MONTHLY/" + filename + "_month_"
# after the numeric_st_idx's number will be tranform to int64
numeric_st_idx = 2
# pick the columns of u wants
# wants_cols = ['DATA_MONTH', 'MINING_DW_SUBSCR_NO', 'AGE', "MO_TTL_DURATION","MO_ONNET_DUR","MO_OFFNET_DUR","PSTN_DUR","MO_TTL_COUNT","MO_ONNET_CNT","MO_OFFNET_CNT","PSTN_CNT","MT_TTL_DURATION","MT_ONNET_DUR","MT_OFFNET_DUR","MT_PSTN_DUR","MT_TTL_COUNT","MT_ONNET_CNT","MT_OFFNET_CNT","MT_PSTN_CNT","MOC_FET_DUR","MOC_TWM_DUR","MOC_CHM_DUR","MOC_OTH_DUR","MOC_PSTN_DUR","MOST_MO_DUR","MTC_FET_DUR","MTC_TWM_DUR","MTC_CHM_DUR","MTC_PSTN_DUR","MOST_MT_DUR"]

In [11]:
# read csv file and print cost time
t0 = time()
# df = pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False)
# df = pd.read_csv(relative_filename, error_bad_lines=False, nrows=100)
df = pd.read_csv(relative_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

time for read csv: 20.15

In [12]:
df.head()

,MINING_DW_SUBSCR_NO,VOICE_MONTH,VOICE_MO_HOUR_SUN_CNT,VOICE_MO_HOUR_MON_CNT,VOICE_MO_HOUR_TUE_CNT,VOICE_MO_HOUR_WED_CNT,VOICE_MO_HOUR_THU_CNT,VOICE_MO_HOUR_FRI_CNT,VOICE_MO_HOUR_SAT_CNT,VOICE_MO_HOUR_SUN_TIME,VOICE_MO_HOUR_MON_TIME,VOICE_MO_HOUR_TUE_TIME,VOICE_MO_HOUR_WED_TIME,VOICE_MO_HOUR_THU_TIME,VOICE_MO_HOUR_FRI_TIME,VOICE_MO_HOUR_SAT_TIME
0,10001264549,2017/2/1,0,0,0,0,0,0,1,0,0,0,0,0,0,317
1,10000766476,2017/1/1,8,7,7,6,3,4,4,5929,5451,4597,4515,4164,3625,1316
2,3125192737,2017/1/1,0,2,1,0,1,0,0,0,119,132,0,15,0,0
3,3116849377,2017/1/1,0,3,8,3,0,0,1,0,343,648,601,0,0,30
4,10001140668,2017/2/1,1,3,0,1,0,1,1,42,49,0,51,0,17,25

In [13]:
# to date type
# df['VOICE_DATE'] = pd.to_datetime(df['VOICE_DATE'])
df['VOICE_MONTH'] = pd.to_datetime(df['VOICE_MONTH'])

In [14]:
# slice 12months data
for month_idx in range(1,13):
    divide_month = df[df['VOICE_MONTH'].dt.month == month_idx]
    if(len(divide_month) == 0):
        continue
    # write to csv and no index
    t0 = time()
    divide_month.to_csv(out_filename + str(month_idx) + ".csv", index=False)
    print("time for output csv file: %.2f" % (time()-t0))

time for output csv file: 56.58
time for output csv file: 57.46
time for output csv file: 57.36
time for output csv file: 56.89

In [15]:
del df