In [3]:
import os.path
import numpy as np
import pandas as pd
from time import time

In [10]:
# set configure
# path = "../DATA_FULL/"
path = "./"

filename = "CDR_MT_WEEK_COMPLETED_revise"
relative_filename = path + filename + ".csv"
out_filename = "./CDR_MONTHLY/" + filename + "_month_"
# after the numeric_st_idx's number will be tranform to int64
numeric_st_idx = 2
# pick the columns of u wants
# wants_cols = ['DATA_MONTH', 'MINING_DW_SUBSCR_NO', 'AGE', "MO_TTL_DURATION","MO_ONNET_DUR","MO_OFFNET_DUR","PSTN_DUR","MO_TTL_COUNT","MO_ONNET_CNT","MO_OFFNET_CNT","PSTN_CNT","MT_TTL_DURATION","MT_ONNET_DUR","MT_OFFNET_DUR","MT_PSTN_DUR","MT_TTL_COUNT","MT_ONNET_CNT","MT_OFFNET_CNT","MT_PSTN_CNT","MOC_FET_DUR","MOC_TWM_DUR","MOC_CHM_DUR","MOC_OTH_DUR","MOC_PSTN_DUR","MOST_MO_DUR","MTC_FET_DUR","MTC_TWM_DUR","MTC_CHM_DUR","MTC_PSTN_DUR","MOST_MT_DUR"]

In [11]:
# read csv file and print cost time
t0 = time()
# df = pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False)
# df = pd.read_csv(relative_filename, error_bad_lines=False, nrows=100)
df = pd.read_csv(relative_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

time for read csv: 18.61

In [12]:
df.head()

,MINING_DW_SUBSCR_NO,VOICE_MONTH,VOICE_MT_SUN_CNT,VOICE_MT_MON_CNT,VOICE_MT_TUE_CNT,VOICE_MT_WED_CNT,VOICE_MT_THU_CNT,VOICE_MT_FRI_CNT,VOICE_MT_SAT_CNT,VOICE_MT_SUN_TIME,VOICE_MT_MON_TIME,VOICE_MT_TUE_TIME,VOICE_MT_WED_TIME,VOICE_MT_THU_TIME,VOICE_MT_FRI_TIME,VOICE_MT_SAT_TIME
0,3122004560,2017/1/1,18,10,21,12,18,7,6,769,1540,1433,537,933,668,241
1,113343266,2017/1/1,21,7,13,7,9,9,18,668,232,1791,468,543,367,782
2,3125192737,2017/1/1,2,2,2,6,8,4,2,44,23,26,129,202,58,39
3,3116849377,2017/1/1,2,3,7,6,2,4,2,55,204,334,150,82,150,122
4,10001140668,2017/3/1,0,0,0,3,1,1,0,0,0,0,248,340,242,0

In [13]:
# to date type
# df['VOICE_DATE'] = pd.to_datetime(df['VOICE_DATE'])
df['VOICE_MONTH'] = pd.to_datetime(df['VOICE_MONTH'])

In [14]:
# slice 12months data
for month_idx in range(1,13):
    divide_month = df[df['VOICE_MONTH'].dt.month == month_idx]
    if(len(divide_month) == 0):
        continue
    # write to csv and no index
    t0 = time()
    divide_month.to_csv(out_filename + str(month_idx) + ".csv", index=False)
    print("time for output csv file: %.2f" % (time()-t0))

time for output csv file: 57.46
time for output csv file: 25.36
time for output csv file: 58.46
time for output csv file: 57.97

In [15]:
del df