In [1]:
import os.path
import numpy as np
import pandas as pd
from time import time

In [9]:
# set configure
# path = "../DATA_FULL/"
path = "./"

filename = "dm_subscr_moc_mly_COMPLETED_revise"
relative_filename = path + filename + ".csv"
out_filename = "./CDR_MONTHLY/" + filename + "_month_"
# after the numeric_st_idx's number will be tranform to int64
numeric_st_idx = 2
# pick the columns of u wants
# wants_cols = ['DATA_MONTH', 'MINING_DW_SUBSCR_NO', 'AGE', "MO_TTL_DURATION","MO_ONNET_DUR","MO_OFFNET_DUR","PSTN_DUR","MO_TTL_COUNT","MO_ONNET_CNT","MO_OFFNET_CNT","PSTN_CNT","MT_TTL_DURATION","MT_ONNET_DUR","MT_OFFNET_DUR","MT_PSTN_DUR","MT_TTL_COUNT","MT_ONNET_CNT","MT_OFFNET_CNT","MT_PSTN_CNT","MOC_FET_DUR","MOC_TWM_DUR","MOC_CHM_DUR","MOC_OTH_DUR","MOC_PSTN_DUR","MOST_MO_DUR","MTC_FET_DUR","MTC_TWM_DUR","MTC_CHM_DUR","MTC_PSTN_DUR","MOST_MT_DUR"]

In [10]:
# read csv file and print cost time
t0 = time()
# df = pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False)
# df = pd.read_csv(relative_filename, error_bad_lines=False, nrows=100)
df = pd.read_csv(relative_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

time for read csv: 21.62

In [11]:
df.head()

,DATA_MONTH,MINING_DW_SUBSCR_NO,MOC_CNT,MOC_DUR,MOC_FET_CNT,MOC_FET_DUR,MOC_TWM_CNT,MOC_TWM_DUR,MOC_CHM_CNT,MOC_CHM_DUR,MOC_APT_CNT,MOC_APT_DUR,MOC_TSC_CNT,MOC_TSC_DUR,MOC_PSTN_CNT,MOC_PSTN_DUR
0,2017/1/1,8130102583,16,564,0,0,0,0,0,0,14,461,0,0,1,63
1,2017/3/1,3125432405,1,13,0,0,0,0,0,0,0,0,0,0,1,13
2,2017/4/1,10000337216,73,5756,48,4275,5,202,9,545,4,280,2,115,5,339
3,2017/4/1,3137418985,148,12949,88,6762,8,899,33,3705,0,0,1,58,18,1525
4,2017/1/1,8233617448,10,264,5,46,3,89,2,129,0,0,0,0,0,0

In [12]:
# to date type
# df['VOICE_DATE'] = pd.to_datetime(df['VOICE_DATE'])
# df['VOICE_MONTH'] = pd.to_datetime(df['VOICE_MONTH'])
df['DATA_MONTH'] = pd.to_datetime(df['DATA_MONTH'])

In [13]:
# slice 12months data
for month_idx in range(1,13):
    divide_month = df[df['DATA_MONTH'].dt.month == month_idx]
    if(len(divide_month) == 0):
        continue
    # write to csv and no index
    t0 = time()
    divide_month.to_csv(out_filename + str(month_idx) + ".csv", index=False)
    print("time for output csv file: %.2f" % (time()-t0))

time for output csv file: 62.41
time for output csv file: 62.10
time for output csv file: 60.39
time for output csv file: 59.37

In [14]:
del df