In [1]:
import os.path
import numpy as np
import pandas as pd
from time import time
from os import listdir
from os.path import isfile, join

In [2]:
def read_csv(filename):
    # read revise csv file and print cost time
    t0 = time()
    df = pd.read_csv(filename, error_bad_lines=False)
    print("time for read csv: %.2f" % (time()-t0))
    return df

In [3]:
def file_csv_list(target_path):
    return [f for f in listdir(target_path) if isfile(join(target_path, f))]

In [4]:
def read_csv_subcr_id(filename):
    # read revise csv file and print cost time
    t0 = time()
    df = pd.read_csv(filename, error_bad_lines=False, usecols = ["MINING_DW_SUBSCR_NO"])
    print("time for read csv: %.2f" % (time()-t0))
    return df

In [5]:
def process_csv_kmean_result(filename, concat_df):
    # read revise csv file and print cost time
    kmean_df = pd.read_csv(filename, error_bad_lines=False, usecols = ["MINING_DW_SUBSCR_NO", "Groups"])
    concat_df = pd.merge(kmean_df, concat_df, on='MINING_DW_SUBSCR_NO', how='left')
    return concat_df

In [6]:
def save_dataframe(df, out_filename):
   # write to csv and no index
    t0 = time()
    df.to_csv(out_filename + ".csv", index=False, encoding='utf-8')
#     df.to_csv(out_filename + ".csv", encoding='utf-8')
    print("time for output csv file: %.2f" % (time()-t0))

In [7]:
# set configure
# path = "../DATA_FULL/"
path = "./CDR_FINAL/"
filename = "CDR_CONCAT_TABLE_4"
relative_filename = path + filename + ".csv"
out_path = "./CDR_FINAL/"

In [8]:
df = read_csv(relative_filename)

time for read csv: 71.48

In [9]:
df.head()

,MINING_DW_SUBSCR_NO,VOICE_MO_HOUR_0_CNT,VOICE_MO_HOUR_1_CNT,VOICE_MO_HOUR_2_CNT,VOICE_MO_HOUR_3_CNT,VOICE_MO_HOUR_4_CNT,VOICE_MO_HOUR_5_CNT,VOICE_MO_HOUR_6_CNT,VOICE_MO_HOUR_7_CNT,VOICE_MO_HOUR_8_CNT,...,DNA_HOUR_21_CNT,DNA_HOUR_22_CNT,DNA_HOUR_23_CNT,DNA_Monday,DNA_Tuesday,DNA_Wednesday,DNA_Thursday,DNA_Friday,DNA_Saturday,DNA_Sunday
0,8134330931,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,...,1.866667,2.7,1.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2118544651,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10000337216,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,3.0,...,4.566667,6.2,4.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3133428916,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.233333,0.0,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3119268553,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
str(list(df.columns))

"['MINING_DW_SUBSCR_NO', 'VOICE_MO_HOUR_0_CNT', 'VOICE_MO_HOUR_1_CNT', 'VOICE_MO_HOUR_2_CNT', 'VOICE_MO_HOUR_3_CNT', 'VOICE_MO_HOUR_4_CNT', 'VOICE_MO_HOUR_5_CNT', 'VOICE_MO_HOUR_6_CNT', 'VOICE_MO_HOUR_7_CNT', 'VOICE_MO_HOUR_8_CNT', 'VOICE_MO_HOUR_9_CNT', 'VOICE_MO_HOUR_10_CNT', 'VOICE_MO_HOUR_11_CNT', 'VOICE_MO_HOUR_12_CNT', 'VOICE_MO_HOUR_13_CNT', 'VOICE_MO_HOUR_14_CNT', 'VOICE_MO_HOUR_15_CNT', 'VOICE_MO_HOUR_16_CNT', 'VOICE_MO_HOUR_17_CNT', 'VOICE_MO_HOUR_18_CNT', 'VOICE_MO_HOUR_19_CNT', 'VOICE_MO_HOUR_20_CNT', 'VOICE_MO_HOUR_21_CNT', 'VOICE_MO_HOUR_22_CNT', 'VOICE_MO_HOUR_23_CNT', 'VOICE_MO_HOUR_0_TIME', 'VOICE_MO_HOUR_1_TIME', 'VOICE_MO_HOUR_2_TIME', 'VOICE_MO_HOUR_3_TIME', 'VOICE_MO_HOUR_4_TIME', 'VOICE_MO_HOUR_5_TIME', 'VOICE_MO_HOUR_6_TIME', 'VOICE_MO_HOUR_7_TIME', 'VOICE_MO_HOUR_8_TIME', 'VOICE_MO_HOUR_9_TIME', 'VOICE_MO_HOUR_10_TIME', 'VOICE_MO_HOUR_11_TIME', 'VOICE_MO_HOUR_12_TIME', 'VOICE_MO_HOUR_13_TIME', 'VOICE_MO_HOUR_14_TIME', 'VOICE_MO_HOUR_15_TIME', 'VOICE_MO_HOUR_16_TIME', 'VOICE_MO_HOUR_17_TIME', 'VOICE_MO_HOUR_18_TIME', 'VOICE_MO_HOUR_19_TIME', 'VOICE_MO_HOUR_20_TIME', 'VOICE_MO_HOUR_21_TIME', 'VOICE_MO_HOUR_22_TIME', 'VOICE_MO_HOUR_23_TIME', 'VOICE_MT_HOUR_0_CNT', 'VOICE_MT_HOUR_1_CNT', 'VOICE_MT_HOUR_2_CNT', 'VOICE_MT_HOUR_3_CNT', 'VOICE_MT_HOUR_4_CNT', 'VOICE_MT_HOUR_5_CNT', 'VOICE_MT_HOUR_6_CNT', 'VOICE_MT_HOUR_7_CNT', 'VOICE_MT_HOUR_8_CNT', 'VOICE_MT_HOUR_9_CNT', 'VOICE_MT_HOUR_10_CNT', 'VOICE_MT_HOUR_11_CNT', 'VOICE_MT_HOUR_12_CNT', 'VOICE_MT_HOUR_13_CNT', 'VOICE_MT_HOUR_14_CNT', 'VOICE_MT_HOUR_15_CNT', 'VOICE_MT_HOUR_16_CNT', 'VOICE_MT_HOUR_17_CNT', 'VOICE_MT_HOUR_18_CNT', 'VOICE_MT_HOUR_19_CNT', 'VOICE_MT_HOUR_20_CNT', 'VOICE_MT_HOUR_21_CNT', 'VOICE_MT_HOUR_22_CNT', 'VOICE_MT_HOUR_23_CNT', 'VOICE_MT_HOUR_0_TIME', 'VOICE_MT_HOUR_1_TIME', 'VOICE_MT_HOUR_2_TIME', 'VOICE_MT_HOUR_3_TIME', 'VOICE_MT_HOUR_4_TIME', 'VOICE_MT_HOUR_5_TIME', 'VOICE_MT_HOUR_6_TIME', 'VOICE_MT_HOUR_7_TIME', 'VOICE_MT_HOUR_8_TIME', 'VOICE_MT_HOUR_9_TIME', 'VOICE_MT_HOUR_10_TIME', 'VOICE_MT_HOUR_11_TIME', 'VOICE_MT_HOUR_12_TIME', 'VOICE_MT_HOUR_13_TIME', 'VOICE_MT_HOUR_14_TIME', 'VOICE_MT_HOUR_15_TIME', 'VOICE_MT_HOUR_16_TIME', 'VOICE_MT_HOUR_17_TIME', 'VOICE_MT_HOUR_18_TIME', 'VOICE_MT_HOUR_19_TIME', 'VOICE_MT_HOUR_20_TIME', 'VOICE_MT_HOUR_21_TIME', 'VOICE_MT_HOUR_22_TIME', 'VOICE_MT_HOUR_23_TIME', 'VOICE_MO_MON_CNT', 'VOICE_MO_TUE_CNT', 'VOICE_MO_WED_CNT', 'VOICE_MO_THU_CNT', 'VOICE_MO_FRI_CNT', 'VOICE_MO_SAT_CNT', 'VOICE_MO_SUN_CNT', 'VOICE_MO_MON_TIME', 'VOICE_MO_TUE_TIME', 'VOICE_MO_WED_TIME', 'VOICE_MO_THU_TIME', 'VOICE_MO_FRI_TIME', 'VOICE_MO_SAT_TIME', 'VOICE_MO_SUN_TIME', 'VOICE_MO_workday_cnt', 'VOICE_MO_workday_cnt_avg', 'VOICE_MO_workday_time', 'VOICE_MO_workday_time_avg', 'VOICE_MO_holiday_cnt', 'VOICE_MO_holiday_cnt_avg', 'VOICE_MO_holiday_time', 'VOICE_MO_holiday_time_avg', 'VOICE_MT_MON_CNT', 'VOICE_MT_TUE_CNT', 'VOICE_MT_WED_CNT', 'VOICE_MT_THU_CNT', 'VOICE_MT_FRI_CNT', 'VOICE_MT_SAT_CNT', 'VOICE_MT_SUN_CNT', 'VOICE_MT_MON_TIME', 'VOICE_MT_TUE_TIME', 'VOICE_MT_WED_TIME', 'VOICE_MT_THU_TIME', 'VOICE_MT_FRI_TIME', 'VOICE_MT_SAT_TIME', 'VOICE_MT_SUN_TIME', 'VOICE_MT_workday_cnt', 'VOICE_MT_workday_cnt_avg', 'VOICE_MT_workday_time', 'VOICE_MT_workday_time_avg', 'VOICE_MT_holiday_cnt', 'VOICE_MT_holiday_cnt_avg', 'VOICE_MT_holiday_time', 'VOICE_MT_holiday_time_avg', 'MTC_CNT', 'MTC_DUR', 'MTC_FET_CNT', 'MTC_FET_DUR', 'MTC_TWM_CNT', 'MTC_TWM_DUR', 'MTC_CHM_CNT', 'MTC_CHM_DUR', 'MTC_APT_CNT', 'MTC_APT_DUR', 'MTC_TSC_CNT', 'MTC_TSC_DUR', 'MTC_PSTN_CNT', 'MTC_PSTN_DUR', 'MOC_CNT', 'MOC_DUR', 'MOC_FET_CNT', 'MOC_FET_DUR', 'MOC_TWM_CNT', 'MOC_TWM_DUR', 'MOC_CHM_CNT', 'MOC_CHM_DUR', 'MOC_APT_CNT', 'MOC_APT_DUR', 'MOC_TSC_CNT', 'MOC_TSC_DUR', 'MOC_PSTN_CNT', 'MOC_PSTN_DUR', 'DNA_HOUR_0_CNT', 'DNA_HOUR_1_CNT', 'DNA_HOUR_2_CNT', 'DNA_HOUR_3_CNT', 'DNA_HOUR_4_CNT', 'DNA_HOUR_5_CNT', 'DNA_HOUR_6_CNT', 'DNA_HOUR_7_CNT', 'DNA_HOUR_8_CNT', 'DNA_HOUR_9_CNT', 'DNA_HOUR_10_CNT', 'DNA_HOUR_11_CNT', 'DNA_HOUR_12_CNT', 'DNA_HOUR_13_CNT', 'DNA_HOUR_14_CNT', 'DNA_HOUR_15_CNT', 'DNA_HOUR_16_CNT', 'DNA_HOUR_17_CNT', 'DNA_HOUR_18_CNT', 'DNA_HOUR_19_CNT', 'DNA_HOUR_20_CNT', 'DNA_HOUR_21_CNT', 'DNA_HOUR_22_CNT', 'DNA_HOUR_23_CNT ', 'DNA_Monday', 'DNA_Tuesday', 'DNA_Wednesday', 'DNA_Thursday', 'DNA_Friday', 'DNA_Saturday', 'DNA_Sunday']"

In [68]:
df=df.rename(columns = {'DNA_HOUR_23_CNT ':'DNA_HOUR_23_CNT'})
result = pd.DataFrame() 
result["MINING_DW_SUBSCR_NO"] = df["MINING_DW_SUBSCR_NO"]
temp_result = pd.DataFrame() 
temp_result["MINING_DW_SUBSCR_NO"] = df["MINING_DW_SUBSCR_NO"]

# VOICE HOUR RELATIVE
# HOUR TIME = MO TIME + MT TIME

In [69]:
temp_result = pd.DataFrame() 
temp_result["MINING_DW_SUBSCR_NO"] = df["MINING_DW_SUBSCR_NO"]
for i in range(24):
    col_name = "VOICE_" + "HOUR_" + str(i) + "_TIME"
    print(col_name)
    temp_result[col_name] = 0
    for m_ in ["_MO_", "_MT_"]:
        temp_result[col_name] += df["VOICE"+  m_ + "HOUR_" + str(i) + "_TIME"]
    temp_result[col_name] /= 30

VOICE_HOUR_0_TIME
VOICE_HOUR_1_TIME
VOICE_HOUR_2_TIME
VOICE_HOUR_3_TIME
VOICE_HOUR_4_TIME
VOICE_HOUR_5_TIME
VOICE_HOUR_6_TIME
VOICE_HOUR_7_TIME
VOICE_HOUR_8_TIME
VOICE_HOUR_9_TIME
VOICE_HOUR_10_TIME
VOICE_HOUR_11_TIME
VOICE_HOUR_12_TIME
VOICE_HOUR_13_TIME
VOICE_HOUR_14_TIME
VOICE_HOUR_15_TIME
VOICE_HOUR_16_TIME
VOICE_HOUR_17_TIME
VOICE_HOUR_18_TIME
VOICE_HOUR_19_TIME
VOICE_HOUR_20_TIME
VOICE_HOUR_21_TIME
VOICE_HOUR_22_TIME
VOICE_HOUR_23_TIME

In [70]:
temp_result = temp_result.round(3)

In [71]:
temp_result.head()

,MINING_DW_SUBSCR_NO,VOICE_HOUR_0_TIME,VOICE_HOUR_1_TIME,VOICE_HOUR_2_TIME,VOICE_HOUR_3_TIME,VOICE_HOUR_4_TIME,VOICE_HOUR_5_TIME,VOICE_HOUR_6_TIME,VOICE_HOUR_7_TIME,VOICE_HOUR_8_TIME,...,VOICE_HOUR_14_TIME,VOICE_HOUR_15_TIME,VOICE_HOUR_16_TIME,VOICE_HOUR_17_TIME,VOICE_HOUR_18_TIME,VOICE_HOUR_19_TIME,VOICE_HOUR_20_TIME,VOICE_HOUR_21_TIME,VOICE_HOUR_22_TIME,VOICE_HOUR_23_TIME
0,10000000005,0.0,0.0,0.0,0.0,0.0,0.0,5.267,2.567,1.000,...,3.067,29.233,1.467,12.900,8.667,1.567,16.600,1.067,11.833,0.4
1,10000000006,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,0.667,0.000,0.500,3.300,12.733,2.133,2.533,0.000,0.000,0.0
2,10000000008,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,20.933,...,0.000,0.000,10.367,1.333,0.567,0.000,0.000,0.000,0.000,0.0
3,10000000013,0.0,0.0,0.0,0.0,0.0,0.0,0.667,0.767,0.000,...,0.000,2.767,1.167,15.167,0.700,2.833,0.000,0.000,0.000,0.0
4,10000000020,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,14.167,2.800,7.200,15.667,0.000,16.767,3.700,0.000,0.000,0.0

In [60]:
save_dataframe(temp_result, out_path +  "voice_hour_24_cols")

time for output csv file: 37.55

In [72]:
# sum 
temp_result["temp_sum"] = 0
for i in temp_result.columns[:-1]:
    if(i !=  "MINING_DW_SUBSCR_NO"):
        temp_result["temp_sum"] += temp_result[i]

In [73]:
# get hour normalize
for i in temp_result.columns[:-1]:
    if(i !=  "MINING_DW_SUBSCR_NO"):
        result[i] = temp_result[i] / temp_result["temp_sum"]

In [74]:
result = result.fillna(0)
result.head()

,MINING_DW_SUBSCR_NO,VOICE_HOUR_0_TIME,VOICE_HOUR_1_TIME,VOICE_HOUR_2_TIME,VOICE_HOUR_3_TIME,VOICE_HOUR_4_TIME,VOICE_HOUR_5_TIME,VOICE_HOUR_6_TIME,VOICE_HOUR_7_TIME,VOICE_HOUR_8_TIME,...,VOICE_HOUR_14_TIME,VOICE_HOUR_15_TIME,VOICE_HOUR_16_TIME,VOICE_HOUR_17_TIME,VOICE_HOUR_18_TIME,VOICE_HOUR_19_TIME,VOICE_HOUR_20_TIME,VOICE_HOUR_21_TIME,VOICE_HOUR_22_TIME,VOICE_HOUR_23_TIME
0,10000000005,0.0,0.0,0.0,0.0,0.0,0.0,0.032405,0.015794,0.006153,...,0.018870,0.179857,0.009026,0.079368,0.053324,0.009641,0.102132,0.006565,0.072803,0.002461
1,10000000006,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.003780,0.000000,0.002834,0.018704,0.072169,0.012090,0.014357,0.000000,0.000000,0.000000
2,10000000008,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.472528,...,0.000000,0.000000,0.234018,0.030090,0.012799,0.000000,0.000000,0.000000,0.000000,0.000000
3,10000000013,0.0,0.0,0.0,0.0,0.0,0.0,0.027713,0.031868,0.000000,...,0.000000,0.114966,0.048488,0.630173,0.029084,0.117708,0.000000,0.000000,0.000000,0.000000
4,10000000020,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.171372,0.033870,0.087095,0.189517,0.000000,0.202823,0.044757,0.000000,0.000000,0.000000

# VOICE WEEK relative

In [76]:
temp_result = pd.DataFrame() 
temp_result["MINING_DW_SUBSCR_NO"] = df["MINING_DW_SUBSCR_NO"]
time_week = ["MON", "TUE", "WED", "THU", "FRI", "SAT", "SUN"]

for i in time_week:
    col_name = "VOICE_" + "HOUR_" + str(i) + "_TIME"
    print(col_name)
    temp_result[col_name] = 0
    for m_ in ["_MO_", "_MT_"]:
        temp_result[col_name] += df["VOICE"+  m_  + str(i) + "_TIME"]

VOICE_HOUR_MON_TIME
VOICE_HOUR_TUE_TIME
VOICE_HOUR_WED_TIME
VOICE_HOUR_THU_TIME
VOICE_HOUR_FRI_TIME
VOICE_HOUR_SAT_TIME
VOICE_HOUR_SUN_TIME

In [77]:
temp_result.head()

,MINING_DW_SUBSCR_NO,VOICE_HOUR_MON_TIME,VOICE_HOUR_TUE_TIME,VOICE_HOUR_WED_TIME,VOICE_HOUR_THU_TIME,VOICE_HOUR_FRI_TIME,VOICE_HOUR_SAT_TIME,VOICE_HOUR_SUN_TIME
0,10000000005,865.0,203.0,691.0,140.0,647.0,1401.0,929.0
1,10000000006,1025.0,1293.0,314.0,1202.0,227.0,298.0,934.0
2,10000000008,225.0,314.0,0.0,17.0,751.0,22.0,0.0
3,10000000013,56.0,17.0,0.0,113.0,417.0,29.0,90.0
4,10000000020,381.0,503.0,1.0,567.0,600.0,387.0,41.0

In [78]:
# sum 
temp_result["temp_sum"] = 0
for i in temp_result.columns[:-1]:
    if(i !=  "MINING_DW_SUBSCR_NO"):
        temp_result["temp_sum"] += temp_result[i]

In [79]:
# get day normalize
for i in temp_result.columns[:-1]:
    if(i !=  "MINING_DW_SUBSCR_NO"):
        result[i] = temp_result[i] / temp_result["temp_sum"]

# DNA relative

In [80]:
# week
temp_result = pd.DataFrame() 
temp_result["MINING_DW_SUBSCR_NO"] = df["MINING_DW_SUBSCR_NO"]
time_week = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
for i in df.columns:
    if( "DNA_" in i and any(list(map(lambda x: True if x in i else False, time_week)))):
        temp_result[i] = df[i]

In [81]:
# sum 
temp_result["temp_sum"] = 0
for i in temp_result.columns[:-1]:
    if(i !=  "MINING_DW_SUBSCR_NO"):
        temp_result["temp_sum"] += temp_result[i]
# get hour normalize
for i in temp_result.columns[:-1]:
    if(i !=  "MINING_DW_SUBSCR_NO"):
        result[i] = temp_result[i] / temp_result["temp_sum"]

In [82]:
# 24hr
temp_result = pd.DataFrame() 
temp_result["MINING_DW_SUBSCR_NO"] = df["MINING_DW_SUBSCR_NO"]
time_week = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
for i in df.columns:
    if( "DNA_" in i and not(any(list(map(lambda x: True if x in i else False, time_week))))):
        temp_result[i] = df[i]
# sum 
temp_result["temp_sum"] = 0
for i in temp_result.columns[:-1]:
    if(i !=  "MINING_DW_SUBSCR_NO"):
        temp_result["temp_sum"] += temp_result[i]
# get hour normalize
for i in temp_result.columns[:-1]:
    if(i !=  "MINING_DW_SUBSCR_NO"):
        result[i] = temp_result[i] / temp_result["temp_sum"]

In [83]:
result.head()

,MINING_DW_SUBSCR_NO,VOICE_HOUR_0_TIME,VOICE_HOUR_1_TIME,VOICE_HOUR_2_TIME,VOICE_HOUR_3_TIME,VOICE_HOUR_4_TIME,VOICE_HOUR_5_TIME,VOICE_HOUR_6_TIME,VOICE_HOUR_7_TIME,VOICE_HOUR_8_TIME,...,DNA_HOUR_14_CNT,DNA_HOUR_15_CNT,DNA_HOUR_16_CNT,DNA_HOUR_17_CNT,DNA_HOUR_18_CNT,DNA_HOUR_19_CNT,DNA_HOUR_20_CNT,DNA_HOUR_21_CNT,DNA_HOUR_22_CNT,DNA_HOUR_23_CNT
0,10000000005,0.0,0.0,0.0,0.0,0.0,0.0,0.032405,0.015794,0.006153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10000000006,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10000000008,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.472528,...,0.043602,0.058308,0.047730,0.059856,0.054180,0.040506,0.049278,0.047472,0.033540,0.037410
3,10000000013,0.0,0.0,0.0,0.0,0.0,0.0,0.027713,0.031868,0.000000,...,0.016345,0.016982,0.018467,0.018467,0.031840,0.048185,0.305668,0.139673,0.023986,0.042029
4,10000000020,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.066007,0.091309,0.037404,0.124312,0.141914,0.009901,0.068207,0.052805,0.014301,0.007701

In [85]:
list(result)

['MINING_DW_SUBSCR_NO',
 'VOICE_HOUR_0_TIME',
 'VOICE_HOUR_1_TIME',
 'VOICE_HOUR_2_TIME',
 'VOICE_HOUR_3_TIME',
 'VOICE_HOUR_4_TIME',
 'VOICE_HOUR_5_TIME',
 'VOICE_HOUR_6_TIME',
 'VOICE_HOUR_7_TIME',
 'VOICE_HOUR_8_TIME',
 'VOICE_HOUR_9_TIME',
 'VOICE_HOUR_10_TIME',
 'VOICE_HOUR_11_TIME',
 'VOICE_HOUR_12_TIME',
 'VOICE_HOUR_13_TIME',
 'VOICE_HOUR_14_TIME',
 'VOICE_HOUR_15_TIME',
 'VOICE_HOUR_16_TIME',
 'VOICE_HOUR_17_TIME',
 'VOICE_HOUR_18_TIME',
 'VOICE_HOUR_19_TIME',
 'VOICE_HOUR_20_TIME',
 'VOICE_HOUR_21_TIME',
 'VOICE_HOUR_22_TIME',
 'VOICE_HOUR_23_TIME',
 'VOICE_HOUR_MON_TIME',
 'VOICE_HOUR_TUE_TIME',
 'VOICE_HOUR_WED_TIME',
 'VOICE_HOUR_THU_TIME',
 'VOICE_HOUR_FRI_TIME',
 'VOICE_HOUR_SAT_TIME',
 'VOICE_HOUR_SUN_TIME',
 'DNA_Monday',
 'DNA_Tuesday',
 'DNA_Wednesday',
 'DNA_Thursday',
 'DNA_Friday',
 'DNA_Saturday',
 'DNA_Sunday',
 'DNA_HOUR_0_CNT',
 'DNA_HOUR_1_CNT',
 'DNA_HOUR_2_CNT',
 'DNA_HOUR_3_CNT',
 'DNA_HOUR_4_CNT',
 'DNA_HOUR_5_CNT',
 'DNA_HOUR_6_CNT',
 'DNA_HOUR_7_CNT',
 'DNA_HOUR_8_CNT',
 'DNA_HOUR_9_CNT',
 'DNA_HOUR_10_CNT',
 'DNA_HOUR_11_CNT',
 'DNA_HOUR_12_CNT',
 'DNA_HOUR_13_CNT',
 'DNA_HOUR_14_CNT',
 'DNA_HOUR_15_CNT',
 'DNA_HOUR_16_CNT',
 'DNA_HOUR_17_CNT',
 'DNA_HOUR_18_CNT',
 'DNA_HOUR_19_CNT',
 'DNA_HOUR_20_CNT',
 'DNA_HOUR_21_CNT',
 'DNA_HOUR_22_CNT',
 'DNA_HOUR_23_CNT']

# merge and filter

In [86]:
filter_df = temp_result[ temp_result["temp_sum"] < 1]
len(filter_df)

731317

In [94]:
filter_df.head()

,MINING_DW_SUBSCR_NO,DNA_HOUR_0_CNT,DNA_HOUR_1_CNT,DNA_HOUR_2_CNT,DNA_HOUR_3_CNT,DNA_HOUR_4_CNT,DNA_HOUR_5_CNT,DNA_HOUR_6_CNT,DNA_HOUR_7_CNT,DNA_HOUR_8_CNT,...,DNA_HOUR_15_CNT,DNA_HOUR_16_CNT,DNA_HOUR_17_CNT,DNA_HOUR_18_CNT,DNA_HOUR_19_CNT,DNA_HOUR_20_CNT,DNA_HOUR_21_CNT,DNA_HOUR_22_CNT,DNA_HOUR_23_CNT,temp_sum
0,10000000005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10000000006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,10000000045,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,10000000054,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,10000000068,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [95]:
for index, row in result.iterrows():
    r_id = row["MINING_DW_SUBSCR_NO"]
    if(r_id in filter_df["MINING_DW_SUBSCR_NO"]):
        for i in result.columns:
            if("DNA_" in i):
                result.set_value(index, i, 0)
                #row[i] = 0
                #result.loc[result.index[r_id]] = row
                #result.loc[r_id][i] = 0
                #result.iloc[index:index+1, result.columns.get_loc(i)] = 0

In [96]:
result = result.fillna(0)

# save unnormalize data

In [102]:
path = "./"
filename = "DNA_KMEANS_RESULT_ID_NEW.csv"
# TAG K MEAN RESULT
KMEANS_RESULT_ID_FILE = path + filename
result = process_csv_kmean_result(KMEANS_RESULT_ID_FILE, result)

In [103]:
result = result.fillna(0)

In [104]:
len(result)

2596797

In [105]:
len(result[result["Groups"] == '1'])

407597

In [106]:
path = "./kmean_label/"
filename = "label_K8__all_max_min_0625_voice"
FILE = path + filename + ".npy"
labels_ = np.load(FILE)
result['label'] = labels_
# TAG K MEAN RESULT
for index, row in result.iterrows():
#     r_id = row["MINING_DW_SUBSCR_NO"]
    if(row["label"] == 0):
        for i in result.columns[1:]:
            if(not "DNA_" in i):
                result.set_value(index, i, 0)

In [107]:
result = result.drop("label", 1)
save_dataframe(result, out_path +  "non_normalize_48_cols")

time for output csv file: 117.40

# normalize

In [108]:
normalize_result = pd.DataFrame() 
normalize_result["MINING_DW_SUBSCR_NO"] = df["MINING_DW_SUBSCR_NO"]

# VOICE_workday/holiday_time_avg = MO TIME + MT TIME

In [109]:
week_dict = {
    "VOICE_workday_time" : ["VOICE_HOUR_MON_TIME", "VOICE_HOUR_TUE_TIME", "VOICE_HOUR_WED_TIME", "VOICE_HOUR_THU_TIME", "VOICE_HOUR_FRI_TIME"],
    "VOICE_holiday_time" : ["VOICE_HOUR_SAT_TIME", "VOICE_HOUR_SUN_TIME"]
            }

for key, col_list in week_dict.items():
    normalize_result[key] = 0
    for col in col_list:
        normalize_result[key] += result[col]
    normalize_result[key] /= len(col_list)
week_dict = {
    "DNA_workday_cnt" : ["DNA_Monday", "DNA_Tuesday", "DNA_Wednesday", "DNA_Thursday", "DNA_Friday"],
    "DNA_holiday_cnt" : ["DNA_Saturday", "DNA_Sunday"]
            }  
for key, col_list in week_dict.items():
    normalize_result[key] = 0
    for col in col_list:
        normalize_result[key] += result[col]
    normalize_result[key] /= len(col_list)

# SEGMETS HOUR TIME = PICK HOURS' TIME / HOURS' COUNT

In [110]:
range_dict = {"hour(7~11)" : range(7,11+1), "hour(12~13)" : range(12,13+1), "hour(14~19)" : range(14,19+1), "hour(20~3)" : [20, 21, 22, 23, 0, 1, 2, 3], "hour(4~6)" : range(4,6 + 1)}
for key, time_list in range_dict.items():
    col_name = key +  "_time"
    print(col_name)
    normalize_result[col_name] = 0
    for i in time_list:
        print("VOICE_ " + "HOUR_" + str(i) + "_TIME")
        normalize_result[col_name] += result["VOICE_HOUR_" + str(i) + "_TIME"]
    normalize_result[col_name] = normalize_result[col_name] / len(time_list)
for key, time_list in range_dict.items():
    col_name = "DNA_" + key +  "_CNT"
    print(col_name)
    normalize_result[col_name] = 0
    for i in time_list:
        print("DNA_" + str(i) + "_CNT")
    
        normalize_result[col_name] += result["DNA_HOUR_" + str(i) + "_CNT"]
    normalize_result[col_name] = normalize_result[col_name] / len(time_list)

hour(7~11)_time
VOICE_ HOUR_7_TIME
VOICE_ HOUR_8_TIME
VOICE_ HOUR_9_TIME
VOICE_ HOUR_10_TIME
VOICE_ HOUR_11_TIME
hour(12~13)_time
VOICE_ HOUR_12_TIME
VOICE_ HOUR_13_TIME
hour(14~19)_time
VOICE_ HOUR_14_TIME
VOICE_ HOUR_15_TIME
VOICE_ HOUR_16_TIME
VOICE_ HOUR_17_TIME
VOICE_ HOUR_18_TIME
VOICE_ HOUR_19_TIME
hour(20~3)_time
VOICE_ HOUR_20_TIME
VOICE_ HOUR_21_TIME
VOICE_ HOUR_22_TIME
VOICE_ HOUR_23_TIME
VOICE_ HOUR_0_TIME
VOICE_ HOUR_1_TIME
VOICE_ HOUR_2_TIME
VOICE_ HOUR_3_TIME
hour(4~6)_time
VOICE_ HOUR_4_TIME
VOICE_ HOUR_5_TIME
VOICE_ HOUR_6_TIME
DNA_hour(7~11)_CNT
DNA_7_CNT
DNA_8_CNT
DNA_9_CNT
DNA_10_CNT
DNA_11_CNT
DNA_hour(12~13)_CNT
DNA_12_CNT
DNA_13_CNT
DNA_hour(14~19)_CNT
DNA_14_CNT
DNA_15_CNT
DNA_16_CNT
DNA_17_CNT
DNA_18_CNT
DNA_19_CNT
DNA_hour(20~3)_CNT
DNA_20_CNT
DNA_21_CNT
DNA_22_CNT
DNA_23_CNT
DNA_0_CNT
DNA_1_CNT
DNA_2_CNT
DNA_3_CNT
DNA_hour(4~6)_CNT
DNA_4_CNT
DNA_5_CNT
DNA_6_CNT

In [111]:
# telegram_list = ["FET", "TWM", "CHM", "APT", "TSC", "PSTN"]

# for telegram in telegram_list:
#     result[telegram + "_time"] = df["MOC_" + telegram + "_DUR"] + df["MTC_" + telegram + "_DUR"]
#     result[telegram + "_cnt"] = df["MOC_" + telegram + "_CNT"] + df["MTC_" + telegram + "_CNT"]

In [112]:
# mo_mt_list = ["MOC", "MTC"]
# for i in mo_mt_list:
#     df[i+ "_CNT"] = df[i+ "_CNT"].apply(lambda x: x if x > 0 else 1)    
#     result[i + "_time_avg"] =  df[i + "_DUR"] /  df[i+ "_CNT"]
# result["MO/MT_CNT"] = df["MOC_CNT"] / df["MTC_CNT"]

In [113]:
path = "./kmean_label/"
filename = "label_K8__all_max_min_0625_voice"
FILE = path + filename + ".npy"
labels_ = np.load(FILE)
normalize_result['label'] = labels_
normalize_result = normalize_result.fillna(0)
# TAG K MEAN RESULT
path = "./"
filename = "DNA_KMEANS_RESULT_ID_NEW.csv"
# TAG K MEAN RESULT
KMEANS_RESULT_ID_FILE = path + filename
normalize_result = process_csv_kmean_result(KMEANS_RESULT_ID_FILE, normalize_result)

In [119]:
len(normalize_result[normalize_result["Groups"] == '1'])

69527

In [115]:
for index, row in normalize_result.iterrows():
#     r_id = row["MINING_DW_SUBSCR_NO"]
    if(row["label"] == 0):
        for i in normalize_result.columns[1:]:
            if(not "DNA_" in i):
                normalize_result.set_value(index, i, 0)

In [116]:
normalize_result = normalize_result.drop("label", 1)
save_dataframe(normalize_result, out_path +  "table_with_kid_all")

time for output csv file: 29.59

In [117]:
split_list = ["1", "2", "3", "4", "5", "6", "7", "8", "seldom", "None" ]

In [118]:
for kid in split_list:
    temp_df = normalize_result[normalize_result["Groups"] == kid]
    temp_df = temp_df.drop("Groups", 1)
    
    save_dataframe(temp_df, out_path + "table_with_kid_" + kid)

time for output csv file: 1.29
time for output csv file: 0.57
time for output csv file: 0.35
time for output csv file: 0.37
time for output csv file: 0.31
time for output csv file: 0.47
time for output csv file: 0.52
time for output csv file: 1.56
time for output csv file: 0.93
time for output csv file: 1.13

In [64]:
path = "./"
filename = "DNA_KMEANS_RESULT_ID_NEW.csv"
# TAG K MEAN RESULT
KMEANS_RESULT_ID_FILE = path + filename
df = df.drop("Groups", 1)

df = process_csv_kmean_result(KMEANS_RESULT_ID_FILE, df)

In [65]:
len(df[df["Groups"] == '1'])

407597

In [66]:
path = "./"
filename = "DNA_KMEANS_RESULT_ID_NEW.csv"
# TAG K MEAN RESULT
KMEANS_RESULT_ID_FILE = path + filename
result = df.drop("Groups", 1)

result = process_csv_kmean_result(KMEANS_RESULT_ID_FILE, result)

In [67]:
len(result[result["Groups"] == '1'])

407597