In [246]:
import os.path
import numpy as np
import pandas as pd
from time import time
from os import listdir
from os.path import isfile, join

In [247]:
def read_csv(filename):
    # read revise csv file and print cost time
    t0 = time()
    df = pd.read_csv(filename, error_bad_lines=False)
    print("time for read csv: %.2f" % (time()-t0))
    return df

In [248]:
def file_csv_list(target_path):
    return [f for f in listdir(target_path) if isfile(join(target_path, f))]

In [249]:
def read_csv_subcr_id(filename):
    # read revise csv file and print cost time
    t0 = time()
    df = pd.read_csv(filename, error_bad_lines=False, usecols = ["MINING_DW_SUBSCR_NO"])
    print("time for read csv: %.2f" % (time()-t0))
    return df

In [250]:
def process_csv_kmean_result(filename, concat_df):
    # read revise csv file and print cost time
    kmean_df = pd.read_csv(filename, error_bad_lines=False, usecols = ["MINING_DW_SUBSCR_NO", "Groups"])
    concat_df = pd.merge(kmean_df, concat_df, on='MINING_DW_SUBSCR_NO', how='left')
    return concat_df

In [251]:
def save_dataframe(df, out_filename):
   # write to csv and no index
    t0 = time()
    df.to_csv(out_filename + ".csv", index=False, encoding='utf-8')
#     df.to_csv(out_filename + ".csv", encoding='utf-8')
    print("time for output csv file: %.2f" % (time()-t0))

In [252]:
# set configure
# path = "../DATA_FULL/"
path = "./CDR_FINAL/"
filename = "CDR_CONCAT_TABLE_4"
relative_filename = path + filename + ".csv"
out_path = "./CDR_FINAL/"

In [253]:
df = read_csv(relative_filename)

time for read csv: 77.60

In [254]:
df.head()

,MINING_DW_SUBSCR_NO,VOICE_MO_HOUR_0_CNT,VOICE_MO_HOUR_1_CNT,VOICE_MO_HOUR_2_CNT,VOICE_MO_HOUR_3_CNT,VOICE_MO_HOUR_4_CNT,VOICE_MO_HOUR_5_CNT,VOICE_MO_HOUR_6_CNT,VOICE_MO_HOUR_7_CNT,VOICE_MO_HOUR_8_CNT,...,DNA_HOUR_21_CNT,DNA_HOUR_22_CNT,DNA_HOUR_23_CNT,DNA_Monday,DNA_Tuesday,DNA_Wednesday,DNA_Thursday,DNA_Friday,DNA_Saturday,DNA_Sunday
0,8134330931,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,...,1.866667,2.7,1.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2118544651,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10000337216,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,3.0,...,4.566667,6.2,4.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3133428916,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.233333,0.0,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3119268553,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [255]:
str(list(df.columns))

"['MINING_DW_SUBSCR_NO', 'VOICE_MO_HOUR_0_CNT', 'VOICE_MO_HOUR_1_CNT', 'VOICE_MO_HOUR_2_CNT', 'VOICE_MO_HOUR_3_CNT', 'VOICE_MO_HOUR_4_CNT', 'VOICE_MO_HOUR_5_CNT', 'VOICE_MO_HOUR_6_CNT', 'VOICE_MO_HOUR_7_CNT', 'VOICE_MO_HOUR_8_CNT', 'VOICE_MO_HOUR_9_CNT', 'VOICE_MO_HOUR_10_CNT', 'VOICE_MO_HOUR_11_CNT', 'VOICE_MO_HOUR_12_CNT', 'VOICE_MO_HOUR_13_CNT', 'VOICE_MO_HOUR_14_CNT', 'VOICE_MO_HOUR_15_CNT', 'VOICE_MO_HOUR_16_CNT', 'VOICE_MO_HOUR_17_CNT', 'VOICE_MO_HOUR_18_CNT', 'VOICE_MO_HOUR_19_CNT', 'VOICE_MO_HOUR_20_CNT', 'VOICE_MO_HOUR_21_CNT', 'VOICE_MO_HOUR_22_CNT', 'VOICE_MO_HOUR_23_CNT', 'VOICE_MO_HOUR_0_TIME', 'VOICE_MO_HOUR_1_TIME', 'VOICE_MO_HOUR_2_TIME', 'VOICE_MO_HOUR_3_TIME', 'VOICE_MO_HOUR_4_TIME', 'VOICE_MO_HOUR_5_TIME', 'VOICE_MO_HOUR_6_TIME', 'VOICE_MO_HOUR_7_TIME', 'VOICE_MO_HOUR_8_TIME', 'VOICE_MO_HOUR_9_TIME', 'VOICE_MO_HOUR_10_TIME', 'VOICE_MO_HOUR_11_TIME', 'VOICE_MO_HOUR_12_TIME', 'VOICE_MO_HOUR_13_TIME', 'VOICE_MO_HOUR_14_TIME', 'VOICE_MO_HOUR_15_TIME', 'VOICE_MO_HOUR_16_TIME', 'VOICE_MO_HOUR_17_TIME', 'VOICE_MO_HOUR_18_TIME', 'VOICE_MO_HOUR_19_TIME', 'VOICE_MO_HOUR_20_TIME', 'VOICE_MO_HOUR_21_TIME', 'VOICE_MO_HOUR_22_TIME', 'VOICE_MO_HOUR_23_TIME', 'VOICE_MT_HOUR_0_CNT', 'VOICE_MT_HOUR_1_CNT', 'VOICE_MT_HOUR_2_CNT', 'VOICE_MT_HOUR_3_CNT', 'VOICE_MT_HOUR_4_CNT', 'VOICE_MT_HOUR_5_CNT', 'VOICE_MT_HOUR_6_CNT', 'VOICE_MT_HOUR_7_CNT', 'VOICE_MT_HOUR_8_CNT', 'VOICE_MT_HOUR_9_CNT', 'VOICE_MT_HOUR_10_CNT', 'VOICE_MT_HOUR_11_CNT', 'VOICE_MT_HOUR_12_CNT', 'VOICE_MT_HOUR_13_CNT', 'VOICE_MT_HOUR_14_CNT', 'VOICE_MT_HOUR_15_CNT', 'VOICE_MT_HOUR_16_CNT', 'VOICE_MT_HOUR_17_CNT', 'VOICE_MT_HOUR_18_CNT', 'VOICE_MT_HOUR_19_CNT', 'VOICE_MT_HOUR_20_CNT', 'VOICE_MT_HOUR_21_CNT', 'VOICE_MT_HOUR_22_CNT', 'VOICE_MT_HOUR_23_CNT', 'VOICE_MT_HOUR_0_TIME', 'VOICE_MT_HOUR_1_TIME', 'VOICE_MT_HOUR_2_TIME', 'VOICE_MT_HOUR_3_TIME', 'VOICE_MT_HOUR_4_TIME', 'VOICE_MT_HOUR_5_TIME', 'VOICE_MT_HOUR_6_TIME', 'VOICE_MT_HOUR_7_TIME', 'VOICE_MT_HOUR_8_TIME', 'VOICE_MT_HOUR_9_TIME', 'VOICE_MT_HOUR_10_TIME', 'VOICE_MT_HOUR_11_TIME', 'VOICE_MT_HOUR_12_TIME', 'VOICE_MT_HOUR_13_TIME', 'VOICE_MT_HOUR_14_TIME', 'VOICE_MT_HOUR_15_TIME', 'VOICE_MT_HOUR_16_TIME', 'VOICE_MT_HOUR_17_TIME', 'VOICE_MT_HOUR_18_TIME', 'VOICE_MT_HOUR_19_TIME', 'VOICE_MT_HOUR_20_TIME', 'VOICE_MT_HOUR_21_TIME', 'VOICE_MT_HOUR_22_TIME', 'VOICE_MT_HOUR_23_TIME', 'VOICE_MO_MON_CNT', 'VOICE_MO_TUE_CNT', 'VOICE_MO_WED_CNT', 'VOICE_MO_THU_CNT', 'VOICE_MO_FRI_CNT', 'VOICE_MO_SAT_CNT', 'VOICE_MO_SUN_CNT', 'VOICE_MO_MON_TIME', 'VOICE_MO_TUE_TIME', 'VOICE_MO_WED_TIME', 'VOICE_MO_THU_TIME', 'VOICE_MO_FRI_TIME', 'VOICE_MO_SAT_TIME', 'VOICE_MO_SUN_TIME', 'VOICE_MO_workday_cnt', 'VOICE_MO_workday_cnt_avg', 'VOICE_MO_workday_time', 'VOICE_MO_workday_time_avg', 'VOICE_MO_holiday_cnt', 'VOICE_MO_holiday_cnt_avg', 'VOICE_MO_holiday_time', 'VOICE_MO_holiday_time_avg', 'VOICE_MT_MON_CNT', 'VOICE_MT_TUE_CNT', 'VOICE_MT_WED_CNT', 'VOICE_MT_THU_CNT', 'VOICE_MT_FRI_CNT', 'VOICE_MT_SAT_CNT', 'VOICE_MT_SUN_CNT', 'VOICE_MT_MON_TIME', 'VOICE_MT_TUE_TIME', 'VOICE_MT_WED_TIME', 'VOICE_MT_THU_TIME', 'VOICE_MT_FRI_TIME', 'VOICE_MT_SAT_TIME', 'VOICE_MT_SUN_TIME', 'VOICE_MT_workday_cnt', 'VOICE_MT_workday_cnt_avg', 'VOICE_MT_workday_time', 'VOICE_MT_workday_time_avg', 'VOICE_MT_holiday_cnt', 'VOICE_MT_holiday_cnt_avg', 'VOICE_MT_holiday_time', 'VOICE_MT_holiday_time_avg', 'MTC_CNT', 'MTC_DUR', 'MTC_FET_CNT', 'MTC_FET_DUR', 'MTC_TWM_CNT', 'MTC_TWM_DUR', 'MTC_CHM_CNT', 'MTC_CHM_DUR', 'MTC_APT_CNT', 'MTC_APT_DUR', 'MTC_TSC_CNT', 'MTC_TSC_DUR', 'MTC_PSTN_CNT', 'MTC_PSTN_DUR', 'MOC_CNT', 'MOC_DUR', 'MOC_FET_CNT', 'MOC_FET_DUR', 'MOC_TWM_CNT', 'MOC_TWM_DUR', 'MOC_CHM_CNT', 'MOC_CHM_DUR', 'MOC_APT_CNT', 'MOC_APT_DUR', 'MOC_TSC_CNT', 'MOC_TSC_DUR', 'MOC_PSTN_CNT', 'MOC_PSTN_DUR', 'DNA_HOUR_0_CNT', 'DNA_HOUR_1_CNT', 'DNA_HOUR_2_CNT', 'DNA_HOUR_3_CNT', 'DNA_HOUR_4_CNT', 'DNA_HOUR_5_CNT', 'DNA_HOUR_6_CNT', 'DNA_HOUR_7_CNT', 'DNA_HOUR_8_CNT', 'DNA_HOUR_9_CNT', 'DNA_HOUR_10_CNT', 'DNA_HOUR_11_CNT', 'DNA_HOUR_12_CNT', 'DNA_HOUR_13_CNT', 'DNA_HOUR_14_CNT', 'DNA_HOUR_15_CNT', 'DNA_HOUR_16_CNT', 'DNA_HOUR_17_CNT', 'DNA_HOUR_18_CNT', 'DNA_HOUR_19_CNT', 'DNA_HOUR_20_CNT', 'DNA_HOUR_21_CNT', 'DNA_HOUR_22_CNT', 'DNA_HOUR_23_CNT ', 'DNA_Monday', 'DNA_Tuesday', 'DNA_Wednesday', 'DNA_Thursday', 'DNA_Friday', 'DNA_Saturday', 'DNA_Sunday']"

In [256]:
df=df.rename(columns = {'DNA_HOUR_23_CNT ':'DNA_HOUR_23_CNT'})
result = pd.DataFrame() 
result["MINING_DW_SUBSCR_NO"] = df["MINING_DW_SUBSCR_NO"]
temp_result = pd.DataFrame() 
temp_result["MINING_DW_SUBSCR_NO"] = df["MINING_DW_SUBSCR_NO"]

# VOICE HOUR RELATIVE
# HOUR TIME = MO TIME + MT TIME

In [257]:
temp_result = pd.DataFrame() 
temp_result["MINING_DW_SUBSCR_NO"] = df["MINING_DW_SUBSCR_NO"]
for i in range(24):
    col_name = "VOICE_" + "HOUR_" + str(i) + "_TIME"
    print(col_name)
    temp_result[col_name] = 0
    for m_ in ["_MO_", "_MT_"]:
        temp_result[col_name] += df["VOICE"+  m_ + "HOUR_" + str(i) + "_TIME"]
    temp_result[col_name] /= 30

VOICE_HOUR_0_TIME
VOICE_HOUR_1_TIME
VOICE_HOUR_2_TIME
VOICE_HOUR_3_TIME
VOICE_HOUR_4_TIME
VOICE_HOUR_5_TIME
VOICE_HOUR_6_TIME
VOICE_HOUR_7_TIME
VOICE_HOUR_8_TIME
VOICE_HOUR_9_TIME
VOICE_HOUR_10_TIME
VOICE_HOUR_11_TIME
VOICE_HOUR_12_TIME
VOICE_HOUR_13_TIME
VOICE_HOUR_14_TIME
VOICE_HOUR_15_TIME
VOICE_HOUR_16_TIME
VOICE_HOUR_17_TIME
VOICE_HOUR_18_TIME
VOICE_HOUR_19_TIME
VOICE_HOUR_20_TIME
VOICE_HOUR_21_TIME
VOICE_HOUR_22_TIME
VOICE_HOUR_23_TIME

In [258]:
temp_result = temp_result.round(3)

In [259]:
temp_result.head()

,MINING_DW_SUBSCR_NO,VOICE_HOUR_0_TIME,VOICE_HOUR_1_TIME,VOICE_HOUR_2_TIME,VOICE_HOUR_3_TIME,VOICE_HOUR_4_TIME,VOICE_HOUR_5_TIME,VOICE_HOUR_6_TIME,VOICE_HOUR_7_TIME,VOICE_HOUR_8_TIME,...,VOICE_HOUR_14_TIME,VOICE_HOUR_15_TIME,VOICE_HOUR_16_TIME,VOICE_HOUR_17_TIME,VOICE_HOUR_18_TIME,VOICE_HOUR_19_TIME,VOICE_HOUR_20_TIME,VOICE_HOUR_21_TIME,VOICE_HOUR_22_TIME,VOICE_HOUR_23_TIME
0,8134330931,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.367,0.733,...,117.433,73.233,85.000,39.633,55.4,169.8,4.533,43.600,20.033,1.500
1,2118544651,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,...,0.000,0.000,0.000,0.000,0.0,1.2,0.000,0.000,0.000,0.000
2,10000337216,0.0,0.0,0.0,0.0,0.0,0.8,2.1,0.300,5.100,...,23.367,20.067,5.000,9.300,12.6,23.9,16.967,27.433,0.000,0.000
3,3133428916,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,...,0.733,1.567,7.233,0.000,0.0,0.0,0.000,3.500,0.000,0.833
4,3119268553,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,...,0.000,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000

In [260]:
save_dataframe(temp_result, out_path +  "voice_hour_24_cols")

time for output csv file: 38.85

In [261]:
# sum = everyday average sum
temp_result["temp_sum"] = 0
for i in temp_result.columns[:-1]:
    if(i !=  "MINING_DW_SUBSCR_NO"):
        temp_result["temp_sum"] += temp_result[i]

In [262]:
# get hour normalize
for i in temp_result.columns[:-1]:
    if(i !=  "MINING_DW_SUBSCR_NO"):
        result[i] = temp_result[i] / temp_result["temp_sum"]

In [263]:
result["voice_monthly_sum"] = temp_result["temp_sum"] * 30

In [264]:
result = result.fillna(0)
result.head()

,MINING_DW_SUBSCR_NO,VOICE_HOUR_0_TIME,VOICE_HOUR_1_TIME,VOICE_HOUR_2_TIME,VOICE_HOUR_3_TIME,VOICE_HOUR_4_TIME,VOICE_HOUR_5_TIME,VOICE_HOUR_6_TIME,VOICE_HOUR_7_TIME,VOICE_HOUR_8_TIME,...,VOICE_HOUR_15_TIME,VOICE_HOUR_16_TIME,VOICE_HOUR_17_TIME,VOICE_HOUR_18_TIME,VOICE_HOUR_19_TIME,VOICE_HOUR_20_TIME,VOICE_HOUR_21_TIME,VOICE_HOUR_22_TIME,VOICE_HOUR_23_TIME,voice_monthly_sum
0,8134330931,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.005164,0.000705,...,0.070466,0.081789,0.038136,0.053307,0.163385,0.004362,0.041953,0.019276,0.001443,31177.95
1,2118544651,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,36.00
2,10000337216,0.0,0.0,0.0,0.0,0.0,0.002786,0.007314,0.001045,0.017764,...,0.069895,0.017415,0.032393,0.043887,0.083246,0.059098,0.095552,0.000000,0.000000,8613.03
3,3133428916,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.077192,0.356305,0.000000,0.000000,0.000000,0.000000,0.172414,0.000000,0.041034,609.00
4,3119268553,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00

# VOICE WEEK relative

In [265]:
temp_result = pd.DataFrame() 
temp_result["MINING_DW_SUBSCR_NO"] = df["MINING_DW_SUBSCR_NO"]
time_week = ["MON", "TUE", "WED", "THU", "FRI", "SAT", "SUN"]

for i in time_week:
    col_name = "VOICE_" + "HOUR_" + str(i) + "_TIME"
    print(col_name)
    temp_result[col_name] = 0
    for m_ in ["_MO_", "_MT_"]:
        temp_result[col_name] += df["VOICE"+  m_  + str(i) + "_TIME"]

VOICE_HOUR_MON_TIME
VOICE_HOUR_TUE_TIME
VOICE_HOUR_WED_TIME
VOICE_HOUR_THU_TIME
VOICE_HOUR_FRI_TIME
VOICE_HOUR_SAT_TIME
VOICE_HOUR_SUN_TIME

In [266]:
temp_result.head()

,MINING_DW_SUBSCR_NO,VOICE_HOUR_MON_TIME,VOICE_HOUR_TUE_TIME,VOICE_HOUR_WED_TIME,VOICE_HOUR_THU_TIME,VOICE_HOUR_FRI_TIME,VOICE_HOUR_SAT_TIME,VOICE_HOUR_SUN_TIME
0,8134330931,2370.0,5347.0,8512.0,4076.0,3807.0,5266.0,1800.0
1,2118544651,0.0,0.0,0.0,0.0,0.0,36.0,0.0
2,10000337216,1075.0,1675.0,1394.0,478.0,1579.0,1385.0,1027.0
3,3133428916,10.0,110.0,357.0,0.0,58.0,52.0,22.0
4,3119268553,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [267]:
save_dataframe(temp_result, out_path +  "voice_week_7_cols")

time for output csv file: 13.47

In [268]:
# sum 
temp_result["temp_sum"] = 0
for i in temp_result.columns[:-1]:
    if(i !=  "MINING_DW_SUBSCR_NO"):
        temp_result["temp_sum"] += temp_result[i]

In [269]:
# get day normalize
for i in temp_result.columns[:-1]:
    if(i !=  "MINING_DW_SUBSCR_NO"):
        result[i] = temp_result[i] / temp_result["temp_sum"]

In [270]:
result.dtypes

MINING_DW_SUBSCR_NO      int64
VOICE_HOUR_0_TIME      float64
VOICE_HOUR_1_TIME      float64
VOICE_HOUR_2_TIME      float64
VOICE_HOUR_3_TIME      float64
VOICE_HOUR_4_TIME      float64
VOICE_HOUR_5_TIME      float64
VOICE_HOUR_6_TIME      float64
VOICE_HOUR_7_TIME      float64
VOICE_HOUR_8_TIME      float64
VOICE_HOUR_9_TIME      float64
VOICE_HOUR_10_TIME     float64
VOICE_HOUR_11_TIME     float64
VOICE_HOUR_12_TIME     float64
VOICE_HOUR_13_TIME     float64
VOICE_HOUR_14_TIME     float64
VOICE_HOUR_15_TIME     float64
VOICE_HOUR_16_TIME     float64
VOICE_HOUR_17_TIME     float64
VOICE_HOUR_18_TIME     float64
VOICE_HOUR_19_TIME     float64
VOICE_HOUR_20_TIME     float64
VOICE_HOUR_21_TIME     float64
VOICE_HOUR_22_TIME     float64
VOICE_HOUR_23_TIME     float64
voice_monthly_sum      float64
VOICE_HOUR_MON_TIME    float64
VOICE_HOUR_TUE_TIME    float64
VOICE_HOUR_WED_TIME    float64
VOICE_HOUR_THU_TIME    float64
VOICE_HOUR_FRI_TIME    float64
VOICE_HOUR_SAT_TIME    float64
VOICE_HOUR_SUN_TIME    float64
dtype: object

# DNA relative

In [271]:
# week
temp_result = pd.DataFrame() 
temp_result["MINING_DW_SUBSCR_NO"] = df["MINING_DW_SUBSCR_NO"]
time_week = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
for i in df.columns:
    if( "DNA_" in i and any(list(map(lambda x: True if x in i else False, time_week)))):
        temp_result[i] = df[i]

In [272]:
# sum 
temp_result["temp_sum"] = 0
for i in temp_result.columns[:-1]:
    if(i !=  "MINING_DW_SUBSCR_NO"):
        temp_result["temp_sum"] += temp_result[i]
# get hour normalize
for i in temp_result.columns[:-1]:
    if(i !=  "MINING_DW_SUBSCR_NO"):
        result[i] = temp_result[i] / temp_result["temp_sum"]

In [273]:
temp_result

,MINING_DW_SUBSCR_NO,DNA_Monday,DNA_Tuesday,DNA_Wednesday,DNA_Thursday,DNA_Friday,DNA_Saturday,DNA_Sunday,temp_sum
0,8134330931,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2118544651,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10000337216,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3133428916,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3119268553,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,3135493626,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,3125061767,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,8131713026,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,3117930663,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,3118052877,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,3133731219,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,10000354353,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,3132916459,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,3136438041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,8135618387,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,8136932676,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,10001380244,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,3128800944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,3116365482,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,10001441351,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,3116484464,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,3114599843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,3123106343,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,10001169113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,3119251416,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,10000055282,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,3134097861,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,3113315619,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,3125730712,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,3115298853,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
2596767,3133552107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596768,8132467656,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596769,3122634624,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596770,3137015814,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596771,8135931363,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596772,10000460407,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596773,3118220038,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596774,3127456590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596775,3132074866,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596776,10000949263,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596777,3127741756,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596778,3132360032,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596779,3121442549,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596780,3121646239,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596781,8134942978,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596782,3131857271,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596783,3118630650,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596784,1113227051,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596785,8131034385,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596786,1110024909,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596787,10001336274,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596788,3129283336,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596789,3130437905,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596790,8133971730,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596791,3137365319,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596792,10000809912,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596793,111080551,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596794,8133951361,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596795,3126104795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2596796,3115187312,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [274]:
# 24hr
temp_result = pd.DataFrame() 
temp_result["MINING_DW_SUBSCR_NO"] = df["MINING_DW_SUBSCR_NO"]
time_week = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
for i in df.columns:
    if( "DNA_" in i and not(any(list(map(lambda x: True if x in i else False, time_week))))):
        temp_result[i] = df[i]
# sum 
temp_result["temp_sum"] = 0
for i in temp_result.columns[:-1]:
    if(i !=  "MINING_DW_SUBSCR_NO"):
        temp_result["temp_sum"] += temp_result[i]
# get hour normalize
for i in temp_result.columns[:-1]:
    if(i !=  "MINING_DW_SUBSCR_NO"):
        result[i] = temp_result[i] / temp_result["temp_sum"]

In [275]:
result["dna_monthly_sum"] = temp_result["temp_sum"] * 30

In [276]:
result.head()

,MINING_DW_SUBSCR_NO,VOICE_HOUR_0_TIME,VOICE_HOUR_1_TIME,VOICE_HOUR_2_TIME,VOICE_HOUR_3_TIME,VOICE_HOUR_4_TIME,VOICE_HOUR_5_TIME,VOICE_HOUR_6_TIME,VOICE_HOUR_7_TIME,VOICE_HOUR_8_TIME,...,DNA_HOUR_15_CNT,DNA_HOUR_16_CNT,DNA_HOUR_17_CNT,DNA_HOUR_18_CNT,DNA_HOUR_19_CNT,DNA_HOUR_20_CNT,DNA_HOUR_21_CNT,DNA_HOUR_22_CNT,DNA_HOUR_23_CNT,dna_monthly_sum
0,8134330931,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.005164,0.000705,...,0.028160,0.099542,0.062213,0.034709,0.038638,0.034709,0.036673,0.053045,0.037328,1527.0
1,2118544651,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.605263,0.026316,0.000000,0.000000,0.000000,0.000000,0.000000,38.0
2,10000337216,0.0,0.0,0.0,0.0,0.0,0.002786,0.007314,0.001045,0.017764,...,0.032944,0.069321,0.048730,0.100892,0.056280,0.101579,0.094029,0.127660,0.084420,1457.0
3,3133428916,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.054217,0.030120,0.004016,0.010040,0.012048,0.048193,0.074297,0.000000,0.036145,498.0
4,3119268553,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [277]:
list(result)

['MINING_DW_SUBSCR_NO',
 'VOICE_HOUR_0_TIME',
 'VOICE_HOUR_1_TIME',
 'VOICE_HOUR_2_TIME',
 'VOICE_HOUR_3_TIME',
 'VOICE_HOUR_4_TIME',
 'VOICE_HOUR_5_TIME',
 'VOICE_HOUR_6_TIME',
 'VOICE_HOUR_7_TIME',
 'VOICE_HOUR_8_TIME',
 'VOICE_HOUR_9_TIME',
 'VOICE_HOUR_10_TIME',
 'VOICE_HOUR_11_TIME',
 'VOICE_HOUR_12_TIME',
 'VOICE_HOUR_13_TIME',
 'VOICE_HOUR_14_TIME',
 'VOICE_HOUR_15_TIME',
 'VOICE_HOUR_16_TIME',
 'VOICE_HOUR_17_TIME',
 'VOICE_HOUR_18_TIME',
 'VOICE_HOUR_19_TIME',
 'VOICE_HOUR_20_TIME',
 'VOICE_HOUR_21_TIME',
 'VOICE_HOUR_22_TIME',
 'VOICE_HOUR_23_TIME',
 'voice_monthly_sum',
 'VOICE_HOUR_MON_TIME',
 'VOICE_HOUR_TUE_TIME',
 'VOICE_HOUR_WED_TIME',
 'VOICE_HOUR_THU_TIME',
 'VOICE_HOUR_FRI_TIME',
 'VOICE_HOUR_SAT_TIME',
 'VOICE_HOUR_SUN_TIME',
 'DNA_Monday',
 'DNA_Tuesday',
 'DNA_Wednesday',
 'DNA_Thursday',
 'DNA_Friday',
 'DNA_Saturday',
 'DNA_Sunday',
 'DNA_HOUR_0_CNT',
 'DNA_HOUR_1_CNT',
 'DNA_HOUR_2_CNT',
 'DNA_HOUR_3_CNT',
 'DNA_HOUR_4_CNT',
 'DNA_HOUR_5_CNT',
 'DNA_HOUR_6_CNT',
 'DNA_HOUR_7_CNT',
 'DNA_HOUR_8_CNT',
 'DNA_HOUR_9_CNT',
 'DNA_HOUR_10_CNT',
 'DNA_HOUR_11_CNT',
 'DNA_HOUR_12_CNT',
 'DNA_HOUR_13_CNT',
 'DNA_HOUR_14_CNT',
 'DNA_HOUR_15_CNT',
 'DNA_HOUR_16_CNT',
 'DNA_HOUR_17_CNT',
 'DNA_HOUR_18_CNT',
 'DNA_HOUR_19_CNT',
 'DNA_HOUR_20_CNT',
 'DNA_HOUR_21_CNT',
 'DNA_HOUR_22_CNT',
 'DNA_HOUR_23_CNT',
 'dna_monthly_sum']

# merge and filter

In [278]:
# filter_df = temp_result[ temp_result["temp_sum"] < 1]
# len(filter_df)

In [279]:
# filter_df.head()

In [280]:
# for index, row in result.iterrows():
#     r_id = row["MINING_DW_SUBSCR_NO"]
#     if(r_id in filter_df["MINING_DW_SUBSCR_NO"]):
#         for i in result.columns:
#             if("DNA_" in i):
#                 result.set_value(index, i, 0)
#                 #row[i] = 0
#                 #result.loc[result.index[r_id]] = row
#                 #result.loc[r_id][i] = 0
#                 #result.iloc[index:index+1, result.columns.get_loc(i)] = 0

In [281]:
result = result.fillna(0)

# normalize month sum data - normalize by column

In [282]:
result["voice_monthly_sum"] = (result["voice_monthly_sum"] - min(result["voice_monthly_sum"])) / (max(result["voice_monthly_sum"]) - min(result["voice_monthly_sum"]))
result["dna_monthly_sum"] = (result["dna_monthly_sum"] - min(result["dna_monthly_sum"])) / (max(result["dna_monthly_sum"]) - min(result["dna_monthly_sum"]))
result = result.fillna(0)
result = result.round(3)

# save undownsampledata

In [283]:
save_dataframe(result, out_path +  "0703normalize_65_cols")

time for output csv file: 97.16

# preprocess lower user (deprecated )

In [284]:
# path = "./kmean_label/"
# filename = "label_K8__all_max_min_0625_voice"
# FILE = path + filename + ".npy"
# labels_ = np.load(FILE)
# result['label'] = labels_
# TAG K MEAN RESULT
# for index, row in result.iterrows():
#     r_id = row["MINING_DW_SUBSCR_NO"]
#     if(row["label"] == 0):
#         for i in result.columns[1:]:
#             if(not "DNA_" in i):
#                 result.set_value(index, i, 0)

In [285]:
# result = result.drop("label", 1)
# save_dataframe(result, out_path +  "non_normalize_48_cols")

# normalize

In [286]:
# normalize_result = pd.DataFrame() 
# normalize_result["MINING_DW_SUBSCR_NO"] = df["MINING_DW_SUBSCR_NO"]

# VOICE_workday/holiday_time_avg = MO TIME + MT TIME

In [287]:
# week_dict = {
#     "VOICE_workday_time" : ["VOICE_HOUR_MON_TIME", "VOICE_HOUR_TUE_TIME", "VOICE_HOUR_WED_TIME", "VOICE_HOUR_THU_TIME", "VOICE_HOUR_FRI_TIME"],
#     "VOICE_holiday_time" : ["VOICE_HOUR_SAT_TIME", "VOICE_HOUR_SUN_TIME"]
#             }

# for key, col_list in week_dict.items():
#     normalize_result[key] = 0
#     for col in col_list:
#         normalize_result[key] += result[col]
#     normalize_result[key] /= len(col_list)
# week_dict = {
#     "DNA_workday_cnt" : ["DNA_Monday", "DNA_Tuesday", "DNA_Wednesday", "DNA_Thursday", "DNA_Friday"],
#     "DNA_holiday_cnt" : ["DNA_Saturday", "DNA_Sunday"]
#             }  
# for key, col_list in week_dict.items():
#     normalize_result[key] = 0
#     for col in col_list:
#         normalize_result[key] += result[col]
#     normalize_result[key] /= len(col_list)

# SEGMETS HOUR TIME = PICK HOURS' TIME / HOURS' COUNT

In [288]:
# range_dict = {"hour(7~11)" : range(7,11+1), "hour(12~13)" : range(12,13+1), "hour(14~19)" : range(14,19+1), "hour(20~3)" : [20, 21, 22, 23, 0, 1, 2, 3], "hour(4~6)" : range(4,6 + 1)}
# for key, time_list in range_dict.items():
#     col_name = key +  "_time"
#     print(col_name)
#     normalize_result[col_name] = 0
#     for i in time_list:
#         print("VOICE_ " + "HOUR_" + str(i) + "_TIME")
#         normalize_result[col_name] += result["VOICE_HOUR_" + str(i) + "_TIME"]
#     normalize_result[col_name] = normalize_result[col_name] / len(time_list)
# for key, time_list in range_dict.items():
#     col_name = "DNA_" + key +  "_CNT"
#     print(col_name)
#     normalize_result[col_name] = 0
#     for i in time_list:
#         print("DNA_" + str(i) + "_CNT")
    
#         normalize_result[col_name] += result["DNA_HOUR_" + str(i) + "_CNT"]
#     normalize_result[col_name] = normalize_result[col_name] / len(time_list)

In [289]:
# telegram_list = ["FET", "TWM", "CHM", "APT", "TSC", "PSTN"]

# for telegram in telegram_list:
#     result[telegram + "_time"] = df["MOC_" + telegram + "_DUR"] + df["MTC_" + telegram + "_DUR"]
#     result[telegram + "_cnt"] = df["MOC_" + telegram + "_CNT"] + df["MTC_" + telegram + "_CNT"]

In [290]:
# mo_mt_list = ["MOC", "MTC"]
# for i in mo_mt_list:
#     df[i+ "_CNT"] = df[i+ "_CNT"].apply(lambda x: x if x > 0 else 1)    
#     result[i + "_time_avg"] =  df[i + "_DUR"] /  df[i+ "_CNT"]
# result["MO/MT_CNT"] = df["MOC_CNT"] / df["MTC_CNT"]

In [291]:
# result = result.drop("Groups", axis = 1)

# paste kid

In [292]:
# path = "./kmean_label/"
# filename = "label_K8__all_max_min_0625_voice"
# FILE = path + filename + ".npy"
# labels_ = np.load(FILE)
# result['label'] = labels_
result = result.fillna(0)
# TAG K MEAN RESULT
path = "./"
filename = "DNA_KMEANS_RESULT_ID_NEW.csv"
# TAG K MEAN RESULT
KMEANS_RESULT_ID_FILE = path + filename
normalize_result = process_csv_kmean_result(KMEANS_RESULT_ID_FILE, result)

In [293]:
normalize_result.groupby('Groups').count()

,MINING_DW_SUBSCR_NO,VOICE_HOUR_0_TIME,VOICE_HOUR_1_TIME,VOICE_HOUR_2_TIME,VOICE_HOUR_3_TIME,VOICE_HOUR_4_TIME,VOICE_HOUR_5_TIME,VOICE_HOUR_6_TIME,VOICE_HOUR_7_TIME,VOICE_HOUR_8_TIME,...,DNA_HOUR_15_CNT,DNA_HOUR_16_CNT,DNA_HOUR_17_CNT,DNA_HOUR_18_CNT,DNA_HOUR_19_CNT,DNA_HOUR_20_CNT,DNA_HOUR_21_CNT,DNA_HOUR_22_CNT,DNA_HOUR_23_CNT,dna_monthly_sum
Groups,,,,,,,,,,,,,,,,,,,,,
1,407597,407597,407597,407597,407597,407597,407597,407597,407597,407597,...,407597,407597,407597,407597,407597,407597,407597,407597,407597,407597
2,184644,184644,184644,184644,184644,184644,184644,184644,184644,184644,...,184644,184644,184644,184644,184644,184644,184644,184644,184644,184644
3,105809,105809,105809,105809,105809,105809,105809,105809,105809,105809,...,105809,105809,105809,105809,105809,105809,105809,105809,105809,105809
4,116958,116958,116958,116958,116958,116958,116958,116958,116958,116958,...,116958,116958,116958,116958,116958,116958,116958,116958,116958,116958
5,110474,110474,110474,110474,110474,110474,110474,110474,110474,110474,...,110474,110474,110474,110474,110474,110474,110474,110474,110474,110474
6,146047,146047,146047,146047,146047,146047,146047,146047,146047,146047,...,146047,146047,146047,146047,146047,146047,146047,146047,146047,146047
7,164149,164149,164149,164149,164149,164149,164149,164149,164149,164149,...,164149,164149,164149,164149,164149,164149,164149,164149,164149,164149
8,490166,490166,490166,490166,490166,490166,490166,490166,490166,490166,...,490166,490166,490166,490166,490166,490166,490166,490166,490166,490166
None,531990,531990,531990,531990,531990,531990,531990,531990,531990,531990,...,531990,531990,531990,531990,531990,531990,531990,531990,531990,531990
seldom,338963,338963,338963,338963,338963,338963,338963,338963,338963,338963,...,338963,338963,338963,338963,338963,338963,338963,338963,338963,338963

In [223]:
normalize_result.head()

,MINING_DW_SUBSCR_NO,Groups,VOICE_HOUR_0_TIME,VOICE_HOUR_1_TIME,VOICE_HOUR_2_TIME,VOICE_HOUR_3_TIME,VOICE_HOUR_4_TIME,VOICE_HOUR_5_TIME,VOICE_HOUR_6_TIME,VOICE_HOUR_7_TIME,...,DNA_HOUR_15_CNT,DNA_HOUR_16_CNT,DNA_HOUR_17_CNT,DNA_HOUR_18_CNT,DNA_HOUR_19_CNT,DNA_HOUR_20_CNT,DNA_HOUR_21_CNT,DNA_HOUR_22_CNT,DNA_HOUR_23_CNT,dna_monthly_sum
0,10000000005,None,0.0,0.0,0.0,0.0,0.0,0.0,0.032,0.016,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,10000000006,seldom,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,10000000008,8,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,...,0.058,0.048,0.060,0.054,0.041,0.049,0.047,0.034,0.037,0.005
3,10000000013,8,0.0,0.0,0.0,0.0,0.0,0.0,0.028,0.032,...,0.017,0.018,0.018,0.032,0.048,0.306,0.140,0.024,0.042,0.007
4,10000000020,4,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,...,0.091,0.037,0.124,0.142,0.010,0.068,0.053,0.014,0.008,0.001

In [224]:
# normalize_result = normalize_result.drop("label", 1)
save_dataframe(normalize_result, out_path +  "table_with_kid_all")

time for output csv file: 92.81

In [225]:
split_list = ["1", "2", "3", "4", "5", "6", "7", "8", "seldom", "None" ]

In [226]:
for kid in split_list:
    temp_df = normalize_result[normalize_result["Groups"] == kid]
    temp_df = temp_df.drop("Groups", 1)
    print("kid =", kid, "len =", len(temp_df))
    save_dataframe(temp_df, out_path + "table_with_kid_" + kid)

kid = 1 len = 407597
time for output csv file: 16.78
kid = 2 len = 184644
time for output csv file: 7.56
kid = 3 len = 105809
time for output csv file: 4.66
kid = 4 len = 116958
time for output csv file: 4.85
kid = 5 len = 110474
time for output csv file: 4.44
kid = 6 len = 146047
time for output csv file: 6.05
kid = 7 len = 164149
time for output csv file: 6.67
kid = 8 len = 490166
time for output csv file: 19.91
kid = seldom len = 338963
time for output csv file: 12.64
kid = None len = 531990
time for output csv file: 18.28