In [26]:
import os.path
import numpy as np
import pandas as pd
from time import time

In [27]:
# set configure
path = "./kid/"
filename = "single_id_age_group_label"
relative_filename = path + filename + ".csv"

In [28]:
# read csv file and print cost time
t0 = time()
# df = pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False, nrows = 100000)
# df = pd.read_csv(relative_filename, error_bad_lines=False, nrows = 10)
df = pd.read_csv(relative_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

time for read csv: 1.03

In [29]:
df.head()

   MINING_DW_SUBSCR_NO DATA_MONTH AGE  PTY_CBU_PO_CNT Groups  label
0                 1179   2017/4/1  43               1   None     -1
1                 1181   2017/4/1  38               1      2      1
2                11121   2017/4/1  47               1      3      3
3                11145   2017/4/1  54               1   None     -1
4                11149   2017/4/1  55               1      2      0

In [30]:
df.dtypes

MINING_DW_SUBSCR_NO     int64
DATA_MONTH             object
AGE                    object
PTY_CBU_PO_CNT          int64
Groups                 object
label                   int64
dtype: object

In [31]:
len(df)

2596797

In [32]:
df = df[df["Groups"] != "None"]

In [33]:
len(df)

1725844

In [34]:
filename = "single_id_age_group_label_non_None"
out_filename =  path + filename + ".csv"
# write to csv and no index
t0 = time()
df.to_csv(out_filename, index=False)
print("time for output csv file: %.2f" % (time()-t0))

time for output csv file: 4.33

In [35]:
del df