In [301]:
import os.path
import numpy as np
import pandas as pd
from time import time

In [302]:
path = "../"
filename = "centers"
relative_filename = path + filename + ".csv"
center_df = pd.read_csv(relative_filename, error_bad_lines=False)
# center_df = center_df[center_df.columns[:10]]

In [312]:
nrows = 10000

In [313]:
path = "../"
filename = "input"
relative_filename = path + filename + ".csv"
user_df = pd.read_csv(relative_filename, error_bad_lines=False, nrows = nrows)
# user_df = pd.read_csv(relative_filename, error_bad_lines=False)
user_df.drop("no", axis = 1, inplace = True)
user_df.drop("Unnamed: 0", axis = 1, inplace = True)
# user_df = user_df[user_df.columns[:10]]

In [314]:
path = "../"
filename = "output"
relative_filename = path + filename + ".csv"
groundtruth_df = pd.read_csv(relative_filename, error_bad_lines=False, nrows = nrows)
groundtruth_df.drop("no", axis = 1, inplace = True)

In [315]:
output = groundtruth_df["output"]

In [316]:
groups_count = len(center_df)
cols = center_df.columns

In [317]:
def k_match(x):
    mse = [sum((x - center_df.iloc[i])**2) for i in range(groups_count)]
    k = mse.index(min(mse))+1   
    return k

In [318]:
s_t = time()

In [319]:
user_df.apply(k_match, axis = 1)

0        4
1       10
2       10
3        3
4        4
5        1
6       10
7       10
8        3
9        4
10       4
11       4
12       9
13       2
14      10
15       8
16       1
17       4
18       4
19      10
20       7
21      10
22       2
23       1
24       2
25      10
26      10
27       9
28      10
29      10
        ..
9970     2
9971     6
9972     5
9973    10
9974     3
9975    10
9976    10
9977     4
9978    10
9979     7
9980     3
9981     2
9982     2
9983     2
9984     4
9985     3
9986     4
9987    10
9988     1
9989     2
9990     4
9991    10
9992    10
9993    10
9994     7
9995     1
9996     6
9997     1
9998    10
9999     7
Length: 10000, dtype: int64

In [320]:
print("finish time = %d" % (time() - s_t))

finish time = 28

In [321]:
output

0        4
1       10
2       10
3        3
4        4
5        1
6       10
7       10
8        3
9        4
10       4
11       4
12       9
13       2
14      10
15       8
16       1
17       4
18       4
19      10
20       7
21      10
22       2
23       1
24       2
25      10
26      10
27       9
28      10
29      10
        ..
9970     2
9971     6
9972     5
9973    10
9974     3
9975    10
9976    10
9977     4
9978    10
9979     7
9980     3
9981     2
9982     2
9983     2
9984     4
9985     3
9986     4
9987    10
9988     1
9989     2
9990     4
9991    10
9992    10
9993    10
9994     7
9995     1
9996     6
9997     1
9998    10
9999     7
Name: output, Length: 10000, dtype: int64

In [323]:
len(user_df == output)

C:\Users\VIPLAB\AppData\Local\conda\conda\envs\py36\lib\site-packages\pandas\core\indexes\base.py:2984: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  return this.join(other, how=how, return_indexers=return_indexers)

10000

In [322]:
# for row in user_df.iterrows():
#     print(row.)

In [ ]:
for (j in 1:nrow(data_for_kmeans)){
  temp <- apply(model.k5$centers , 1 , function(i) sum((data_for_kmeans[j, ]-i)^2))
  a <- append(a,match(min(temp),temp)) 
  print(j)
}