In [220]:
import os.path
import numpy as np
import pandas as pd
from time import time
from os import listdir
import glob
from os.path import isfile, join

In [221]:
def read_csv(filename):
    # read revise csv file and print cost time
    t0 = time()
    df = pd.read_csv(filename, error_bad_lines=False)
    print("time for read csv: %.2f" % (time()-t0))
    return df

In [222]:
def file_csv_list(target_path):
    return [f for f in listdir(target_path) if isfile(join(target_path, f))]

In [223]:
def save_dataframe(df, out_filename):
   # write to csv and no index
    t0 = time()
    df.to_csv(out_filename + ".csv", index=False, encoding='utf-8')
#     df.to_csv(out_filename + ".csv", encoding='utf-8')
    print("time for output csv file: %.2f" % (time()-t0))

In [224]:
def save_dataframe_with_id(df, out_filename):
   # write to csv and no index
    t0 = time()
    df.to_csv(out_filename + ".csv", encoding='utf-8')
#     df.to_csv(out_filename + ".csv", encoding='utf-8')
    print("time for output csv file: %.2f" % (time()-t0))

In [225]:
def paste_kid_to_df(df, filename):
    
    labels_ = np.load(filename)
    df['label'] = labels_
    df = df.fillna(0)
    return df

# batch write kid file

In [226]:
# set configure
# path = "../DATA_FULL/"
path = "./kid/"
out_path = path
for file in glob.glob(path + "*.csv"):
    keyword = "_".join(file.split("_")[-2:]) 
#     filter .csv
    keyword = keyword[:-4]
    if("kid" in keyword):
        print(keyword)
        npy_match_list = glob.glob(path + "*" + keyword + "*.npy")
        if(len(npy_match_list) == 1):
            print("find npy file" , npy_match_list[0])
            df = read_csv(file)
            df = paste_kid_to_df(df, npy_match_list[0])
            save_dataframe(df, out_path + keyword + "_with_label")
        elif(len(npy_match_list) == 0):
            print("cannot match %s to npy file" % file)
        if(len(npy_match_list) == 2):
            print("match %s more than one npy file skip..." % file)

kid_1
find npy file ./kid\label_K6_de_with_kid_1_06281.npy
time for read csv: 1.05
time for output csv file: 5.26
kid_2
find npy file ./kid\label_K5_de_with_kid_2_06281.npy
time for read csv: 0.44
time for output csv file: 2.42
kid_3
find npy file ./kid\label_K5_de_with_kid_3_06281.npy
time for read csv: 0.27
time for output csv file: 1.40
kid_4
find npy file ./kid\label_K5_de_with_kid_4_06281.npy
time for read csv: 0.31
time for output csv file: 1.51
kid_5
find npy file ./kid\label_K5_de_with_kid_5_06281.npy
time for read csv: 0.26
time for output csv file: 1.36
kid_6
find npy file ./kid\label_K5_de_with_kid_6_06281.npy
time for read csv: 0.36
time for output csv file: 1.87
kid_7
find npy file ./kid\label_K5_de_with_kid_7_06281.npy
time for read csv: 0.47
time for output csv file: 2.20
kid_8
find npy file ./kid\label_K5_de_with_kid_8_06281.npy
time for read csv: 1.15
time for output csv file: 6.23
kid_None
cannot match ./kid\table_with_kid_None.csv to npy file
kid_seldom
cannot match ./kid\table_with_kid_seldom.csv to npy file
./kid\test_kid
cannot match ./kid\test_kid.csv to npy file
./kid\test_single
cannot match ./kid\test_single.csv to npy file

# LOAD MINING USER

In [253]:
# set configure
# path = "../DATA_FULL/"
# path = "./"
# filename = "DNA_KMEANS_RESULT_ID_NEW"
path = "D:/NEW_DATA_FULL_2017_6_30/"
filename = "MDS_April_age_SINGLE_SIM_COMPLETED"
# relative_filename = path + filename + ".csv"
relative_filename = path + filename + ".txt"

In [254]:
# user_df =  pd.read_csv(relative_filename, error_bad_lines=False)
user_df =  pd.read_csv(relative_filename, error_bad_lines=False, sep  = '\t')

# user_df = user_df[user_df["MINING_DW_SUBSCR_NO"] != "MINING_DW_SUBSCR_NO"]
# user_df["MINING_DW_SUBSCR_NO"] = user_df["MINING_DW_SUBSCR_NO"].apply(np.int64)

In [255]:
user_df.head()

  DATA_MONTH  MINING_DW_SUBSCR_NO AGE  PTY_CBU_PO_CNT
0   2017/4/1           8134330931  44               1
1   2017/4/1           2118544651  58               1
2   2017/4/1          10000337216  48               1
3   2017/4/1           3133428916  27               1
4   2017/4/1           3119268553  56               1

# check data is duplicate or not

In [256]:
user_df[user_df["MINING_DW_SUBSCR_NO"].duplicated(keep=False)]

Empty DataFrame
Columns: [DATA_MONTH, MINING_DW_SUBSCR_NO, AGE, PTY_CBU_PO_CNT]
Index: []

In [257]:
users_count = len(user_df)

# user_df.sort_values(["AGE"], inplace = True)
user_df = user_df.set_index("MINING_DW_SUBSCR_NO")
user_df.sort_index(inplace = True)

# user_df["Groups"] = np.nan
# user_df["label"] = np.nan
user_df["Groups"] = "None"
user_df["label"] = np.nan
# user_df["label"] = user_df["label"].apply(np.int64)

# paste all kid

In [258]:
# set configure
# path = "../DATA_FULL/"
path = "./kid/"
out_path = path
for file in glob.glob(path + "*.csv"):
    if("with_label" in file):
        # get Group id
        group_num  = file.split("_")[1].strip()
        print("filename = %s , Groups = %s" % (file, group_num))
        wants_cols = ["MINING_DW_SUBSCR_NO", "label"]
        label_df = pd.read_csv(file, error_bad_lines=False, usecols = wants_cols)
        print("group_num =", group_num)
        label_df["Groups"] = group_num
        print("len(label_df[Groups]) =", len(label_df["Groups"]))

#
        label_df = label_df.set_index("MINING_DW_SUBSCR_NO")
        label_df.sort_index(inplace = True)
#         label_df = label_df[label_df['MINING_DW_SUBSCR_NO'].isin(user_df['MINING_DW_SUBSCR_NO'])]
#         label_df = label_df[label_df.index.isin(user_df.index)]
        new_user_label = user_df[['Groups', 'label']]
        new_user_label.update(label_df)
        user_df[['Groups', 'label']] = new_user_label


#         user_df["label"].update(label_df["label"], raise_conflict=True)
#         user_df.update(label_df)


#         break

filename = ./kid\kid_1_with_label.csv , Groups = 1
group_num = 1
len(label_df[Groups]) = 407597

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3863: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  raise_on_error=True)

filename = ./kid\kid_2_with_label.csv , Groups = 2
group_num = 2
len(label_df[Groups]) = 184644
filename = ./kid\kid_3_with_label.csv , Groups = 3
group_num = 3
len(label_df[Groups]) = 105809
filename = ./kid\kid_4_with_label.csv , Groups = 4
group_num = 4
len(label_df[Groups]) = 116958
filename = ./kid\kid_5_with_label.csv , Groups = 5
group_num = 5
len(label_df[Groups]) = 110474
filename = ./kid\kid_6_with_label.csv , Groups = 6
group_num = 6
len(label_df[Groups]) = 146047
filename = ./kid\kid_7_with_label.csv , Groups = 7
group_num = 7
len(label_df[Groups]) = 164149
filename = ./kid\kid_8_with_label.csv , Groups = 8
group_num = 8
len(label_df[Groups]) = 490166

In [259]:
print(len(user_df))
print(len(user_df[user_df["Groups"] == "4"]))
print(len(user_df[user_df["label"] == 1]))

2596797
116958
400403

In [260]:
user_df.head()

                    DATA_MONTH AGE  PTY_CBU_PO_CNT Groups  label
MINING_DW_SUBSCR_NO
1179                  2017/4/1  43               1   None    NaN
1181                  2017/4/1  38               1      2    1.0
11121                 2017/4/1  47               1      3    3.0
11145                 2017/4/1  54               1   None    NaN
11149                 2017/4/1  55               1      2    0.0

In [261]:
user_df.dtypes

DATA_MONTH         object
AGE                object
PTY_CBU_PO_CNT      int64
Groups             object
label             float64
dtype: object

In [262]:
user_df["label"] = user_df["label"].fillna(-1)
user_df["label"] = user_df["label"].apply(np.int64)

In [263]:
user_df.head()

                    DATA_MONTH AGE  PTY_CBU_PO_CNT Groups  label
MINING_DW_SUBSCR_NO
1179                  2017/4/1  43               1   None     -1
1181                  2017/4/1  38               1      2      1
11121                 2017/4/1  47               1      3      3
11145                 2017/4/1  54               1   None     -1
11149                 2017/4/1  55               1      2      0

In [264]:
save_dataframe_with_id(user_df, out_path +  "single_id_age_group_label")

time for output csv file: 5.78

In [265]:
print("origin users_count", users_count)
print("current users_count", len(user_df))

origin users_count 2596797
current users_count 2596797

In [266]:
wants_cols = ["MINING_DW_SUBSCR_NO"]
df =  pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False)

In [267]:
df.head()

Empty DataFrame
Columns: [DATA_MONTH	MINING_DW_SUBSCR_NO	AGE	PTY_CBU_PO_CNT]
Index: []

In [268]:
path = "./kid/"
filename = "label_K6_de_with_kid_1_06281"
FILE = path + filename + ".npy"
labels_ = np.load(FILE)
filename = "table_with_kid_1"
relative_filename = path + filename + ".csv"
df = read_csv(relative_filename)
df['label'] = labels_
print(len(df[df['label'] == 5]))
df = df.fillna(0)
out_path = "./CDR_FINAL/"

time for read csv: 0.92
32089

In [269]:
df.head()

,MINING_DW_SUBSCR_NO,VOICE_workday_time,VOICE_holiday_time,DNA_workday_cnt,DNA_holiday_cnt,hour(7~11)_time,hour(12~13)_time,hour(14~19)_time,hour(20~3)_time,hour(4~6)_time,DNA_hour(7~11)_CNT,DNA_hour(12~13)_CNT,DNA_hour(14~19)_CNT,DNA_hour(20~3)_CNT,DNA_hour(4~6)_CNT,label
0,10000000028,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,3
1,10000000036,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.033321,0.034582,0.032353,0.061712,0.025474,3
2,10000000083,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.092683,0.000000,0.089431,0.000000,0.000000,3
3,10000000085,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.055422,0.049398,0.060509,0.019076,0.036145,4
4,10000000087,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.040991,0.026473,0.104611,0.007792,0.017364,3