In [37]:
import os.path
import numpy as np
import pandas as pd
from time import time

In [38]:
# set configure
# path = "../DATA_FULL/"
path = "./dna_Data/"
filename = "DNA_daily_april"
relative_filename = path + filename + ".csv"
# relative_filename = path + filename + ".txt"
out_filename = path +filename + "_div_30.csv"
# after the numeric_st_idx's number will be tranform to int64
numeric_st_idx = 1
# pick the columns of u wants
# wants_cols = ['DATA_MONTH', 'MINING_DW_SUBSCR_NO', 'AGE', "MO_TTL_DURATION","MO_ONNET_DUR","MO_OFFNET_DUR","PSTN_DUR","MO_TTL_COUNT","MO_ONNET_CNT","MO_OFFNET_CNT","PSTN_CNT","MT_TTL_DURATION","MT_ONNET_DUR","MT_OFFNET_DUR","MT_PSTN_DUR","MT_TTL_COUNT","MT_ONNET_CNT","MT_OFFNET_CNT","MT_PSTN_CNT","MOC_FET_DUR","MOC_TWM_DUR","MOC_CHM_DUR","MOC_OTH_DUR","MOC_PSTN_DUR","MOST_MO_DUR","MTC_FET_DUR","MTC_TWM_DUR","MTC_CHM_DUR","MTC_PSTN_DUR","MOST_MT_DUR"]

In [39]:
# read csv file and print cost time
t0 = time()
# df = pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False)
df = pd.read_csv(relative_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

time for read csv: 8.41

In [40]:
df.head()

,MINING_DW_SUBSCR_NO,DNA_HOUR_0_CNT,DNA_HOUR_1_CNT,DNA_HOUR_2_CNT,DNA_HOUR_3_CNT,DNA_HOUR_4_CNT,DNA_HOUR_5_CNT,DNA_HOUR_6_CNT,DNA_HOUR_7_CNT,DNA_HOUR_8_CNT,...,DNA_HOUR_14_CNT,DNA_HOUR_15_CNT,DNA_HOUR_16_CNT,DNA_HOUR_17_CNT,DNA_HOUR_18_CNT,DNA_HOUR_19_CNT,DNA_HOUR_20_CNT,DNA_HOUR_21_CNT,DNA_HOUR_22_CNT,DNA_HOUR_23_CNT
0,3122377179,0,0,3,23,6,6,14,22,39,...,11,17,14,14,9,12,6,4,0,0
1,8136682459,243,419,741,971,153,169,29,19,42,...,243,195,224,193,153,133,210,163,134,203
2,3120477690,0,0,0,0,0,0,0,0,2,...,0,14,10,6,11,19,1,0,0,0
3,3117560420,1701,1029,982,965,981,649,752,1179,1607,...,1031,1294,930,863,1153,1058,787,1192,1239,1317
4,10000704196,184,145,32,39,10,9,7,45,94,...,91,102,121,81,80,114,69,85,191,188

In [41]:
# clean non numeric data
# iteration avoid memory leak
for col in df.columns[numeric_st_idx:]:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    # let nan == 0
#     print(col)
    df[col] = df[col].fillna(0)
    df[col] = df[col].astype(np.int64)
#     if(col == "Saturday" or col == "Sunday"):
#         df[col] = df[col]/5
#     else:
#         df[col] = df[col]/4

    df[col] = df[col]/30
# df = df.fillna(0)
# # df[df.columns[numeric_st_idx:]] = df[df.columns[numeric_st_idx:]].apply(np.int64)
# for col in df.columns[numeric_st_idx:]:
#     df[col] = df[col].apply(np.int32)

In [42]:
df.dtypes

MINING_DW_SUBSCR_NO      int64
DNA_HOUR_0_CNT         float64
DNA_HOUR_1_CNT         float64
DNA_HOUR_2_CNT         float64
DNA_HOUR_3_CNT         float64
DNA_HOUR_4_CNT         float64
DNA_HOUR_5_CNT         float64
DNA_HOUR_6_CNT         float64
DNA_HOUR_7_CNT         float64
DNA_HOUR_8_CNT         float64
DNA_HOUR_9_CNT         float64
DNA_HOUR_10_CNT        float64
DNA_HOUR_11_CNT        float64
DNA_HOUR_12_CNT        float64
DNA_HOUR_13_CNT        float64
DNA_HOUR_14_CNT        float64
DNA_HOUR_15_CNT        float64
DNA_HOUR_16_CNT        float64
DNA_HOUR_17_CNT        float64
DNA_HOUR_18_CNT        float64
DNA_HOUR_19_CNT        float64
DNA_HOUR_20_CNT        float64
DNA_HOUR_21_CNT        float64
DNA_HOUR_22_CNT        float64
DNA_HOUR_23_CNT        float64
dtype: object

In [43]:
df.head()

,MINING_DW_SUBSCR_NO,DNA_HOUR_0_CNT,DNA_HOUR_1_CNT,DNA_HOUR_2_CNT,DNA_HOUR_3_CNT,DNA_HOUR_4_CNT,DNA_HOUR_5_CNT,DNA_HOUR_6_CNT,DNA_HOUR_7_CNT,DNA_HOUR_8_CNT,...,DNA_HOUR_14_CNT,DNA_HOUR_15_CNT,DNA_HOUR_16_CNT,DNA_HOUR_17_CNT,DNA_HOUR_18_CNT,DNA_HOUR_19_CNT,DNA_HOUR_20_CNT,DNA_HOUR_21_CNT,DNA_HOUR_22_CNT,DNA_HOUR_23_CNT
0,3122377179,0.000000,0.000000,0.100000,0.766667,0.200000,0.200000,0.466667,0.733333,1.300000,...,0.366667,0.566667,0.466667,0.466667,0.300000,0.400000,0.200000,0.133333,0.000000,0.000000
1,8136682459,8.100000,13.966667,24.700000,32.366667,5.100000,5.633333,0.966667,0.633333,1.400000,...,8.100000,6.500000,7.466667,6.433333,5.100000,4.433333,7.000000,5.433333,4.466667,6.766667
2,3120477690,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.066667,...,0.000000,0.466667,0.333333,0.200000,0.366667,0.633333,0.033333,0.000000,0.000000,0.000000
3,3117560420,56.700000,34.300000,32.733333,32.166667,32.700000,21.633333,25.066667,39.300000,53.566667,...,34.366667,43.133333,31.000000,28.766667,38.433333,35.266667,26.233333,39.733333,41.300000,43.900000
4,10000704196,6.133333,4.833333,1.066667,1.300000,0.333333,0.300000,0.233333,1.500000,3.133333,...,3.033333,3.400000,4.033333,2.700000,2.666667,3.800000,2.300000,2.833333,6.366667,6.266667

In [44]:
# write to csv and no index
t0 = time()
df.to_csv(out_filename, index=False)
print("time for output csv file: %.2f" % (time()-t0))

time for output csv file: 110.76

In [45]:
del df

In [ ]:
# read revise csv file and print cost time
t0 = time()
df = pd.read_csv(out_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

In [ ]:
# show each columns type
df.dtypes