In [11]:
import os.path
import numpy as np
import pandas as pd
from time import time

In [12]:
# set configure
# path = "../DATA_FULL/"
path = "D:/NEW_DATA_FULL_2017_6_21/"
filename = "dm_subscr_mtc_mly_COMPLETED"
# relative_filename = path + filename + ".csv"
relative_filename = path + filename + ".txt"
out_filename = filename + "_revise.csv"
# after the numeric_st_idx's number will be tranform to int64
numeric_st_idx = 2
# pick the columns of u wants
# wants_cols = ['DATA_MONTH', 'MINING_DW_SUBSCR_NO', 'AGE', "MO_TTL_DURATION","MO_ONNET_DUR","MO_OFFNET_DUR","PSTN_DUR","MO_TTL_COUNT","MO_ONNET_CNT","MO_OFFNET_CNT","PSTN_CNT","MT_TTL_DURATION","MT_ONNET_DUR","MT_OFFNET_DUR","MT_PSTN_DUR","MT_TTL_COUNT","MT_ONNET_CNT","MT_OFFNET_CNT","MT_PSTN_CNT","MOC_FET_DUR","MOC_TWM_DUR","MOC_CHM_DUR","MOC_OTH_DUR","MOC_PSTN_DUR","MOST_MO_DUR","MTC_FET_DUR","MTC_TWM_DUR","MTC_CHM_DUR","MTC_PSTN_DUR","MOST_MT_DUR"]

In [13]:
# read csv file and print cost time
t0 = time()
# df = pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False)
df = pd.read_csv(relative_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

time for read csv: 21.72

In [14]:
# remove row which the value is null in column age
# if("AGE" in df.columns):
#     df = df.dropna(axis=0, subset =['AGE'])
#     print("remove Age = null")
# remove row which the value is ? in column MINING_DW_SUBSCR_NO
# if("MINING_DW_SUBSCR_NO" in df.columns):
#     df = df[df["MINING_DW_SUBSCR_NO"] != "?"]
#     print("remove MINING_DW_SUBSCR_NO == ?")

In [15]:
df.head()

,DATA_MONTH,MINING_DW_SUBSCR_NO,MTC_CNT,MTC_DUR,MTC_FET_CNT,MTC_FET_DUR,MTC_TWM_CNT,MTC_TWM_DUR,MTC_CHM_CNT,MTC_CHM_DUR,MTC_APT_CNT,MTC_APT_DUR,MTC_TSC_CNT,MTC_TSC_DUR,MTC_PSTN_CNT,MTC_PSTN_DUR
0,2017/1/1,8130102583,9,623,1,172,5,362,0,0,1,23,1,51,1,15
1,2017/3/1,3125432405,5,465,0,0,0,0,1,19,4,446,0,0,0,0
2,2017/4/1,10000337216,55,2857,33,1213,4,119,8,680,2,140,1,9,7,696
3,2017/4/1,3137418985,112,16365,52,6722,11,733,33,5682,2,408,0,0,13,2818
4,2017/1/1,8233617448,23,1743,18,984,3,68,2,691,0,0,0,0,0,0

In [16]:
# clean non numeric data
# iteration avoid memory leak
for col in df.columns[numeric_st_idx:]:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    # let nan == 0
#     print(col)
    df[col] = df[col].fillna(0)
    df[col] = df[col].astype(np.int64)
# df = df.fillna(0)
# # df[df.columns[numeric_st_idx:]] = df[df.columns[numeric_st_idx:]].apply(np.int64)
# for col in df.columns[numeric_st_idx:]:
#     df[col] = df[col].apply(np.int32)

In [17]:
df.dtypes

DATA_MONTH             object
MINING_DW_SUBSCR_NO     int64
MTC_CNT                 int64
MTC_DUR                 int64
MTC_FET_CNT             int64
MTC_FET_DUR             int64
MTC_TWM_CNT             int64
MTC_TWM_DUR             int64
MTC_CHM_CNT             int64
MTC_CHM_DUR             int64
MTC_APT_CNT             int64
MTC_APT_DUR             int64
MTC_TSC_CNT             int64
MTC_TSC_DUR             int64
MTC_PSTN_CNT            int64
MTC_PSTN_DUR            int64
dtype: object

In [18]:
# write to csv and no index
t0 = time()
df.to_csv(out_filename, index=False)
print("time for output csv file: %.2f" % (time()-t0))

time for output csv file: 144.81

In [19]:
del df

In [ ]:
# read revise csv file and print cost time
t0 = time()
df = pd.read_csv(out_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

In [ ]:
# show each columns type
df.dtypes