In [85]:
import os.path
import numpy as np
import pandas as pd
from time import time

In [86]:
# set configure
path = "./CDR_MONTHLY_AGGR/"
filename = "weekday_end_april_div_week"
# path = "./"
# filename = "dm_subscr_mtc_mly_COMPLETED_revise"
relative_filename = path + filename + ".csv"
out_filename = relative_filename

# relative_filename = path + filename + ".txt"
# wants_cols = ['DATA_MONTH', 'MINING_DW_SUBSCR_NO', 'AGE', "MO_TTL_DURATION","MO_ONNET_DUR","MO_OFFNET_DUR","PSTN_DUR","MO_TTL_COUNT","MO_ONNET_CNT","MO_OFFNET_CNT","PSTN_CNT","MT_TTL_DURATION","MT_ONNET_DUR","MT_OFFNET_DUR","MT_PSTN_DUR","MT_TTL_COUNT","MT_ONNET_CNT","MT_OFFNET_CNT","MT_PSTN_CNT","MOC_FET_DUR","MOC_TWM_DUR","MOC_CHM_DUR","MOC_OTH_DUR","MOC_PSTN_DUR","MOST_MO_DUR","MTC_FET_DUR","MTC_TWM_DUR","MTC_CHM_DUR","MTC_PSTN_DUR","MOST_MT_DUR"]

In [87]:
# read csv file and print cost time
t0 = time()
# df = pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False, nrows = 100000)
df = pd.read_csv(relative_filename, error_bad_lines=False)
# df = pd.read_csv(relative_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

time for read csv: 5.50

C:\Users\VIPLAB\AppData\Local\conda\conda\envs\py36\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [88]:
df.head()

,MINING_DW_SUBSCR_NO,DNA_Friday,DNA_Monday,DNA_Saturday,DNA_Sunday,DNA_Thursday,DNA_Tuesday,DNA_Wednesday
0,3121277938,33.25,112.50,41.4,9.8,46.50,44.00,52.25
1,8135076466,31.75,26.50,11.6,0.2,24.25,60.25,24.00
2,3219174969,0.00,11.00,0.0,0.0,0.25,8.75,2.25
3,10000523342,9.50,5.50,4.2,11.4,33.75,23.25,36.00
4,10001244569,2.50,2.25,1.6,7.0,2.75,12.25,19.50

In [89]:
list(df.columns)

['MINING_DW_SUBSCR_NO',
 'DNA_Friday',
 'DNA_Monday',
 'DNA_Saturday',
 'DNA_Sunday',
 'DNA_Thursday',
 'DNA_Tuesday',
 'DNA_Wednesday']

In [65]:
df = df[[
    'MINING_DW_SUBSCR_NO',
 'VOICE_MO_HOUR_MON_CNT',
 'VOICE_MO_HOUR_TUE_CNT',
 'VOICE_MO_HOUR_WED_CNT',
 'VOICE_MO_HOUR_THU_CNT',
 'VOICE_MO_HOUR_FRI_CNT',
 'VOICE_MO_HOUR_SAT_CNT',
     'VOICE_MO_HOUR_SUN_CNT',

 'VOICE_MO_HOUR_MON_TIME',
 'VOICE_MO_HOUR_TUE_TIME',
 'VOICE_MO_HOUR_WED_TIME',
 'VOICE_MO_HOUR_THU_TIME',
 'VOICE_MO_HOUR_FRI_TIME',
 'VOICE_MO_HOUR_SAT_TIME',
     'VOICE_MO_HOUR_SUN_TIME',
 'VOICE_MO_workday_cnt',
 'VOICE_MO_workday_cnt_avg',
 'VOICE_MO_workday_time',
 'VOICE_MO_workday_time_avg',
 'VOICE_MO_holiday_cnt',
 'VOICE_MO_holiday_cnt_avg',
 'VOICE_MO_holiday_time',
 'VOICE_MO_holiday_time_avg']]

In [90]:
df = df[['MINING_DW_SUBSCR_NO', 'DNA_Monday', 'DNA_Tuesday', 'DNA_Wednesday', 'DNA_Thursday', 'DNA_Friday', 'DNA_Saturday', 'DNA_Sunday']]

In [91]:
df.head()

,MINING_DW_SUBSCR_NO,DNA_Monday,DNA_Tuesday,DNA_Wednesday,DNA_Thursday,DNA_Friday,DNA_Saturday,DNA_Sunday
0,3121277938,112.50,44.00,52.25,46.50,33.25,41.4,9.8
1,8135076466,26.50,60.25,24.00,24.25,31.75,11.6,0.2
2,3219174969,11.00,8.75,2.25,0.25,0.00,0.0,0.0
3,10000523342,5.50,23.25,36.00,33.75,9.50,4.2,11.4
4,10001244569,2.25,12.25,19.50,2.75,2.50,1.6,7.0

In [92]:
df.dtypes

MINING_DW_SUBSCR_NO     object
DNA_Monday             float64
DNA_Tuesday            float64
DNA_Wednesday          float64
DNA_Thursday           float64
DNA_Friday             float64
DNA_Saturday           float64
DNA_Sunday             float64
dtype: object

In [93]:
# write to csv and no index
t0 = time()
df.to_csv(out_filename, index=False)
print("time for output csv file: %.2f" % (time()-t0))

time for output csv file: 25.33

In [94]:
del df