In [1]:
import os.path
import numpy as np
import pandas as pd
from time import time

In [76]:
# set configure
path = "./CDR_FINAL/"
filename = "CDR_MO_HOUR_revise_month_1_aggregate"
relative_filename = path + filename + ".csv"
out_filename = filename + "_revise.csv"
# after the numeric_st_idx's number will be tranform to int64
numeric_st_idx = 2
# pick the columns of u wants

In [77]:
# read revise csv file and print cost time
t0 = time()
df = pd.read_csv(relative_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

time for read csv: 1.47

In [78]:
df.head()

,MINING_DW_SUBSCR_NO,VOICE_MT_HOUR_0_CNT,VOICE_MT_HOUR_1_CNT,VOICE_MT_HOUR_2_CNT,VOICE_MT_HOUR_3_CNT,VOICE_MT_HOUR_4_CNT,VOICE_MT_HOUR_5_CNT,VOICE_MT_HOUR_6_CNT,VOICE_MT_HOUR_7_CNT,VOICE_MT_HOUR_8_CNT,...,VOICE_MT_HOUR_14_TIME,VOICE_MT_HOUR_15_TIME,VOICE_MT_HOUR_16_TIME,VOICE_MT_HOUR_17_TIME,VOICE_MT_HOUR_18_TIME,VOICE_MT_HOUR_19_TIME,VOICE_MT_HOUR_20_TIME,VOICE_MT_HOUR_21_TIME,VOICE_MT_HOUR_22_TIME,VOICE_MT_HOUR_23_TIME
0,11153,0,0,0,0,0,0,2,6,0,...,125,88,275,51,122,0,9,12,0,3
1,11622,0,0,0,0,0,0,0,0,0,...,116,18,41,0,0,0,15,0,0,0
2,111054,0,0,0,0,0,0,0,0,0,...,172,0,0,17,24,0,274,19,0,0
3,111256,0,0,0,0,0,0,0,0,1,...,55,33,204,0,0,111,0,0,0,0
4,111603,0,0,0,0,0,0,0,0,0,...,1174,1053,1141,514,215,225,194,167,54,0

In [79]:
df.rename(columns=lambda x: x.replace('MT', 'MO'), inplace=True)

In [80]:
df.head()

,MINING_DW_SUBSCR_NO,VOICE_MO_HOUR_0_CNT,VOICE_MO_HOUR_1_CNT,VOICE_MO_HOUR_2_CNT,VOICE_MO_HOUR_3_CNT,VOICE_MO_HOUR_4_CNT,VOICE_MO_HOUR_5_CNT,VOICE_MO_HOUR_6_CNT,VOICE_MO_HOUR_7_CNT,VOICE_MO_HOUR_8_CNT,...,VOICE_MO_HOUR_14_TIME,VOICE_MO_HOUR_15_TIME,VOICE_MO_HOUR_16_TIME,VOICE_MO_HOUR_17_TIME,VOICE_MO_HOUR_18_TIME,VOICE_MO_HOUR_19_TIME,VOICE_MO_HOUR_20_TIME,VOICE_MO_HOUR_21_TIME,VOICE_MO_HOUR_22_TIME,VOICE_MO_HOUR_23_TIME
0,11153,0,0,0,0,0,0,2,6,0,...,125,88,275,51,122,0,9,12,0,3
1,11622,0,0,0,0,0,0,0,0,0,...,116,18,41,0,0,0,15,0,0,0
2,111054,0,0,0,0,0,0,0,0,0,...,172,0,0,17,24,0,274,19,0,0
3,111256,0,0,0,0,0,0,0,0,1,...,55,33,204,0,0,111,0,0,0,0
4,111603,0,0,0,0,0,0,0,0,0,...,1174,1053,1141,514,215,225,194,167,54,0

In [81]:
len(df)

479566

In [82]:
# write to csv and no index
t0 = time()
# aggr_df.to_csv(out_filename + ".csv", index=False, encoding='utf-8')
df.to_csv(out_filename, index=False, encoding='utf-8')
print("time for output csv file: %.2f" % (time()-t0))

time for output csv file: 9.42