In [1]:
import os.path
import numpy as np
import pandas as pd
from time import time

In [10]:
# set configure
path = "./CDR_MONTHLY_AGGR/"
filename = "CDR_USAGE_MO_HOUR_COMPLETED_4_revise_aggregate"
relative_filename = path + filename + ".csv"
out_filename = path + filename + "_revise_colname.csv"
# after the numeric_st_idx's number will be tranform to int64
numeric_st_idx = 2
# pick the columns of u wants

In [11]:
# read revise csv file and print cost time
t0 = time()
df = pd.read_csv(relative_filename, error_bad_lines=False)
print("time for read csv: %.2f" % (time()-t0))

C:\Users\VIPLAB\AppData\Local\conda\conda\envs\py36\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

time for read csv: 12.71

In [12]:
df.head()

,MINING_DW_SUBSCR_NO,VOICE_MT_HOUR_0_CNT,VOICE_MT_HOUR_1_CNT,VOICE_MT_HOUR_2_CNT,VOICE_MT_HOUR_3_CNT,VOICE_MT_HOUR_4_CNT,VOICE_MT_HOUR_5_CNT,VOICE_MT_HOUR_6_CNT,VOICE_MT_HOUR_7_CNT,VOICE_MT_HOUR_8_CNT,...,VOICE_MT_HOUR_14_TIME,VOICE_MT_HOUR_15_TIME,VOICE_MT_HOUR_16_TIME,VOICE_MT_HOUR_17_TIME,VOICE_MT_HOUR_18_TIME,VOICE_MT_HOUR_19_TIME,VOICE_MT_HOUR_20_TIME,VOICE_MT_HOUR_21_TIME,VOICE_MT_HOUR_22_TIME,VOICE_MT_HOUR_23_TIME
0,1171,0,0,0,0,0,0,0,1,1,...,123,200,35,64,97,0,0,0,0,0
1,1179,0,0,0,0,0,0,0,2,3,...,0,696,1642,203,373,464,16,205,32,0
2,1181,0,0,0,0,0,0,0,0,1,...,0,0,0,152,112,40,0,1559,0,0
3,11121,8,9,3,1,0,1,1,0,2,...,147,251,222,299,108,96,181,0,400,208
4,11131,0,0,0,0,0,0,1,1,2,...,0,220,243,452,227,197,125,463,977,0

In [13]:
df.rename(columns=lambda x: x.replace('MT', 'MO'), inplace=True)

In [14]:
df.head()

,MINING_DW_SUBSCR_NO,VOICE_MO_HOUR_0_CNT,VOICE_MO_HOUR_1_CNT,VOICE_MO_HOUR_2_CNT,VOICE_MO_HOUR_3_CNT,VOICE_MO_HOUR_4_CNT,VOICE_MO_HOUR_5_CNT,VOICE_MO_HOUR_6_CNT,VOICE_MO_HOUR_7_CNT,VOICE_MO_HOUR_8_CNT,...,VOICE_MO_HOUR_14_TIME,VOICE_MO_HOUR_15_TIME,VOICE_MO_HOUR_16_TIME,VOICE_MO_HOUR_17_TIME,VOICE_MO_HOUR_18_TIME,VOICE_MO_HOUR_19_TIME,VOICE_MO_HOUR_20_TIME,VOICE_MO_HOUR_21_TIME,VOICE_MO_HOUR_22_TIME,VOICE_MO_HOUR_23_TIME
0,1171,0,0,0,0,0,0,0,1,1,...,123,200,35,64,97,0,0,0,0,0
1,1179,0,0,0,0,0,0,0,2,3,...,0,696,1642,203,373,464,16,205,32,0
2,1181,0,0,0,0,0,0,0,0,1,...,0,0,0,152,112,40,0,1559,0,0
3,11121,8,9,3,1,0,1,1,0,2,...,147,251,222,299,108,96,181,0,400,208
4,11131,0,0,0,0,0,0,1,1,2,...,0,220,243,452,227,197,125,463,977,0

In [15]:
len(df)

5170385

In [16]:
# write to csv and no index
t0 = time()
# aggr_df.to_csv(out_filename + ".csv", index=False, encoding='utf-8')
df.to_csv(out_filename, index=False, encoding='utf-8')
print("time for output csv file: %.2f" % (time()-t0))

time for output csv file: 94.92