In [36]:
import os.path
import numpy as np
import pandas as pd
from time import time

In [37]:
path = "D:/NEW_DATA_FULL_2017_6_30/"
filename = "MDS_April_All_SINGLE_SIM_COMPLETED"
# relative_filename = path + filename + ".csv"
relative_filename = path + filename + ".txt"

In [38]:
want_cols = ["MINING_DW_SUBSCR_NO", "PTY_CBU_PO_CNT", "RPS_NAME", "SUBSCR_STATUS_CODE", "TENURE_SCV", "DORMANT_MONTH_CNT_MKT"]

In [29]:
# read csv file and print cost time
t0 = time()
df = pd.read_csv(relative_filename, error_bad_lines=False, usecols = want_cols, sep = '\t')
print("time for read csv: %.2f" % (time()-t0))

time for read csv: 25.85

In [30]:
df.head()

,MINING_DW_SUBSCR_NO,RPS_NAME,SUBSCR_STATUS_CODE,TENURE_SCV,DORMANT_MONTH_CNT_MKT,PTY_CBU_PO_CNT
0,8134330931,ENTERPRISE-SOLUTION-MVPN,A,21.0,0,1
1,2118544651,CONSUMER MOBILITY,A,226.0,0,1
2,10000337216,CONSUMER MOBILITY,A,7.0,0,1
3,3133428916,CONSUMER MOBILITY,A,24.1,0,1
4,3119268553,CONSUMER MOBILITY,A,94.1,3,1

In [19]:
filter_df = df[df["PTY_CBU_PO_CNT"] == 1]
len(filter_df)

2596797

In [20]:
filter_df = df[df["RPS_NAME"] == "CONSUMER MOBILITY"]
len(filter_df)

2528129

In [21]:
filter_df = df[df["SUBSCR_STATUS_CODE"] == "A"]
len(filter_df)

2513147

In [22]:
filter_df = df[df["TENURE_SCV"] >= 3]
len(filter_df)

2466315

In [31]:
filter_df = df[(df["RPS_NAME"] == "CONSUMER MOBILITY") & (df["SUBSCR_STATUS_CODE"] == "A") & (df["TENURE_SCV"] >= 3) & (df["DORMANT_MONTH_CNT_MKT"] < 2)]
len(filter_df)

2246384

In [32]:
filter_df.head()

,MINING_DW_SUBSCR_NO,RPS_NAME,SUBSCR_STATUS_CODE,TENURE_SCV,DORMANT_MONTH_CNT_MKT,PTY_CBU_PO_CNT
1,2118544651,CONSUMER MOBILITY,A,226.0,0,1
2,10000337216,CONSUMER MOBILITY,A,7.0,0,1
3,3133428916,CONSUMER MOBILITY,A,24.1,0,1
5,3135493626,CONSUMER MOBILITY,A,16.9,0,1
6,3125061767,CONSUMER MOBILITY,A,60.6,0,1

In [33]:
filter_df["DORMANT_MONTH_CNT_MKT"].describe()

count    2.246384e+06
mean     1.053916e-02
std      1.021180e-01
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.000000e+00
Name: DORMANT_MONTH_CNT_MKT, dtype: float64

In [35]:
t0 = time()
path = "./"
out_filename = "20170728_single_sims_filter.csv"
filter_df.to_csv(path + out_filename, index=False)
print("time for output csv file: %.2f" % (time()-t0))

time for output csv file: 8.32