In [25]:
import os.path
import numpy as np
import pandas as pd
from time import time

In [26]:
def save_dataframe(df, out_filename):
   # write to csv and no index
    t0 = time()
    df.to_csv(out_filename + ".csv", index=False, encoding='utf-8')
#     df.to_csv(out_filename + ".csv", encoding='utf-8')
    print("time for output csv file: %.2f" % (time()-t0))

In [27]:
# set configure
# path = "./CDR_MONTHLY_AGGR/"
path = "D:/NEW_DATA_FULL_2017_6_30/"
# path = "C:/Users/VIPLAB/Downloads/Spark_data/"
# path = "./"
filename = "MDS_April_All_SINGLE_SIM_COMPLETED"

# path = "./"
# filename = "dm_subscr_mtc_mly_COMPLETED_revise"
# relative_filename = path + filename + ".csv"
relative_filename = path + filename + ".txt"

In [28]:
# read csv file and print cost time
t0 = time()
# df = pd.read_csv(relative_filename, usecols = wants_cols, error_bad_lines=False, nrows = 100000)
# df = pd.read_csv(relative_filename, error_bad_lines=False, nrows = 10)
# df = pd.read_csv(relative_filename, error_bad_lines=False, sep = '\t', nrows = 100000)
df = pd.read_csv(relative_filename, error_bad_lines=False, sep = '\t')
print("time for read csv: %.2f" % (time()-t0))

C:\Users\VIPLAB\AppData\Local\conda\conda\envs\py36\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (24,28,76,97,259,260,261,264,267,270,273,276) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

time for read csv: 102.16

In [29]:
len(df)

2596797

In [30]:
df.head()

,DATA_MONTH,MINING_DW_SUBSCR_NO,CURR_SUBSCR_ID,DATA_MONTH_RPT_TEMP1,DATA_MONTH_RPT_TEMP2,DATA_MONTH_RPT,DW_PARTY_ID,RENEW_IND,GA_IND,ACTV_TYPE,...,L2M_DEVICE_MODEL,L2M_DEVICE_PRICE_TIER,L2M_DEVICE_TYPE,HS_CHG_CNT,AVG_HS_USE_MONTH,AVG_HS_USE_MONTH_EX_CURR,ZONE_ACTV_IVR_COUNTRY,ZONE_ACTV_IVR_REGION,STORE_TYPE,SPAUTH_IND
0,2017/4/1,8134330931,327624391,2017/4/1,2017/4/1,2017/4/1,7508599,N,N,PURE GA,...,?,?,?,1,7.0,?,?,?,Mini-New(Y2013),N
1,2017/4/1,2118544651,340264445,2017/4/1,2017/4/1,2017/4/1,5638034,N,N,PURE GA,...,5310 XpressMusic,?,2G H/S,3,33.0,40,?,?,?,N
2,2017/4/1,10000337216,341414412,2017/4/1,2017/4/1,2017/4/1,6556494,N,N,MNP,...,?,?,?,?,?,?,高雄市,左營區,Store,N
3,2017/4/1,3133428916,326979481,2017/4/1,2017/4/1,2017/4/1,14170468,N,N,MNP,...,?,?,?,1,6.0,?,新北市,瑞芳區,Store,N
4,2017/4/1,3119268553,328969946,2017/4/1,2017/4/1,2017/4/1,10424960,N,N,MNP,...,?,?,?,2,32.0,24,?,?,?,N

In [31]:
len(df.columns)

305

In [32]:
# https://stackoverflow.com/questions/25039626/find-numeric-columns-in-pandas-python

In [33]:
# 將是數值欄位的col和value都秀出來
# df._get_numeric_data()

In [34]:
#秀出???
# df.select_dtypes(include=[np.number])

In [35]:
# 秀出數值的欄位名稱 columns name
list(df.select_dtypes(include=[np.number]).columns.values)

['MINING_DW_SUBSCR_NO',
 'CURR_SUBSCR_ID',
 'DW_PARTY_ID',
 'P6M_AVG_NET_INV_AMT',
 'TENURE_SCV',
 'DORMANT_MONTH_CNT_MKT',
 'PTY_EVER_PO_CNT',
 'PTY_EVER_PP_CNT',
 'MULTI_SIM_EXCLUDE_WBB',
 'MULTI_SIM_INCLUDE_WBB',
 'ANOTHER_ACTIVE_VD',
 'ANOTHER_ACTIVE_D',
 'PTY_CBU_EBU_PO_CNT',
 'PTY_CBU_PO_CNT',
 'PTY_CBU_PO_V_CNT',
 'PTY_CBU_PO_VD_CNT',
 'PTY_CBU_PO_D_CNT',
 'PTY_EBU_PO_CNT',
 'PTY_PO_ALL_CNT',
 'MDS_CURR_RENEW_CNT',
 'L6M_AVG_NET_INV_AMT',
 'NET_INV_AMT',
 'L1M_NET_INV_AMT',
 'L2M_NET_INV_AMT',
 'L3M_NET_INV_AMT',
 'GPRS_AMT',
 'L1M_GPRS_AMT',
 'L2M_GPRS_AMT',
 'L3M_GPRS_AMT',
 'AGENCY_AMT',
 'SMS_INV_AMT',
 'L3M_AVG_NET_INV_AMT',
 'L6M_AVG_GPRS_AMT',
 'L3M_AVG_SMS_INV_AMT',
 'BOOSTER_AMT',
 'MT_STM_AMT',
 'VOICE_RC_AMT',
 'DATA_RC_AMT',
 'ONNET_AMT',
 'OFFNETM_AMT',
 'PSTN_AMT',
 'INT_ROAM_AMT',
 'IDD_AMT',
 'VAS_AMT',
 'NRC_AMT',
 'DATA_INV_AMT',
 'VOICE_INV_AMT',
 'MO_TTL_DURATION',
 'MO_ONNET_DUR',
 'MO_OFFNET_DUR',
 'PSTN_DUR',
 'MO_TTL_COUNT',
 'MO_ONNET_CNT',
 'MO_OFFNET_CNT',
 'PSTN_CNT',
 'MT_TTL_DURATION',
 'MT_ONNET_DUR',
 'MT_OFFNET_DUR',
 'MT_PSTN_DUR',
 'MT_TTL_COUNT',
 'MT_ONNET_CNT',
 'MT_OFFNET_CNT',
 'MT_PSTN_CNT',
 'L3M_AVG_VAS_MB',
 'L6M_AVG_VAS_MB',
 'P2P_SMS_MO_CNT',
 'W2P_SMS_MO_CNT',
 'OTH_SMS_MO_CNT',
 'SMS_MO_FET_CNT',
 'P2P_SMS_MO_ONNET_CNT',
 'W2P_SMS_MO_ONNET_CNT',
 'SMS_MO_OFFNET_CNT',
 'P2P_SMS_MO_OFFNET_CNT',
 'W2P_SMS_MO_OFFNET_CNT',
 'SMS_MO_INT_CNT',
 'P2P_SMS_MO_INT_CNT',
 'W2P_SMS_MO_INT_CNT',
 'SMS2P_SMS_MO_CNT',
 'SMS2AP_SMS_MO_CNT',
 'DATA_USAGE_MB',
 'L1M_DATA_USAGE_MB',
 'L2M_DATA_USAGE_MB',
 'L3M_DATA_USAGE_MB',
 'MOC_FET_DUR',
 'MOC_TWM_DUR',
 'MOC_CHM_DUR',
 'MOC_OTH_DUR',
 'MOC_PSTN_DUR',
 'MOST_MO_DUR',
 'MTC_FET_DUR',
 'MTC_TWM_DUR',
 'MTC_CHM_DUR',
 'MTC_PSTN_DUR',
 'MOST_MT_DUR',
 'VOICE_MONTHLY_FEE',
 'DATA_MONTHLY_FEE',
 'TOTAL_MONTHLY_FEE',
 'L1M_VOICE_MONTHLY_FEE',
 'L1M_DATA_MONTHLY_FEE',
 'DATA_RATING_USAGE_MB']

In [36]:
len(list(df.select_dtypes(include=[np.number]).columns.values))

100

In [37]:
numeric_cols = list(df.select_dtypes(include=[np.number]).columns.values)
numeric_cols.remove('CURR_SUBSCR_ID')
numeric_cols.remove('DW_PARTY_ID')
len(numeric_cols)

98

In [38]:
numeric_cols

['MINING_DW_SUBSCR_NO',
 'P6M_AVG_NET_INV_AMT',
 'TENURE_SCV',
 'DORMANT_MONTH_CNT_MKT',
 'PTY_EVER_PO_CNT',
 'PTY_EVER_PP_CNT',
 'MULTI_SIM_EXCLUDE_WBB',
 'MULTI_SIM_INCLUDE_WBB',
 'ANOTHER_ACTIVE_VD',
 'ANOTHER_ACTIVE_D',
 'PTY_CBU_EBU_PO_CNT',
 'PTY_CBU_PO_CNT',
 'PTY_CBU_PO_V_CNT',
 'PTY_CBU_PO_VD_CNT',
 'PTY_CBU_PO_D_CNT',
 'PTY_EBU_PO_CNT',
 'PTY_PO_ALL_CNT',
 'MDS_CURR_RENEW_CNT',
 'L6M_AVG_NET_INV_AMT',
 'NET_INV_AMT',
 'L1M_NET_INV_AMT',
 'L2M_NET_INV_AMT',
 'L3M_NET_INV_AMT',
 'GPRS_AMT',
 'L1M_GPRS_AMT',
 'L2M_GPRS_AMT',
 'L3M_GPRS_AMT',
 'AGENCY_AMT',
 'SMS_INV_AMT',
 'L3M_AVG_NET_INV_AMT',
 'L6M_AVG_GPRS_AMT',
 'L3M_AVG_SMS_INV_AMT',
 'BOOSTER_AMT',
 'MT_STM_AMT',
 'VOICE_RC_AMT',
 'DATA_RC_AMT',
 'ONNET_AMT',
 'OFFNETM_AMT',
 'PSTN_AMT',
 'INT_ROAM_AMT',
 'IDD_AMT',
 'VAS_AMT',
 'NRC_AMT',
 'DATA_INV_AMT',
 'VOICE_INV_AMT',
 'MO_TTL_DURATION',
 'MO_ONNET_DUR',
 'MO_OFFNET_DUR',
 'PSTN_DUR',
 'MO_TTL_COUNT',
 'MO_ONNET_CNT',
 'MO_OFFNET_CNT',
 'PSTN_CNT',
 'MT_TTL_DURATION',
 'MT_ONNET_DUR',
 'MT_OFFNET_DUR',
 'MT_PSTN_DUR',
 'MT_TTL_COUNT',
 'MT_ONNET_CNT',
 'MT_OFFNET_CNT',
 'MT_PSTN_CNT',
 'L3M_AVG_VAS_MB',
 'L6M_AVG_VAS_MB',
 'P2P_SMS_MO_CNT',
 'W2P_SMS_MO_CNT',
 'OTH_SMS_MO_CNT',
 'SMS_MO_FET_CNT',
 'P2P_SMS_MO_ONNET_CNT',
 'W2P_SMS_MO_ONNET_CNT',
 'SMS_MO_OFFNET_CNT',
 'P2P_SMS_MO_OFFNET_CNT',
 'W2P_SMS_MO_OFFNET_CNT',
 'SMS_MO_INT_CNT',
 'P2P_SMS_MO_INT_CNT',
 'W2P_SMS_MO_INT_CNT',
 'SMS2P_SMS_MO_CNT',
 'SMS2AP_SMS_MO_CNT',
 'DATA_USAGE_MB',
 'L1M_DATA_USAGE_MB',
 'L2M_DATA_USAGE_MB',
 'L3M_DATA_USAGE_MB',
 'MOC_FET_DUR',
 'MOC_TWM_DUR',
 'MOC_CHM_DUR',
 'MOC_OTH_DUR',
 'MOC_PSTN_DUR',
 'MOST_MO_DUR',
 'MTC_FET_DUR',
 'MTC_TWM_DUR',
 'MTC_CHM_DUR',
 'MTC_PSTN_DUR',
 'MOST_MT_DUR',
 'VOICE_MONTHLY_FEE',
 'DATA_MONTHLY_FEE',
 'TOTAL_MONTHLY_FEE',
 'L1M_VOICE_MONTHLY_FEE',
 'L1M_DATA_MONTHLY_FEE',
 'DATA_RATING_USAGE_MB']

# Combine Marketing data and Groups

In [39]:
numeric_df = df[numeric_cols]

In [40]:
# user_df.sort_values(["AGE"], inplace = True)
numeric_df = numeric_df.set_index("MINING_DW_SUBSCR_NO")
numeric_df.sort_index(inplace = True)
numeric_df["Groups"] = np.nan

In [41]:
numeric_df.head()

,P6M_AVG_NET_INV_AMT,TENURE_SCV,DORMANT_MONTH_CNT_MKT,PTY_EVER_PO_CNT,PTY_EVER_PP_CNT,MULTI_SIM_EXCLUDE_WBB,MULTI_SIM_INCLUDE_WBB,ANOTHER_ACTIVE_VD,ANOTHER_ACTIVE_D,PTY_CBU_EBU_PO_CNT,...,MTC_CHM_DUR,MTC_PSTN_DUR,MOST_MT_DUR,VOICE_MONTHLY_FEE,DATA_MONTHLY_FEE,TOTAL_MONTHLY_FEE,L1M_VOICE_MONTHLY_FEE,L1M_DATA_MONTHLY_FEE,DATA_RATING_USAGE_MB,Groups
MINING_DW_SUBSCR_NO,,,,,,,,,,,,,,,,,,,,,
1179,1088.04,188.2,0,1,1,0,1,0,0,1,...,1358,238,9720,598,775,1373,598,775,2993,NaN
1181,515.67,188.2,0,1,1,0,2,0,0,1,...,357,44,608,0,599,599,0,599,2427,NaN
11121,1718.87,188.2,0,2,2,0,1,0,0,1,...,587,509,587,0,1399,1399,0,1399,2192,NaN
11145,1300.15,188.2,0,2,1,0,1,0,0,1,...,52,0,1778,0,999,999,0,999,2152,NaN
11149,656.37,188.2,0,3,0,0,1,0,0,1,...,2284,110,2284,0,599,599,0,599,1653,NaN

# LOAD MINING USER's Group

In [42]:
path = "./"
relative_filename = path + "DNA_KMEANS_RESULT_ID_NEW" + ".csv"
wants_cols = ["MINING_DW_SUBSCR_NO", "Groups"]
group_df =  pd.read_csv(relative_filename, error_bad_lines=False, usecols = wants_cols)

In [43]:
group_df = group_df.set_index("MINING_DW_SUBSCR_NO")
group_df.sort_index(inplace = True)

In [44]:
marketing_group = numeric_df[['Groups']]
marketing_group.update(group_df)
numeric_df[['Groups']] = marketing_group

C:\Users\VIPLAB\AppData\Local\conda\conda\envs\py36\lib\site-packages\pandas\core\frame.py:3863: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  raise_on_error=True)

In [46]:
numeric_df.groupby('Groups').count()

,P6M_AVG_NET_INV_AMT,TENURE_SCV,DORMANT_MONTH_CNT_MKT,PTY_EVER_PO_CNT,PTY_EVER_PP_CNT,MULTI_SIM_EXCLUDE_WBB,MULTI_SIM_INCLUDE_WBB,ANOTHER_ACTIVE_VD,ANOTHER_ACTIVE_D,PTY_CBU_EBU_PO_CNT,...,MTC_TWM_DUR,MTC_CHM_DUR,MTC_PSTN_DUR,MOST_MT_DUR,VOICE_MONTHLY_FEE,DATA_MONTHLY_FEE,TOTAL_MONTHLY_FEE,L1M_VOICE_MONTHLY_FEE,L1M_DATA_MONTHLY_FEE,DATA_RATING_USAGE_MB
Groups,,,,,,,,,,,,,,,,,,,,,
1,407597,407597,407597,407597,407597,407597,407597,407597,407597,407597,...,407597,407597,407597,407597,407597,407597,407597,407597,407597,407597
2,184644,184644,184644,184644,184644,184644,184644,184644,184644,184644,...,184644,184644,184644,184644,184644,184644,184644,184644,184644,184644
3,105809,105809,105809,105809,105809,105809,105809,105809,105809,105809,...,105809,105809,105809,105809,105809,105809,105809,105809,105809,105809
4,116958,116958,116958,116958,116958,116958,116958,116958,116958,116958,...,116958,116958,116958,116958,116958,116958,116958,116958,116958,116958
5,110474,110474,110474,110474,110474,110474,110474,110474,110474,110474,...,110474,110474,110474,110474,110474,110474,110474,110474,110474,110474
6,146047,146047,146047,146047,146047,146047,146047,146047,146047,146047,...,146047,146047,146047,146047,146047,146047,146047,146047,146047,146047
7,164149,164149,164149,164149,164149,164149,164149,164149,164149,164149,...,164149,164149,164149,164149,164149,164149,164149,164149,164149,164149
8,490166,490166,490166,490166,490166,490166,490166,490166,490166,490166,...,490166,490166,490166,490166,490166,490166,490166,490166,490166,490166
None,531990,531990,531990,531990,531990,531990,531990,531990,531990,531990,...,531990,531990,531990,531990,531990,531990,531990,531990,531990,531990
seldom,338963,338963,338963,338963,338963,338963,338963,338963,338963,338963,...,338963,338963,338963,338963,338963,338963,338963,338963,338963,338963

# save numeric data

In [ ]:
path = "./marketing_analyze/"
out_filename = path + "april_marketing_anylze_numeric"
save_dataframe(numeric_df, out_filename)